<?php if ($block->isGoogleAnalyticsAvailable()): ?>
    <!-- Google Analytics -->
    <script>
        window.ga = window.ga || function () {
            (ga.q = ga.q || []).push(arguments)
        };
        ga.l = +new Date;
        ga('create', '<?= $block->getGoogleAnalaticsCode() ?>', 'auto');
        ga('send', 'event', 'Search', 'ZeroResults', '<?= $block->getSearchTerm(); ?>');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
<?php endif; ?>

<div class="noresult-info-container">
    <h3 class="noresult-heading">Zoektips</h3>
    <ul class="noresult-contact-info noresult-tips">
        <li>- is de spelling correct?</li>
        <li>- probeer 1 woord te gebruiken</li>
        <li>- probeer minder specifiek te zoeken</li>
    </ul>

    <span class="noresult-green-text">Komt u er niet uit? Geen probleem, we helpen u graag verder aan de helpdesk:</span>
    <ul class="noresult-contact-info">
        <li>- telefonisch: 085 40 139 40</li>
        <li>- e-mail: info@misteragri.com</li>
        <li>- contactformulier: rechts</li>
        <li>- chat: zie rechts onderin</li>
    </ul>
</div>