<?php
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper('Magento\Search\Helper\Data');
?>
<div class="block block-search">
    <div class="block block-title"><strong><?php /* @escapeNotVerified */ echo __('Search'); ?></strong></div>
    <div class="block block-content">
        <form class="form minisearch" id="search_mini_form" action="<?php /* @escapeNotVerified */ echo $helper->getResultUrl() ?>" method="get">
            <div class="field search">
                <label class="label" for="search" data-role="minisearch-label">
                    <span><?php /* @escapeNotVerified */ echo __('Search'); ?></span>
                </label>
                <div class="control">
                    <input id="search"
                           type="text"
                           name="<?php /* @escapeNotVerified */ echo $helper->getQueryParamName() ?>"
                           value="<?php /* @escapeNotVerified */ echo $helper->getEscapedQueryText() ?>"
                           placeholder="<?php /* @escapeNotVerified */ echo __('Search entire store here...'); ?>"
                           class="input-text"
                           maxlength="<?php /* @escapeNotVerified */ echo $helper->getMaxQueryLength(); ?>"
                           role="combobox"
                           aria-haspopup="false"
                           aria-autocomplete="both"
                           autocomplete="off"
                           data-block="autocomplete-form"/>

                    <button type="submit"
                            title="<?= $block->escapeHtml(__('Search')) ?>"
                            class="action search mini-search-button">
                        <span><?= /* @escapeNotVerified */ __('Search') ?></span>
                    </button>

                    <div class="cancel-search">
                        <span><?= /* @escapeNotVerified */ __('Cancel') ?></span>
                    </div>

                    <div id="search_autocomplete" class="search-autocomplete"></div>
                    <?php echo $block->getChildHtml() ?>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/x-magento-init">
    {
    "#search" :
    {
    "quickSearch" :
    {
    "formSelector":"#search_mini_form",
    "url":"<?php /* @escapeNotVerified */ echo $block->getUrl('search/ajax/suggest'); ?>",
    "destinationSelector":"#search_autocomplete",
    "templates": <?php /* @noEscape */ echo $block->getJsonSuggestRenderers(); ?>,
    "priceFormat" : <?php /* @noEscape */ echo $block->getJsonPriceFormat(); ?>
    }
    }
    }
</script>
