// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Using buttons mixins
    button,
    a.action.primary {
        .lib-css(border-radius, @button__border-radius);
    }

    button {
        &:active {
            .lib-css(box-shadow, @button__shadow);
        }
    }
}
