// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

& when (@media-common = true) {
    .lib-font-face(
        @family-name: @icons__font-name,
        @font-path: @icons__font-path,
        @font-weight: normal,
        @font-style: normal
    );
}

.minicart-wrapper .action.showcart:before {
    text-align: center;
    line-height: inherit;
    // font-size: 35px !important;
    padding: 0;
    color: @white;
}

.minicart-wrapper .action.showcart {
    // text-align: center;
    padding: 0px 15px;
}
