@import '_variables.less';
@import (reference) '_extends.less';
@import '_typography.less';
@import '_layout.less';
@import '_tables.less';
@import '_messages.less';
@import '_navigation.less';
@import '_tooltips.less';
@import '_loaders.less';
@import '_forms.less';
@import '_icons.less';
@import '_buttons.less';
@import '_sections.less';
@import '_pages.less'; // Theme pager
@import '_actions-toolbar.less';
@import '_breadcrumbs.less';
@import '_popups.less';
@import '_price.less';

/** LOADING MOBILE STYLES */
@media only screen and (max-device-width: 767px) {
    @import '_base-mobile.less';
}
/** LOADING TABLET STYLES */
@media only screen and (max-device-width: 1024px) {
    @import '_base-tablet.less';
}
/** LOADING DESKTOP STYLES */
@media only screen and (min-device-width: 768px) {
    @import '_base-desktop.less';
}