& when (@media-common = true) {

    body{
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    }

    input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-inner-spin-button:hover{
        display:none !important;
    }

    h3, h4, h5 {
        font-weight:bold !important;
    }

    h5 {
        color: #999 !important;
        font-size: 1.4rem !important;
    }

    .panel.wrapper {
        background-color: @base-color!important;
        z-index: 999;
        width: 100%;
        left: 0;
        min-height: 65px;
        top: 0;
    }

    .facebook-icon:before {
        content: "\f082"!important;
        font-family: FontAwesome;
        font-size: 36px!important;
        color: #15719f;
    }

    .youtube-icon:before {
        content: "\f167"!important;
        font-family: FontAwesome;
        font-size: 36px!important;
        color: firebrick;
    }

    .td-middle-align {
        vertical-align:middle;
    }

    

    .modal-popup {
        z-index:1000 !important;
    }

    .subtotal:not(div){
        padding-right:0;
    }

    .home_in_stock {
        background-image: none!important;
        width: 80%;
        float: left;
        color: #008500;
        font-weight: bold;
        padding-left: 0!important;
        text-align: left;
    }

    .home_out_stock {
        background-image: none!important;
        width: 100%;
        float: left;
        color: red;
        font-weight: bold;
        padding-left: 0!important;
        text-align: left;
    }

    .home_in_stock:before {
        content: '\f058';
        font-family: FontAwesome;
        margin-right: 3px;
    }

    .home_out_stock:before {
        content: '\f058';
        font-family: FontAwesome;
        margin-right: 3px;
    }

    .more-info-button-text {
        float: left;
        width: 100%;
        clear: both;
        text-align: left;
    }

    .more-info-button-text:before {
        content: "\f054 ";
        font-family: FontAwesome;
        float: right;
        padding-top: 2px;
    }

    

    p.expected_date, p.expected_pro_page {
        margin: 0;
    }

    .price-excluding-tax {
        margin-top: 0!important;
    }

    /** MAGENTO SPECIFIC STYLES */
    .actions-secondary {
        display: none!important;
    }

    .home-top-toolbar {
        display: none;
        height: 30px;
    }

    .page-title-wrapper {
        display: none;
    }

    .ui-dialog {
        border: none!important;
        background: none!important;
        box-shadow: none!important;
        padding: 0!important;
    }

    .navigation,.breadcrumbs,
    .page-header .header.panel,
    .header.content,
    .footer.content,
    .page-main,
    .page-wrapper>.widget,
    .page-wrapper>.page-bottom,
    .block.category.event,
    .top-container {
        padding-left: 0;
        padding-right: 0;
    }

    .breadcrumbs {
        order: -1;
        float: left;
        width: 100% !important;
        padding-left: 0!important;

        > .items {
            > .item {
                font-size: 16px;
            }
        }

        .items {
            .item {
                font-size: 16px;
                word-break: break-word;

                a {
                    font-size: 16px;
                    color: @a-color;
                    word-break: break-word;
                }

                a:hover {
                    text-decoration:underline !important;
                }
            }
        }
    }

    .filter-options {
        > .filter-options-content {
            > .items {
                > .item {
                    > a:hover {
                        text-decoration:underline !important;
                    }
                }
            }
        }
    }

    .breadcrumbs {
        .item:not(:last-child):after {
            content: " / "!important;
        }
    }

    .info-box {
        width:300px;
    }

    .page-title {
        display:none!important;
    }

    

    .mr-field-qty {
        width:100%;
        display:inline-block;
        margin:0px;
        padding-top:10px;
        padding-bottom:10px;
    }

    .mr-qty-input {
        width: 60px !important;
        text-align: center;
        margin-right: 5px;
    }

    .mr-control {
        float:right;
    }

    .mr-tocart {
        width:100%;
        margin:0;
        display:block;
        height:50px;
        border-radius:0;
        font-size:14px;
        background-color:#06BC01!important;
    }

    .mr-menu-item {
        a {
            display: block;
            color: #666;
            padding: 0;
            text-decoration: none;
            border-top: 1px solid @extra-light-gray;
            font-size: 16px;
            line-height: 50px;
        }
    }

    

    /** Section for group product */

    .group-list-image {
        width: 40px;
        height: 40px;
        float: left;
        margin: 5px;
    }

    .group-product-items {
        width: 100%;
        height: auto;
        display: inline-block;
        border: solid 1px gray;
        padding: 10px;
        margin: 20px 0 10px 0;
    }

    .group-table-row {
        width: 100%;
        padding: 10px;
    }

    .group-table-row:not(:last-child) {
        border-bottom: solid 1px lightgray;
    }

    .group-list-image > .product-image-container > .product-image-wrapper > .product-image-photo {
        position: initial !important;
    }

    .group-product-main-image > .product-image-container {
        margin-left: auto;
        margin-right: auto;
        width: auto!important;
        display: block;
    }

    .group-product-main-image > .product-image-container > .product-image-wrapper > .product-image-photo{
        width: auto !important;
        height: auto !important;
    } 

    td.group-table-cell {
        vertical-align: middle;
    }

    .group-product-table-header{
        background: #e2e2e2;
    }

    .group-add-to-cart-button {
        width: initial !important;
    }

    .group-product-add-to-cart-container {
        display: flex;
    }

    .group-field-qty {
        display: flex;
        padding-top: 10px;
    }

    .group-field-container{
        display: flex;
        text-align: center;
    }

    .group-control {
        padding-left: 10px;
    }

    .group-qty-label{
        padding: 6px 5px 0 0;
    }

    .group-item-container{
        display: none;
    }

    .group-control{
        padding-left: 0;
    }

    .group-product-item-link{
        text-decoration: none !important;
        font-weight: bold !important;
        line-height: 18px;
        overflow: hidden;
        display: inherit;
        height: 35px !important;
    }

    .group-page-description {
        float: right;
        width: auto;
        display: contents;
    }

    .group-product-main-image {
        margin: 20px !important;
        max-width: 700px;
        max-height: 700px;
        display: block;
        position: relative;
        float: left;
    }

    .group-top-section {
        display: block;
        width: 100%;
        height: auto;
    }

    .group-qty-input {
        width: 60px !important;
        text-align: center;
        margin-right: 5px;
    }

    /** USP STYLES */
    .usp-li-class{
        list-style-type: disc;
        line-height: 6px;
    } 

    .download_attachment{
        text-align: center;
        width: 100%;
        display: block;
    }

    .price-box.price-final_price{
        display: grid;
    }

    #registration > div > form > .action.primary{
        width: initial;
    }

    .product-custom-option {
        width: 20px;
    }

    #switcher-currency-trigger{
        display: none;
    }

    .fieldset {
        width:100%;
        display:block;
        margin: 0;
    }

    .contact {
        width:100%;
        display:grid !important;
    }

    .contact-us-middle-col {
        > .contact {
            > .actions-toolbar {
                padding-left: 160px;
                order: 1;
                margin-bottom: 10px;
            }
        }
    }

    .g-recaptcha {
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: 160px;
        order: 0;
    }

    select.product-custom-option{
        width: 100%;
    }

    .product-cpi-custom-options{
        margin: 10px;
    }
}