.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .menu-mobile {
        display: none;
        padding: 20px;
        &:after {
            content: "\f394";
            font-size: 2.5rem;
            padding: 0;
            float: right;
            position: relative;
            top: 50%;
            transform: translateY(-25%);
        }
    }
    .menu-dropdown-icon {
        &:before {
            content: "\f489";
            display: none;
            cursor: pointer;
            float: right;
            padding: 1.5em 2em;
            background: #fff;
            color: #333;
        }
    }

    .menu {
        > ul {
            margin: 0 auto;
            width: 100%;
            list-style: none;
            padding: 0;
            position: relative;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            &:before,
                &:after {
                content: "";
                display: table;
            }
            &:after {
                clear: both;
            }
            > li {
                float: left;
                background: #fff;
                padding: 0;
                margin: 0;
                a {
                    text-decoration: none;
                    padding: 1.5em 3em;
                    display: block;
                }
                &:hover {
                    background: #f0f0f0;
                }
                > ul {
                    display: none;
                    width: 100%;
                    padding: 20px;
                    position: absolute;
                    z-index: 99;
                    left: 0;
                    margin: 0;
                    list-style: none;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    border: #f0f0f0 solid 1px;
                    background: white;
                    border-bottom: solid @base-color 2px;
                    margin-top: 35px;
                    max-height: 760px;
                    overflow: scroll;
                    overflow-y: auto;
                    overflow-x: auto;
                    column-gap: 1em;
                    -moz-column-count: 5;
                    -webkit-column-count: 5;
                    column-count: 5;
                    &:before,
                        &:after {
                        content: "";
                        display: table;
                    }
                    &:after {
                        clear: both;
                    }
                    > li {
                        margin: 0;
                        padding-bottom: 0;
                        list-style: none;
                        width: 25%;
                        background: none;
                        a {
                            color: #000;
                            padding: .2em 0;
                            width: 95%;
                            display: block;
                        }
                        > ul {
                            display: block;
                            padding: 0;
                            margin: 10px 0 0;
                            list-style: none;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            &:before,
                                &:after {
                                content: "";
                                display: table;
                            }
                            &:after {
                                clear: both;
                            }
                            > li {
                                float: left;
                                width: 100%;
                                margin: 0;
                                font-size: 13px;
                                a {
                                    border: 0;
                                }
                            }
                        }
                    }
                    &.normal-sub {
                        /*width: 300px;
                        left: auto;
                        padding: 10px 20px;*/
                        > li {
                            width: 100%;
                            a {
                                border: 0;
                                padding: 1em 0;
                            }
                        }
                    }
                }
            }
        }
    }

    /* NUWAN */
    .nav-sections-item-content {
        display: block;
        width: 100%;
    }

    .column > ul > li > a {
        color: @a-color !important;
    }

    .menu .topstatic,.menu .bottomstatic {
        clear: both
    }
    .menu .leftstatic {
        float: left;
        margin-right: 15px;
    }
    .menu .rightstatic {
        float: right;
    }

    .menu > ul > li {
        line-height: 50px!important;
        display: block;
        padding: 10px 5px 10px 0px !important;
    }

    .level1 > a {
        font-weight: bold!important;
        font-size: 16px;
    }

    .menu > ul > li > ul > li > ul > li {
        padding: 0!important;
    }

    .column-submenu {
        background: white;
    }

    .level1 > .submenu > .level2 > a {
        background: white;
        font-weight: normal;
    }

    .column > ul > .level1 {
        background: white !important;
    }

    li.column, .column-submenu {
        background: white !important;
    }

    @-moz-document url-prefix() {
        .menu > ul > li > ul {
            column-gap: 1em;
            -moz-column-count: 5;
            -webkit-column-count: 5;
            column-count: 5;
        }

        .menu > ul > li > ul > .column {
            -moz-page-break-inside: avoid;
            -webkit-column-break-inside: avoid;
            break-inside: avoid;
            -o-column-break-inside: avoid;
            -ms-column-break-inside: avoid;
            column-break-inside: avoid;
            page-break-inside: avoid;
            width: 100%;
        }
    }

    .menu > ul > li > ul > .column {
        display: block;
        margin: 0;
        width: 100%;
    }

    .level3 {
        display: none !important;
    }

    a.level2-menu-item:hover{
        color: #d77428!important;
    }
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 767px) { 
    .menu-container {
        width: 100%;
    }
    .menu-mobile {
        display: block;
    }
    .menu-dropdown-icon {
        &:before {
            display: block;
        }
    }
    .menu {
        > ul {
            display: none;
            > li {
                width: 100%;
                float: none;
                display: block;
                a {
                    padding: 1.5em;
                    width: 100%;
                    display: block;
                }
                > ul {
                    position: relative;
                    &.normal-sub {
                        width: 100%;
                    }
                    > li {
                        float: none;
                        width: 100%;
                        margin-top: 20px;
                        &:first-child {
                            margin: 0;
                        }
                        > ul {
                            position: relative;
                            > li {
                                float: none;
                            }
                        }
                    }
                }
            }
        }
        .show-on-mobile {
            display: block;
        }
    }
    .topstatic,.bottomstatic {
        display:none;
    }
    .leftstatic {
        display:none;
    }
    .rightstatic {
        display:none;
    }
}
@media all and (min-width: 767px) { /* Change Width Here */
    #dm {
        display: none;
    }
    #om {
        display: block;
    }
}
@media all and (max-width: 767px) { /* Change Width Here */
    #dm {     
        display: block;
    }
    #om {
        display: none;
    }
}