// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

@common-green: #06BC01;
@common-green-hover: #007400;
@dark-green: #008500;

@dark-blue: #002753;
@base-color: #15719f;
@a-color: #15719f;
@a-hover-color: #15719f;
@base-color-rgba: rgba(21, 113, 159, 0.9);

@dark: #333;
@dark-gray: #666;
@light-gray:#838383;
@gray-lines : #d3d3d3;
@footer-background: #e2e2e2;
@extra-light-gray : #f6f6f6;
@menu-gray:#f5f5f5;
@white:#fff;
@black: #000;
@light-orange: #d77428;
@orange: #ff5501;
@header-link-hover-color: #15719f;
@button-normal-color: #15719f;

@mobile-very-small-font-size : 10px;
@mobile-small-font-size : 12px;
@mobile-normal-font-size : 14px;
@mobile-large-font-size : 16px;

@footer-items-and-arrow-color: #829b22;