<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<?php $storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt(); ?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$cartHelper = $objectManager->get('\Magento\Checkout\Helper\Cart');
$request = $objectManager->get('\Magento\Framework\App\Request\Http');

$showMenu = true;


if($request->getRouteName() === "onestepcheckout"){
    $showMenu = false;
}

if(($request->getRouteName() === "checkout") && $cartHelper->getSummaryCount() > 0){
    $showMenu = false;
}
if(($request->getRouteName() !== "onestepcheckout")  && ($request->getRouteName() !== "checkout") ){
    $showMenu = true;
}
?>

<?php if ($showMenu): ?>
    <span data-action="toggle-nav" class="action nav-toggle"><span><?= /* @escapeNotVerified */ __('Toggle Nav') ?></span></span>
<?php endif; ?>
<a
    class="logo"
    href="<?= $block->getUrl('') ?>"
    title="<?= /* @escapeNotVerified */ $storeName ?>"
    aria-label="store logo">
    <img src="<?= /* @escapeNotVerified */ $block->getLogoSrc() ?>"
         title="<?= $block->escapeHtmlAttr($block->getLogoAlt()) ?>"
         alt="<?= $block->escapeHtmlAttr($block->getLogoAlt()) ?>"
         width="120" height="52"
         />
</a>