.checkout-cart-index,
.checkout-index-index
{
    .step-title{
        background-color: @base-color;
        padding: 12px 10px 12px 12px !important;
        font-weight: bold !important;
        font-size: 16px !important;
        color: white!important;
        text-transform: uppercase;
        line-height: 1.1;
    }

    .step-title .fa{
        display: inline-block;
        font-size: 24px;
        margin-right: 12px;
        vertical-align: text-bottom;
    }

    .checkout-container a.button-action, 
    .popup-authentication button.action, 
    .popup-gift-message-item button.action, 
    .checkout-container button:not(.primary):not(.action-show):not(.action-close):not(.edit-address-link):not(.ui-datepicker-trigger){
        background-color: @base-color;
        border-color:@base-color;
        box-shadow: none !important;
        color: @white;
    }

    .qty-subtotal,
    .mobile-only{
        display: none!important;
    }

    .subtotal-top{
        display: none;
    }

    .choice > .label > span {
        font-size: 95%;
        white-space: initial;
        word-break: break-word;
        padding-left: 5px;
    }

    .table-wrapper {
        margin-bottom: 15px;
    }

    .cart-totals-top {
        display: none!important;
    }

    .onestepcheckout-index-index .field.choice.col-mp {
        margin-bottom: 10px
    }

    .step-content {
        margin: 0 0 40px;
    }

    .qty-wrapper .qty-wrap .input-text.update {
        width: 40px;
        height: 32px;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .one-step-checkout-wrapper .minicart-items-wrapper .product-item-detail {
        display: inherit;
        padding-left: 10px;
    }

    .opc-block-summary .table-totals tbody .amount {
        padding-right: 0px !important;
    }

    .payment-method{
        .field.choice{
            padding: 20px 0;
        }
    }

    .cart-in-stock{
        display: none;
    }

    .modal-footer{
        display: inline-flex;

        .agreement-back {
            display: block;
            float: left;
            text-align: left;
            font-size: 12px;
            color: white;
            background: @base-color;
            border-radius: 3px;
            margin-left: 10px;

            &:before{
                content: '\f060';
                color: white;
                font-family: fontAwesome;
                font-size: large;
                text-align: center;
                width: 100%;
                display: block;
                line-height: 30px;
            }
        }

        .agreement-accept {
            background-image: none;
            background: @common-green;
            color: @white;
            cursor: pointer;
            display: inline-block;
            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 700;
            padding: 7px 15px;
            font-size: 1.4rem;
            box-sizing: border-box;
            vertical-align: middle;
            max-width: 100px;
        }
    }

    .cart-title {
        display: none;
    }

    .left-nav-item a {
        display: block;
        color: @a-color;
        padding: 0 12px 0 0px;
        line-height: 50px;
        text-decoration: none;
        border-bottom: @extra-light-gray 1px solid;
        font-size: 18px;
    }

    .one-step-checkout-wrapper {
        width: 100% !important;
        margin-top: 20px;
        padding: 0 !important;
    }

    div#remember-me-box {
        margin: 0 !important;
        padding: 0 !important;
        margin-left: 50px !important;
    }

    .osc-trust-seal {
        margin: 30px 0;
        text-align: center;
    }

    a.action.action-delete:before {
        color: black!important;
        content: '\f00d';
        font-family: fontAwesome;
        font-size: 20px;
    }

    .opc-wrapper .fieldset > .field > .label {
        float: none !important;
        width: auto !important;
        font-size: 12px!important;
    }

    .form-shipping-address {
        > .fieldset {
            > .field {
                margin: 0!important;
            }
        }
    }

    .opc-wrapper .form-login, 
    .opc-wrapper .form-shipping-address, 
    .opc-wrapper .methods-shipping {
        margin: 20px 0px 15px;
    }

    .remove-wrapper {
        padding: 5px;
    }

    .field.note.desktop-only.login-note {
        margin: 0 !important;
    }

    .opc-wrapper .form-discount{
        width: 100%!important;
        max-width: 100%!important;
    }

    .checkout-payment-method .payment-option-content{
        padding: 0!important;
    }

    .cart-container-list {
        width: 25%;
        height: 50px;
        float: right;
    }

    .swatch-opt {
        margin: 20px 0!important;
    }

    #top-cart-btn-checkout{
        span{
            font-size: 14px;
            font-weight: 300;
        }
    }

    .extra-margin {
        margin-top: 38px;
        font-size: 12px;
    }

    .checkout-agreement.field.choice.required {
        padding: 0;
        display: flex;
    }

    .checkout-agreement:before {
        margin: 0!important;
        padding: 0 !important;
        width: 0!important;
    }

    .checkout-agreement {
        label{
            padding: 0!important;

            button{
                span{
                    font-size: 12px;
                    white-space: normal;
                    width: 100%;
                }
            }
        }
    }

    button.action.primary.checkout {
        background-image: none!important;
        background:@common-green;
        color: @white;
        width: 100%;
        border: none!important;
        height: 48px;
        box-shadow: inset 0 -2px 0 0 #090;
        transition: .3s;

        &:hover{
            background: @dark-green;
        }

        &:active{
            background: @dark-green;
        }

        &:visited{
            background: @dark-green;
        }
    }

    .progress-container {
        font-family: 'Lato', sans-serif;
        width: 100%;
        padding-bottom: 15px;
    }

    .progress-wrapper {
        vertical-align: middle;
        width: 100%;
    }

    .arrow-steps .step {
        height: 36px;
        font-size: 14px;
        color: @white;
        cursor: default;
        margin: 0 3px;
        padding: 8px 10px 10px 30px;
        min-width: 130px;
        float: left;
        position: relative;
        background-color: @common-green;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; 
        transition: background-color 0.2s ease;
        width: 15%;
    }

    .arrow-steps .step:after,
        .arrow-steps .step:before {
        content: " ";
        position: absolute;
        top: 0;
        right: -17px;
        width: 0;
        height: 0;
        border-top: 19px solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 17px solid @common-green;	
        z-index: 2;
        transition: border-color 0.2s ease;
    }

    .arrow-steps .step:before {
        right: auto;
        left: 0;
        border-left: 17px solid @white;	
        z-index: 0;
    }

    .arrow-steps .step:first-child:before {
        border: none;
    }

    .arrow-steps .step:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .arrow-steps .step span {
        position: relative;
    }

    .arrow-steps .step span:before {
        opacity: 0;
        content: "✔";
        position: absolute;
        top: -2px;
        left: -20px;
    }

    .arrow-steps .step.done span:before {
        opacity: 1;
        -webkit-transition: opacity 0.3s ease 0.5s;
        -moz-transition: opacity 0.3s ease 0.5s;
        -ms-transition: opacity 0.3s ease 0.5s;
        transition: opacity 0.3s ease 0.5s;
    }

    .arrow-steps .step.current {
        color: @white;
        background-color: @dark-green;
    }

    .arrow-steps .step.current:after {
        border-left: 17px solid @dark-green;	
    }

    .step.first-item {
        background: @common-green;
        width: 52%;
    }

    .step.first-item:after {
        border-left: 17px solid @common-green;
    }

    .step.pending-item {
        background: @extra-light-gray;
        color: black;
    }

    .step.pending-item:after {
        border-left: 17px solid @extra-light-gray;
    }

    .grand-sub-totals {
        font-weight:bold;
    }

    th.grand-total {
        vertical-align: middle !important;
    }

    .form-cart{
        .cart{
            .items{
                thead {
                    tr {
                        th {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }

    .cart.table-wrapper .col{
        padding: 10px;
        vertical-align: middle;
    }

    .totals{
        th, td {
            border: none;
            padding: 4px !important;
        }
    }

    .grand.totals {
        .price {
            font-size: 1.1em !important;
        }
    }

    .onestepcheckout-index-index input.google-auto-complete {
        width: calc(94%) !important;
    }

    .cart.table-wrapper .actions-toolbar > .action {
        margin-bottom: 0 !important;
    }
    .vat_valid{
        background: @common-green !important;
        border: none!important;
    }
    .sq-image-catalog-related {
        width: 100%;
        max-height: 220px;
        display: block;

        a.product-item-photo-catalog {
            width: 100%;
            height: 100%;
            display: block;

            span.product-image-wrapper-catalog {
                width: 100%;
                height: 100%;
                display: block;
                text-align: center;

                img.product-image-photo-catalog {
                    height: 220px;
                    margin-left: auto;
                    margin: auto;
                }
            }
        }
    }

    .products{
        .product-items{
            .related-item{
                width: 33.3333%!important;
                max-width: 275px;
                padding: 10px;
                display: inline-block;


                &:not(:last-child){
                    border-right: solid 1px #838383;
                }

                .product{

                    .main-cont{
                        margin-left: 0;
                        padding-top: 10px;

                        .price-cart-main-container-list{
                            float: left;
                            width: 100%;

                            .price-container-list{
                                float: left;
                                height: 50px;
                                width: 75%;

                                .home_price_cart_group_fixed_height{
                                    .home_price_group{
                                        float: left;

                                        .home_price{
                                            .price-box {
                                                .price-container {
                                                    .catalog-normal-price-main {
                                                        text-align: left;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .product-item-link {
                        color: @base-color;
                        font-size: 17px !important;
                        text-decoration: none !important;
                        font-weight: 700 !important;
                        line-height: 18px;
                        overflow: hidden;
                        display: inherit;
                        height: 40px !important;
                    }

                    .related-product-item-info {
                        width: 100%!important;
                        max-width: 100%!important;
                    }

                    .related-product-item-info {
                        .product-image-container {
                            width: 100%!important;
                        }
                    }

                    .home_cart_button {
                        width: 100%;
                        height: 48px;
                        box-shadow: inset 0 -2px 0 0 #090;
                        background-color: @common-green;

                        &:after { 
                            color: white;
                            font-family: fontAwesome;
                            font-size: x-large;
                            line-height: 25px;
                        }

                        &:hover {
                            background-color: @common-green-hover;
                        }

                        &:before {
                            content: '\f07a';
                            margin-left: -5px;
                            margin-top: -5px; 
                            font-size: 200%;
                            text-align: center;
                            box-sizing: border-box;
                            vertical-align: middle;
                            font-family: fontawesome;
                            color: white !important;
                        }
                    }

                    span.price-container {
                        display: flex;
                        flex-flow: column;
                    }

                    .price-wrapper.price-including-tax {
                        order: 1;

                        span {
                            font-size: 12px!important;
                            color: @light-gray;
                            font-weight: 600 !important;
                            line-height: 17px;
                        }

                        span:before{
                            content: '( ';
                        }

                        span:after{
                            content: ' Incl.BTW )';
                        }
                    }

                    .catalog-normal-price-main {
                        font-size: 19px;
                        font-weight: 600;
                        max-height: 20px;
                    }
                }
            }
        }
    }
}