.catalogsearch-result-index,
.catalog-category-view {
    .column.main {
        float: right;
        width: 75%;
    }

    .sidebar.sidebar-main{
        width: 25%;
    }
}

.catalog-search-noresult
{
    .contact-us-columns 
    {
        display: block;

        .left-nav-bar 
        {
            width: 300px;
            float: left;
            position: relative;
        }

        .contact-us-middle-col 
        {
            margin-right: 50px;
            width: 50%;
            box-sizing: border-box;
            float: left;
            display: block;
        }

        .contact-us-right-col 
        {
            width: 280px;
            float: left;
            padding-top: 50px;
        }
    }

    .contact-us-right-col 
    {
        width: 280px;
        float: left;
    }

    h3.noresult-heading, 
    span.noresult-green-text {
        color: #06BC01;
    }

    ul.noresult-tips {
        margin-top: 10px;
        margin-bottom: 10px;
        list-style-type: none;
        padding-left: 8px;
    }

    span.noresult-green-text {
        color: #06BC01;
        font-weight: 600;
    }

    ul.noresult-contact-info {
        margin-top: 20px;
        list-style-type: none;
        padding-left: 8px;

        li {
            line-height: 12px;
            font-weight: 600;
        }
    }

    .noresult-info-container {
        padding: 0 10px 0 10px;
        border: 2px solid #06BC01;
        border-radius: 10px;
        margin-right: 20px;
    }

    .contact {
        width: 100%;
        display: grid !important;
    }

    .contact-us-middle-col > .contact > .actions-toolbar {
        padding-left: 160px;
        order: 1;
        margin-bottom: 10px;

        .primary.actions-primary {
            color: white;
        }

    }
}

.catalogsearch-result-index,
.catalog-category-view,
.catalog-product-view 
{
    li.item.product.product-item:nth-child(3n-1) {
        border-left: solid 1px @light-gray;
        border-right: solid 1px @light-gray;
    }

    .product {
        > .toggle {
            > .content {
                color:black;
            }
        }
    }

    .product-items {
        .product-item {
            width: 100%/3!important;
            display: inline-block !important;
            vertical-align: top !important;
            padding: 0 20px 0 20px !important;
            margin-bottom: 5% !important;
            margin-left: 0 !important;
        }
    }

    #toolbar-products:first-of-type {
        display: none!important;
    }

    .product-item-photo {
        text-align:center;
    }

    .cataloglabel-view {
        margin-bottom: 0!important;
        padding-left: 50px!important;
    }

    .cataloglabel-list {
        margin-bottom: 0!important;
        padding-left: 40px!important;
    }

    /** REVIEW SECTION */
    .review-title {
        display: none;
        color: @base-color;
        font-weight: normal;
        font-size: 150%;
        line-height: 200%;
    }

    .submit {
        background: @light-orange;
    }

    .related-product-item-info {
        width: 100%!important;
        max-width: 100%!important;
    }

    .related-product-item-info {
        .product-image-container {
            width: 100%!important;
        }
    }

    .sorter {
        padding: 0!important;
    }

    .home-page-columns,
    .group-page-columns{
        display: inline-flex;
        width:100%;
    }

    .group-page-main{
        width: 100%;
        display: block;
    }

    .swatch-opt {
        margin: 10px!important;
    }

    .group_products{
        width: 25% !important;
    }

    .block-related-heading h2 h3 {
        color: @base-color;
        font-weight: bold;
        font-size: 150%;
        line-height: 200%;
    }

    .page-product-downloadable {
        .product-options-wrapper {
            width: 100%!important;
        }
    }

    .page-product-downloadable {
        .product-options-bottom {
            width: 100%!important;
        }
    }

    .bundle-options-container .block-bundle-summary {
        background: none!important;
    }

    .block-bundle-summary {
        width: 300px!important;
    }

    .bundle-actions {
        > .action primary {
            customize {
                width: 100%!important;
                border-radius: 0!important;
            }
        }
    }

    .product-options-wrapper {
        > .fieldset {
            border: none!important;
        }
    }

    .product-options-wrapper {
        > .fieldset {
            > .downloads-no-separately {
                margin: 10px!important;
            }
        }
    }

    #review-form {
        > .actions-toolbar {
            margin-left: 2px!important;
        }
    }

    .page-products {
        .toolbar {
            .limiter {
                display: block!important;
            }
        }
    }

    .filter-options-title {
        cursor: pointer;
        font-weight: 600;
        margin: 0;
        overflow: hidden;
        padding: 10px 40px 0 0px;
        position: relative;
        text-transform: uppercase;
        word-break: break-all;
        z-index: 1;
        display: block;
        text-decoration: none;
        border-bottom: 1px solid @extra-light-gray;
        padding-bottom: 10px;
    }

    .filter-options-title-active:after {
        -webkit-transform: rotate(-90deg) !important;
        -moz-transform: rotate(-90deg) !important;
        -o-transform: rotate(-90deg) !important;
        -ms-transform: rotate(-90deg) !important;
        transform: rotate(-90deg) !important;
    }

    .filter-options-title:after {
        position: absolute;
        right: 13px;
        top: 9px;
    }

    .filter-options-title:after {
        -webkit-font-smoothing: antialiased;
        font-size: 13px;
        line-height: inherit;
        color: inherit;
        content: '\f105';
        font-family: FontAwesome;
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center;
        transform: rotate(90deg);
    }

    .filter-options-content {
        display: none;
        margin-left: 0!important;
    }

    .filter-options {
        height: auto!important;
    }

    .bundle-actions {
        float: right;
        width: 300px;
    }

    .info-box {
        width: 300px!important;
    }

    .review-control-vote:before {
        color:@light-gray;
        font-family: FontAwesome;
        font-size: 28px;
        height: 28px;
        letter-spacing: 0!important;
        line-height: 28px;
        font-style: normal;
        font-weight: normal;
        speak: none;
        vertical-align: top;
        -webkit-font-smoothing: antialiased;
        content: '\f006 \00a0 | \00a0 \f006\f006 \00a0 | \00a0 \f006\f006\f006 \00a0 | \00a0 \f006\f006\f006\f006 \00a0 | \00a0 \f006\f006\f006\f006\f006';
        display: block;
        position: absolute;
        z-index: 1;
    }

    .review-fieldset-star {
        border: none!important;
        border-right: none!important;
        border-left: none!important;
    }

    .review-control-vote .rating-1:before {
        content: '\f005'!important;
        color: @orange;
        font-family: FontAwesome;
        font-size: 28px;
        height: 28px;
        letter-spacing: 0!important;
        line-height: 28px;
        font-style: normal;
        font-weight: normal;
        speak: none;
        vertical-align: top;
        -webkit-font-smoothing: antialiased;
        opacity: 0;
    }

    .review-control-vote .rating-2:before {
        content: '\f005\f005';
        color: @orange;
        font-family: FontAwesome;
        font-size: 28px;
        height: 28px;
        letter-spacing: 0!important;
        line-height: 28px;
        font-style: normal;
        font-weight: normal;
        speak: none;
        vertical-align: top;
        -webkit-font-smoothing: antialiased;
        opacity: 0;
        left: 53px;
        position: absolute!important;
        -webkit-left: 53px;
        -webkit-position: absolute!important;
    }

    .review-control-vote .rating-3:before {
        content: '\f005\f005\f005';
        color: @orange;
        font-family: FontAwesome;
        font-size: 28px;
        height: 28px;
        letter-spacing: 0!important;
        line-height: 28px;
        font-style: normal;
        font-weight: normal;
        speak: none;
        vertical-align: top;
        -webkit-font-smoothing: antialiased;
        opacity: 0;
        left: 131px;
        position: absolute!important;
        -webkit-left: 131px;
        -webkit-position: absolute!important;
    }

    .review-control-vote .rating-4:before {
        content: '\f005\f005\f005\f005';
        font-family: FontAwesome;
        color: @orange;
        font-size: 28px;
        height: 28px;
        letter-spacing: 0!important;
        line-height: 28px;
        font-style: normal;
        font-weight: normal;
        speak: none;
        vertical-align: top;
        -webkit-font-smoothing: antialiased;
        opacity: 0;
        left: 236px;
        position: absolute!important;
        -webkit-left: 236px;
        -webkit-position: absolute!important;
    }

    .review-control-vote .rating-5:before {
        content: '\f005\f005\f005\f005\f005';
        font-family: FontAwesome;
        color: @orange;
        font-size: 28px;
        height: 28px;
        letter-spacing: 0!important;
        line-height: 28px;
        font-style: normal;
        font-weight: normal;
        speak: none;
        vertical-align: top;
        -webkit-font-smoothing: antialiased;
        opacity: 0;
        left: 366px;
        -webkit-left: 366px;
        position: absolute!important;
        -webkit-position: absolute!important;
    }

    .page-products {
        .product-item-info {
            width:100% !important;
        }
    }

    .mobile-only {
        display:none !important;
    }

    .read-more { 
        display:none !important;
    }

    .searchsuite-autocomplete {
        left: initial !important;
        width: 370px;
    }

    .opc-block-summary{
        padding: 0px 30px;
    }

    .group-page-description {
        float: left;
        width: 100% !important;
    }

    .group-page-points {
        float: right;
        display: block;
        width: 30%;
    }

    .group-page-info-box {
        background-color: @white;
        color: @dark-gray;
        padding: 10px;
        font-size: 15px;
        display: grid;
    }

    .pages {
        float: left;
    }

    .catalog-product-view {
        > .page-wrapper {
            > .page-main {
                > .columns {
                    > .column {
                        width: 100% !important;
                        float: none !important;
                        padding: 0;
                    }
                }
            }
        }
    }

    .product-image-photo {
        width: 200px!important;
    }

    .review-legend {
        width: 50%!important;
    }

    .filter-container {
        display: none!important;
    }

    div#toolbar-products {
        display: inline-block;
        float: right;
        width: 100%;
        padding: 10px 0 20px 0;
    }

    .group-list-image {
        width: 40px;
        height: 40px;
        float: left;
        margin: 5px;
    }

    .group-product-items {
        width: 100%;
        height: auto;
        display: table;
        border: solid 1px gray;
        padding: 10px;
    }

    .group-table-row {
        width: 100%;
        padding: 10px;
    }

    .group-table-row:not(:last-child) {
        border-bottom: solid 1px lightgray;
    }

    .group-list-image > .product-image-container > .product-image-wrapper > .product-image-photo {
        position: initial !important;
    }

    .group-product-main-image {
        margin-left: auto;
        margin-right: auto;
        width: 700px;
        display: block;
        position: relative;

        .product-image-container {
            margin-left: auto;
            margin-right: auto;
            width: auto!important;
            display: block;

            .product-image-wrapper{
                .product-image-photo {
                    width: auto !important;
                    height: auto !important;
                }
            }
        }
    }

    td.group-table-cell {
        vertical-align: middle;
    }

    .group-product-table-header{
        background: @extra-light-gray;
    }

    .group-add-to-cart-button {
        width: initial !important;
    }

    .group-product-add-to-cart-container {
        display: flex;
    }

    .group-field-qty {
        display: flex;
        padding-top: 10px;
    }

    .group-field-container{
        display: flex;
    }

    .group-control {
        padding-left: 10px;
    }

    .group-qty-label{
        padding-top: 10px;
    }

    .group-page-description {
        float: left;
        width: 100%;
    }

    .field.qty {
        width: 135px;
    }

    .price-container-list {
        float: left;
        height: 50px;
        width: 75%;
    }

    .main-cont {
        padding-top: 20px;
    }

    span.catalog-product-name{
        height: 40px;
        display: block;

        .product-item-link {
            color: @base-color;
            font-size: 17px !important;
            text-decoration: none !important;
            font-weight: 700 !important;
            line-height: 18px;
            overflow: hidden;
            display: inherit;
            height: 35px !important;
            text-transform: uppercase;
        }
    }

    .discount-price-tag {
        display: block;
        width: 120px;
        background-color: @light-orange;
        -ms-transform: rotate(-7deg);
        -webkit-transform: rotate(-7deg);
        transform: rotate(-7deg);
        font-size: medium;
        font-weight: 700;
        color: @white;
        padding: 5px;
        position: absolute;
        margin-top: -230px;
        z-index: 99;
        text-transform: uppercase;

        &:after {
            content: 'AANBIEDING!';
        }
    }

    .discount-price-tag-slider{
        display: block;
        width: 120px;
        background-color: @light-orange;
        -ms-transform: rotate(-7deg);
        -webkit-transform: rotate(-7deg);
        transform: rotate(-7deg);
        font-size: medium;
        font-weight: 700;
        color: @white;
        padding: 5px;
        position: absolute;
        margin-top: -230px;
        z-index: 99;

        &:after {
            content: 'AANBIEDING!';
        }
    }

    span.catalog-old-price {
        font-size: 17px;
        font-style: italic;
        color: @light-gray;
        text-decoration: line-through;
    }

    span.catalog-special-price {
        font-size: 19px;
        color: black;
        font-weight: 600;
        padding-left: 5px;
    }

    span.catalog-price-incl-tax {
        font-weight: 600;
        color: @light-gray;
        font-size: 12px;
    }

    .catalog-special-price-cont {
        max-height: 20px;
    }

    button.action.primary.tocart.home_cart_button {
        height: 50px;
    }

    button.action.primary.tocart.home_cart_button:before {
        content: '\f07a';
        margin-left: -5px;
        margin-top: -5px; 
        font-size: 200%;
        text-align: center;
        box-sizing: border-box;
        vertical-align: middle;
        font-family: fontawesome;
        color: white !important;
    }

    span.price-container {
        display: flex;
        flex-flow: column;
    }

    .price-wrapper.price-including-tax {
        order: 1;

        span {
            font-size: 12px!important;
            color: @light-gray;
            font-weight: 600 !important;
            line-height: 17px;
        }

        span:before{
            content: '( ';
        }

        span:after{
            content: ' Incl.BTW )';
        }
    }

    .catalog-normal-price-main {
        font-size: 19px;
        font-weight: 600;
        max-height: 20px;
    }

    .cataloglabel-fast-delivery {
        background-image: url(../images/fast-delivery.png) !important;
        background-color: @base-color;
        position: relative!important;
        height: 30px!important;
        background-size: contain!important;
        top: -30px !important;
        opacity: .8;
        -moz-opacity: .8;
        -webkit-opacity: .8;
        box-sizing: border-box;
        background-repeat: no-repeat;
        text-align: center;
        background-position: 5px;

        span {
            font-size: 12px;
            font-weight: normal;
            color: white;
            text-align: center;
            line-height: 30px;
        }
    }

    .sq-image-catalog {
        max-width: 100%;
        max-height: 240px;
        overflow: hidden;
        text-align: center;
        top: 0;
        height: 240px;
    }

    .product-ask-info-red {
        color: red;
        text-align: center;
        margin-top: -30px;
        position: relative;
        opacity: .8;
        height: 30px;
        display: block;
        line-height: 30px;
        font-weight: normal;
        font-size: 12px;
        font-weight: bold;
    }

    .expected-date-cont {
        background: @base-color;
        color: white;
        position: relative;
        padding: 5px;
        font-size: 12px;
        max-height: 100px;
        margin-top: -100px;
        opacity: 0.8;
    }

    img.product-image-photo-catalog {
        max-height: 240px;
    }

    span.product-image-wrapper-catalog {
        width: 100%;
        height: 100%;
        display: block;
    }

    .mr-page-title {
        display: block;
        width: 100%;
        float: left;
        font-weight: 600;
        font-size: 26px;
        color: @base-color;
        padding-bottom: 10px;
    }

    ul.usp-ul {
        display: none;
    }

    ul.usp-ul:not(:empty) {
        display: block;
        margin-left: -20px;
        margin-top: 10px;
        color: @dark-gray;
        margin-bottom: 10px;

        li.usp-li-class {
            margin: 0;
            list-style: disc;
        }
    }
    /** CATALOG PAGE END */

    .step-content{
        .form-login{
            .fieldset{
                .field{
                    .control{
                        float: none!important;
                        width: 100%!important;
                    }
                }
            }
        }
    }

    .contact{
        .fieldset{
            .field{
                margin: 0 !important;
                padding: 10px !important;

                .control{
                    width: 74.2%!important;
                }
            }
        }
    }

    .form-shipping-address{
        .fieldset{
            .field{
                padding-top: 5px;

                .control{
                    width: 100%!important;
                }
            }
        }	
    }

    .login-form{
        .fieldset{
            .field{
                margin: 0 !important;
                padding: 10px !important;

                .control{
                    width: 55%!important;
                }
            }
        }
    }

    .products-related{
        .product-items{
            .related-item{
                width: 33.3333%!important;
                max-width: 275px;
                padding: 10px;
                display: inline-block;

                .product{
                    .product-item-link {
                        color: @base-color;
                        font-size: 17px !important;
                        text-decoration: none !important;
                        font-weight: 700 !important;
                        line-height: 18px;
                        overflow: hidden;
                        display: inherit;
                        height: 40px !important;
                    }
                }

                .home-cart-group {
                    width: 40%;
                }
            }
        }
    }

    .home-price-group-related{
        display: inline-block;
        width: 60%;
        float: left;

        .home-price{
            .price-box{
                .price-container{
                    .price-wrapper {
                        text-align: left;
                    }

                    .catalog-normal-price-main{
                        .catalog-normal-price-cont{
                            text-align: left;
                        }
                    }
                }
            }
        }
    }

    .home-cart-group{
        display: inline-block;
        float: right;
    }

    .product-item-details{
        .product{
            margin: 0!important;
            padding: 0!important;
        }

    }

    .out-stock-pro-page{
        color: red;
        font-weight: bold;

        span{
            color: @light-gray;
            font-weight: normal;
        }
    }

    .out-stock-pro-page:before{
        font-family: fontAwesome;
        content: '\f058';
        color: red;
        padding-right: 5px;
    }

    .products-crosssell {
        .product-items{
            .related-item{
                display: block;
                width: 33.3333%!important;
                float: left;
                padding: 0 10px 0 10px;
                max-width: 275px;

                .related-product-item-info {
                    .product-item-details {

                        .product-item-name{
                            a {
                                text-align: left;
                                color: @base-color;
                                font-size: 17px !important;
                                text-decoration: none !important;
                                font-weight: 700 !important;
                                line-height: 18px;
                                overflow: hidden;
                                display: inherit;
                                height: 40px !important;
                            }

                        }

                        .main-cont{
                            margin-left: 0;
                            padding-top: 10px;

                            .price-cart-main-container-list{
                                float: left;

                                .price-container-list{
                                    .home_price_cart_group_fixed_height{
                                        .home_price_group{
                                            float: left;

                                            .home_price{
                                                .price-box {
                                                    .price-container {
                                                        .catalog-normal-price-main {
                                                            text-align: left;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    h3#block-crosssell-heading {
        color: @base-color;
    }

    .checkout-cart-index{
        dl.items.methods {
            border-radius: 5px;
        }

        dt.item-title {
            margin-left: 30px;
            font-weight: 600;
            margin-bottom: -6px;
        }

        dd.item-options:not(:last-child) {
            padding-bottom: 15px;
        }

        .cart-summary .block .item-options {
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 20px;
        }

        dd.item-options:not(:last-child) {
            border-bottom: 1px solid lightgray;
        }

        dd.item-options {
            height: 10px;
        }

        .item-options > .item > .radio {
            top: -24px;
            order: 1;
        }

        .choice > .label {
            display: inline-block !important;
            width: 90%;
            font-size: 95% !important;
            top: -15px;
            position: relative;
        }

        span.shipping-method-title {
            float: left;
            font-size: 10px!important;
            margin-top: 15px;
        }

        .shipping-method-value-multi,
        .shipping-method-value {
            float: right;
            font-size: 14px!important;
            margin-right: -5px;
        }
    }

    button.action.reload.captcha-reload {
        float: right;
        font-size: 12px;
    }

    .floating-cart-cont{
        display: none!important;
    }

    span.checkout-item-minus,
    a.minus.checkout-item-minus,
    span.minus-pro-page,
    .minus-cart {
        display: block!important;
        width: 32px!important;
        height: 26px!important;
        float: left!important;
        color: @black;
        border: 1px solid @light-gray;
        border-radius: 5px 0 0 5px;
        border-right: none;
        line-height: 20px;
        font-size: x-large;
        cursor: pointer;
        text-align: center;
    }

    span.checkout-item-plus,
    a.plus.checkout-item-plus,
    span.plus-pro-page,
    .plus-cart {
        display: block!important;
        width: 32px!important;
        height: 26px!important;
        float: right;
        color: @black;
        border: 1px solid @light-gray;
        border-radius: 0 5px 5px 0;
        border-left: none;
        line-height: 25px;
        font-size: x-large;
        margin-left: 0!important;
        cursor: pointer;
        text-align: center;
    }

    .item_qty,
    .cart.table-wrapper .col.qty .input-text {
        width: 40px;
        height: 26px;
        padding: 0;
        margin: 0;
        border: 1px solid @light-gray;
        text-align: center;
    }

    .tile-title {
        color: darkgray;
        font-size: 100%;
    }

    .catalog-page-tile-cont{
        margin-left: auto;
        margin-right: auto;
    }

    .tile-grid-item {
        padding: 10px;
    }

    .tile-overlay {
        display: block;
    }

    .tile-container {
        position: relative;
        width: 100%;
        background-color: white;
        border: 1px solid lightgrey;
        font-size: small;
        text-align: center;
        box-shadow: 1px 1px 2px @light-gray;
        max-height: fit-content;

        .tile-link{
            display: block;

            img.tile-image {
                max-height: 200px;
                height: 200px;
            }
        }
    }

    .tile-container:hover .tile-overlay {
        opacity: 1;
    }

    .tile-text {
        color: @dark;
        font-weight: bolder;
        position: relative;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .image-title-cont{
        display: grid;
    }

    h3.tile-title {
        font-size: large;
        color: @dark-blue;
        margin-left: 20px;
    }

    .tile-image-cont{
        display: block;
    }

    .products.wrapper.grid.products-grid.products-crosssell {
        display: grid;
        margin: 0;

        .products{
            margin: 0;
        }
    }

    .catalog-filter-all .products-grid .product-item {
        width: 33.33333333%;
        display: inline-block;
        vertical-align: top;
        padding: 0 20px 0 20px;
        margin-bottom: 5%;
        margin-left: 0;
    }

    .page-products {
        .toolbar {
            .limiter{
                box-sizing: border-box;
                float: right;
                display: block;
                margin-left: 5px;
            }

            .sorter {
                float: right;
            }
        }
    }   
}