.catalog-thumb-page {
    .column.main{
        width: 100% !important;
    }

    .tile-grid-container {
        display: block;
        padding: 0;
    }

    .tile-grid-item {
        width: 25%;
        float: left;
    }
    
    .filter-container{
        display: none !important
    }
}

.page-title-wrapper{
    display: none;
}

.page-title-wrapper {
    display: none;
}

hr {
    margin: 15px;
}

#minicart-content-wrapper {
    text-align: left;
}

.minicart-items .product-item-details {
    padding-left: 90px;
}

.product-item-pricing {
    display: flex;
}

.minicart-item-name {
    width: 60%;
    float: left;
}

.product-item-name {
    margin: 0!important;
    font-weight: 400;
}

.minicart-item-price {
    width: 40%;
    float: right;
}

.minicart-items .update-cart-item {
    font-size: 1.1rem;
    vertical-align: top;
    float: right;
    margin-right: 35px;
    margin-top: 5px;
}

.minicart-item-name-price {
    vertical-align: middle;
    width: 100%;
    padding-top: 30px;
    font-size: 1.4rem;
}

.minicart-items-wrapper {
    border: 1px solid #ccc;
    margin: 0 -20px;
    border-left: 0;
    border-right: 0;
    overflow-x: auto;
}


.minicart-subtotal-cont{
    padding: 10px;

    .subtotal {
        color: #333333;
        margin: 0!important;
        padding-top: 0!important;
        text-align: right;
        float: right;
        display: table;
        font-size: 1.4rem;

        .price-container{
            display: table;
            .tax-item {
                display: table-row;
            }
        }
    }
}

.extra-margin {
    margin-top: 38px;
    font-size: 12px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
    padding-top: 10px;
}

#top-cart-btn-checkout {
    background: @common-green !important;
    border: none !important;
    color: @white;
    font-weight: bold;

    &:hover {
        background: @common-green-hover !important;
    }
}

#top-cart-btn-checkout span {
    font-size: 14px;
    font-weight: 300;
}

.minicart-items {
    margin: 0;
    padding: 0;
    list-style: none none;
}

.minicart-wrapper .action.showcart .counter.qty {
    background: @footer-items-and-arrow-color !important;
    width: 25px;
    height: 25px!important;
    color: white!important;
    line-height: 25px!important;
    border-radius: 20px!important;
    margin-top: -10px !important;
    display: inline-block;
    text-align: center;
    position: relative;
    left: -15px;
}

.counter-label {
    display: none;
}


.mobile-only-c {
    display: none;
}

input[type=radio],
input[type=checkbox]{
    padding: 0.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0.1em solid black;
    outline-offset: 0.1em;
    width: 14px;
    height: 14px;
    margin: 2px 5px 0 0 !important;
}

input[type=radio]:checked,
input[type=checkbox]:checked{
    display: inline-block;
    background-color: @base-color;
}

.search-autocomplete {
    color: @a-color;
    margin-top: 0;
    z-index: 100;
    height: auto!important;
    background: white;
    top: 50px;

    ul{
        padding: 0;
        margin: 0;

        li{
            list-style: none;

            .amount {
                color: @light-gray;
                font-size: 11px;
                float: right;
                line-height: 36px;
            }
        }
    }

    ul li:not(:empty) {
        border-top: 0;
        border-bottom: 1px solid lightgray!important;
        background: @white;
        height: 36px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0;
    }
}

.nav-toggle {
    display: none;
}

.qty-wrapper {
    display: flex;

    .button-action.minus {
        display: block!important;
        width: 32px!important;
        height: 32px!important;
        float: left!important;
        color: @black;
        border: 1px solid @light-gray;
        border-radius: 5px 0 0 5px;
        border-right: none;
        line-height: 28px;
        font-size: x-large;
        cursor: pointer;
        text-align: center;
    }

    .button-action.plus {
        display: block!important;
        width: 32px!important;
        height: 32px!important;
        float: right;
        color: @black!important;
        border: 1px solid @light-gray;
        border-radius: 0 5px 5px 0;
        border-left: none;
        line-height: 32px;
        font-size: x-large;
        margin-left: 0!important;
        cursor: pointer;
        text-align: center;
    }
}

.search-autocomplete dl dd{
    min-height: 36px;
}

span.qs-option-name{
    float: none!important;
}

.search-autocomplete dl dd .amount {
    color: @light-gray;
    position: absolute;
    right: 10px;
    line-height: 36px;
    font-size: 11px;
}

.breadcrumbs{
    padding-right: 0;
    order: -1;
    float: left;
    width: 100% !important;
    padding-left: 0!important;
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0;
    color: @base-color;

    .item:not(:last-child):after {
        content: " / " !important;
    }

    .items{
        box-sizing: border-box;
        font-size: 1.2rem;
        color: @light-gray;
        margin: 0;
        padding: 0;
        list-style: none none;

        .item{
            color: @light-gray;
            box-sizing: border-box;
            list-style: none;
            margin: 0;
            vertical-align: top;
            display: inline-block;
            text-decoration: none;
            font-size: 16px;
            word-break: break-word;

            a {
                list-style: none;
                box-sizing: border-box;
                background-color: transparent;
                text-decoration: none;
                font-size: 16px;
                color: @base-color;
                word-break: break-word;
            }
        }
    }
}

.mr-gold {
    color: orange;
}

.mr-small {
    top: -20px;
    margin-left: 140px;
    position: relative;
    padding: 0;
    font-size: small;
}

.subtotal:not(div){
    padding-right:0;
}

.home_in_stock {
    background-image: none!important;
    width: 80%;
    float: left;
    color: @dark-green;
    font-weight: bold;
    padding-left: 0!important;
    text-align: left;
}

.home_out_stock {
    background-image: none!important;
    width: 100%;
    float: left;
    color: red;
    font-weight: bold;
    padding-left: 0!important;
    text-align: left;
}

.home_in_stock:before {
    content: '\f058';
    font-family: FontAwesome;
    margin-right: 3px;
}

.home_out_stock:before {
    content: '\f058';
    font-family: FontAwesome;
    margin-right: 3px;
}

.more-info-button-text {
    float: left;
    width: 100%;
    clear: both;
    text-align: left;
}

.more-info-button-text:before {
    content: "\f054 ";
    font-family: FontAwesome;
    float: right;
    padding-top: 2px;
}

span.checkout-item-minus,
a.minus.checkout-item-minus,
span.minus-pro-page,
.minus-cart {
    display: block!important;
    width: 32px!important;
    height: 32px!important;
    float: left!important;
    color: @black;
    border: 1px solid @light-gray;
    border-radius: 5px 0 0 5px;
    border-right: none;
    line-height: 28px;
    font-size: x-large;
    cursor: pointer;
    text-align: center;
}

span.checkout-item-plus,
a.plus.checkout-item-plus,
span.plus-pro-page,
.plus-cart {
    display: block!important;
    width: 32px!important;
    height: 32px!important;
    float: right;
    color: @black;
    border: 1px solid @light-gray;
    border-radius: 0 5px 5px 0;
    border-left: none;
    line-height: 32px;
    font-size: x-large;
    margin-left: 0!important;
    cursor: pointer;
    text-align: center;
}

.item_qty,
.cart.table-wrapper .col.qty .input-text {
    width: 40px;
    height: 32px;
    padding: 0;
    margin: 0;
    border: 1px solid @light-gray;
    text-align: center;
}


a:active, 
a:hover {
    color: @a-hover-color;
    text-decoration: none;
}

a,
a:visited, 
.alink:visited {
    color: @a-color;
    text-decoration: none;
}

.price-label {
    display: none !important;
}

.price-container 
{
    .price-excluding-tax
    {
        .price 
        {
            font-size: 19px !important;
            font-weight: 600 !important
        }
    }
}

.block-wishlist {
    display: none !important;
}

.modal-content {
    padding-bottom: 10px;
}

.additional-attributes {
    margin: 0;
}