.page-layout-navpage,
.page-layout-agri-contact-us-page {
    .contact-us-middle-col>.contact>.actions-toolbar {
        padding-left: 170px;
    }

    .left-nav-bar {
        width: 300px;
        float: left;
        position: relative;
    }

    .left-nav {
        list-style-type: none;
        padding: 0;
        width: 95%;
    }

    li.mr-menu-item, 
    li.left-nav-item {
        margin: 0;
    }

    .left-nav-item.bold a {
        font-weight: bold;
    }

    .left-nav-item a {
        display: block;
        color: @base-color;
        padding: 0 12px 0 0px;
        line-height: 50px;
        text-decoration: none;
        border-bottom: @extra-light-gray 1px solid;
        font-size: 18px;
    }

    .left-nav-item a:after {
        content: "\f054";
        font-family: fontawesome;
        float: right;
    }

    .contact-us-middle-col {
        margin-right: 50px;
        width: 50%;
        box-sizing: border-box;
        float: left;
        display: block;
    }

    .contact .fieldset .field {
        margin: 0 !important;
        padding: 10px !important;
    }

    .contact-us-right-col {
        width: 280px;
        float: left;
    }

    .widget-title {
        margin-top: 0;
        color: @base-color;
        font-weight: bold;
        font-size: 20px;
    }

    .nav-page-content {
        margin-left: 25%;
    }

    .contact {
        width: 100%;
        display: grid !important;
        margin-bottom: 20px;
    }

    .contact-us-columns {
        display: block;
    }
}