.page-footer{
    box-sizing: border-box;
    display: block;
    background-color: @footer-background;
    color: @dark-gray;
    float: left;
    width: 100%;

    .footer{
        color: @dark-gray;
        padding-left: 0;
        padding-right: 0;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        padding-bottom: 0px !important;
        border-top: none;
        margin-top: 0;
        padding-top: 10px;
        max-width: 1280px;

        .newsletter {
            display: none!important;
        }

        .content{
            color: @dark-gray;
            padding-left: 0;
            padding-right: 0;
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            width: auto;
            padding-bottom: 0px !important;
            border-top: none;
            margin-top: 0;
            padding-top: 10px;

            .sitefooter {
                max-width: 1080px;
            }
        }
    }
}

#footer-table {
    display: inline-table;
}

.custom-footer {
    display: none;
}

.page-footer a {
    display: block;
    padding: 2px 0 !important;
    text-decoration: none;
    color: @dark-gray;
    font-weight: 400;
}

.page-footer a:before {
    content: "\f054";
    font-family: fontawesome;
    float: left;
    margin-right: 10px;
}

#footer-sitemap, 
#footer-env, 
#td-sitemap, 
#td-contact, 
#footer-images {
    width: 25%;
}

.page-footer tr th {
    color: @base-color;
    font-size: 20px;
}

.footer-icon {
    padding-right: 10px;
}

.footer.content ul {
    margin: 0;
    padding: 0;
    list-style: none none;

    li {
        margin: 0;
    }
}

.footer .copyright {
    display: block;
    margin: 20px 0 0;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid @light-gray;
    color: @light-gray;
}

.facebook-icon:before {
    content: "\f082" !important;
    font-family: FontAwesome;
    font-size: 36px!important;
    color: @base-color;
}

.image-links, .image-links:before {
    content: '' !important;
    display: initial !important;
    zoom: .9;
    margin-right: 5px;
}