.page-header {
    z-index: 500;
    width: 100%;
    margin: 0 0 20px !important;

    .panel.wrapper {
        position: relative;
        height: 65px !important;
        background: @base-color;
    }

    .header .logo {
        float: left;
        display: inline-flex;
        align-items: center;
        order:0;
    }

    .header .links {
        > li {
            line-height: 65px;
            font-size: 16px;
            padding: 0;
            float: left;
            margin-bottom: 0;

            &:hover {
                background-color: @a-color;
            }

            > a {
                padding: 0px 20px;
                display: block;
                float: left;
                line-height: 65px !important;
                color:white;
                text-decoration:none;
            }
        }
    }
}

.panel.header {
    display: -webkit-flex;
    height: 65px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    width: auto;
}

.ma-header-wrapper {
    width: 100%;
    float: none;
    background-color: @white;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    margin-top: 5px;
    border-bottom: 1px solid @extra-light-gray;

    .usp-list {
        box-sizing: border-box;
        list-style-type: none;
        margin-left: -40px !important;
        height: 50px;
        width: 100%;
        max-width: 1280px;
        margin: 0;
        float: none;

        .current-site-none{
            display: none;
        }

        li {
            float: left;
            margin: 0 25px 0 0;
            line-height: 50px;

            &:before{
                color: @dark-green;
                content: "\f00c";
                font-family: fontawesome;
                display: block;
                float: left;
                padding-right: 8px;
                font-size: 18px;
            }
        }
    }
}

.header .block-search {
    width: 29% !important;
    float: left;
    margin: 15px 0 0 15px;
    height: 60px;

    .block-content {
        margin-bottom: 0;
    }
}

.header .block-search .control {
    box-sizing: border-box;
    border-top: 0;
    float: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header .block-search input {
    padding: 0 9px;
    vertical-align: baseline;
    box-sizing: border-box;
    left: -300%;
    width: 100% !important;
    margin: 0;
    padding-right: 35px;
    position: static;
    border: none;
    height: 35px;
}

.block-search .action.search{
    display: inline-block;
    background-image: none;
    background: none;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
    padding: 5px 0;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;

    &:before{
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 22px;
        line-height: 22px;
        color: #8f8f8f;
        content: '\e615';
        font-family: 'icons-blank-theme';
        margin: 0;
        vertical-align: top;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center;
    }

    span {
        font: inherit;
        text-transform: none;
        font-family: inherit;
        color: @white;
        font-size: 16px;
        cursor: default;
        line-height: inherit;
        text-shadow: none;
        font-weight: 400;
        pointer-events: none;
        box-sizing: border-box;
        display: none;
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
}

.cancel-search {
    display: none!important;
}

.search-autocomplete {
    color: @base-color;
    margin-top: 0;
    z-index: 100;
    height: auto!important;
    background: white;
    top: 50px;
}

.header .block-search div.nested{
    box-sizing: border-box;
    display: block;
    padding-left: 5px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    padding-top: 0;
}

.advanced {
    display: none;
}

.header.panel {
    .header.links {
        float: right;
        font-size: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        margin-left: auto;
        width: auto;
        display: inline-table;
        margin-left: auto;

        li {
            min-width: 140px;
            float: right;
            font-size: 16px;
            padding: 0;
            float: right;
            display: block;
            margin-bottom: 0;

            a {
                padding: 0px 20px;
                display: block;
                float: left;
                line-height: 65px !important;
                color: white;
                text-decoration: none;
            }
        }
    }

}

.usp-header{
    .mobile-icon {
        float: right !important;
        margin-right: 0px !important;

        &:before {
            color: @light-orange;
            content: "\f10b"!important;
            font-size: 35px!important;
        }
    }
}

.ma-header-wrapper.mobile-only {
    display: none;
}

.minicart-wrapper:hover {
    background-color: @header-link-hover-color!important;
    color: #333;
}

.ma-header-wrapper {
    width: 100%;
    float: none;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    margin-top: 5px;
    border-bottom: 1px solid @gray-lines;
}