.customer-account-login,
.customer-account-forgotpassword,
.customer-account-create {
    .block-customer-login {
        float: left;
        clear: left;
    }

    .block-new-customer {
        width: 48.8%;
        float: right;
    }

    .block-title {
        font-size: 1.8rem;
        border-bottom: 1px solid @extra-light-gray;
        margin-bottom: 15px;
        padding-bottom: 12px;
    }

    .field.note.desktop-only.login-note {
        margin: 0 0 10px 0 !important;
    }

    .login > .field {
        display: flex;
        margin-top: 20px;
    }

    .actions-toolbar.login-toolbar {
        margin-left: 25.8%;
    }

    .login-forgot-password {
        order: 1;
    }

    u.new-customer-ul {
        text-decoration: none;
        font-size: 12px;
        margin-left: 10px;
    }

    li.new-customer-li {
        text-decoration: none;
        padding-left: 10px;
    }

    .form-create-account{
        .field{
            margin: 0 0 20px 0;
        }

        .register-links{
            display: none;
        }
    }   
}

.customer-address-form {
    .column.main {
        width: 75%;
        float: right;
    }

    .checkbox {
        float: left;
    }

    .field {
        margin: 10px 0 !important;

        .label {
            span {
                white-space: nowrap;
                padding: 0 0 5px 5px;
            }
        }
    }

    .form-address-edit {
        .fieldset {
            .legend {
                padding: 0;
                box-sizing: border-box;
                float: left;
                line-height: 1.2;
                font-size: 2rem;
            }
        }
    }
}