.catalog-product-view,
.page-product-configurable {

    .mr-right-info-box-desktop {
        background-color: @extra-light-gray;
        color: @dark-gray;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 15px;
        display: grid;

        .ul-product-points {
            margin: 0;
            padding: 5px;

            .product-points {
                list-style: none;

                b {
                    color: @dark-green;
                    font-weight: 700;
                }
            }

            .product-points:before {
                color: @dark-green;
                content: "\f00c";
                font-family: fontawesome;
                display: block;
                float: left;
                padding-right: 8px;
                font-size: 18px;
            }
        }
    }

    .product-price-box {
        background-color: @extra-light-gray;
        border:solid .5px @gray-lines;
        padding:10px;
        width: 100%;
        box-sizing: border-box;
        border-bottom: none;
        padding-bottom: 0;
    }

    .discount-price-tag-product {
        display: block;
        width: 160px;
        -ms-transform: rotate(-7deg);
        -webkit-transform: rotate(-7deg);
        transform: rotate(-7deg);
        font-size: medium;
        font-weight: bold;
        color: white;
        position: relative;
        z-index: 99;
        text-transform: uppercase;
        top: 75px;
    }

    .swatch-opt {
        margin: 15px 30px;
    }

    .swatch-attribute-options {
        margin-left: 10px
    }

    .swatch-option {
        border: 1px solid #dadada;
        cursor: pointer;
        float: left;
        height: 65px !important;
        width: 120px !important;
        margin: 0 10px 5px 0;
        max-width: 100%;
        min-width: 30px;
        overflow: hidden;
        padding: 1px 2px;
        position: relative;
        text-align: center;
        text-overflow: ellipsis;
    }


    .discount-price-tag-product:after {
        content: 'aanbieding!';
        text-transform: uppercase;
        position: absolute;
        background: @light-orange;
        color: white;
        padding: 5px 20px;
    }

    .title-review-container-product-page{
        display: grid;
        width: 100%;

        .page-title-product-page{
            display: block;
            width: 100%;
            float: left;
            font-weight: 600;
            font-size: 26px;
            color: @base-color;

            span{
                font-size: x-large;
                font-weight: 700;
                line-height: normal;
                font-style: normal;
                margin-top: 0;
            }
        }
    }

    .product-info-main{
        .product-info-price{
            .product-info-stock-sku{
                border: 1px solid @gray-lines;
                float: right;
                width: 100%;
                margin-bottom: 10px;

                .mr-sku{
                    font-size: 16px !important;
                    padding: 10px;
                    background-color: @white;
                }
            }
        }
    } 

    .shipping-status-product-page{

        .in-stock-pro-page{
            color: @dark-green;
            font-weight: bold;
            font-size: 14px;
            background-color: @extra-light-gray;
            border: solid .5px @gray-lines;
            padding: 0 10px 10px 10px;
            width: 100%;
            box-sizing: border-box;
            border-top: none;

            span{
                font-size: 14px;
                color: @light-gray;
                font-weight: normal;
                font-weight: bold;
            }
        }
    }

    .mr-right-info-box{
        display: none !important;
    }


    .contact-info-pro-page{
        display: none;
    }

    .qty-wrapper-pro-page {
        display: flex;
        float: right;
        margin: 10px;
    }

    span.qty-label-pro-page {
        float: left;
        line-height: 30px;
        vertical-align: middle;
        padding-right: 5px;
        margin: 10px;
    }

    .product-cpi-custom-options {
        margin: 0 10px;
    }

    .mr-info-nav {
        display: none !important;
    }

    .fvid {
        max-width: 690px;
        width: 100%;
        height: 388px;
    }

    .fvid iframe {
        max-width: 690px;
        width: 100%;
        height: 388px;
    }

    .related {
        .product-items{
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .column.main .product-item {
            position: relative;
        }

        .page-products .product-item-info {
            max-width: 100%;
            width: 100% !important;
            padding-left: 20px;
            padding-right: 20px;
        }

        .page-title-product-page{
            span{
                font-size: 16px;
                font-weight: 600;
            }
        }

        .product-item-info, .product-image-container {
            width: 100%;
            height: 100% !important;
            float: none;
        }

        span.catalog-product-name {
            padding-top: 17px;
            display: block;
            max-width: 80%;
        }

        .product-item-link {
            color: black!important;
            font-size: 16px;
            text-decoration: none;
            font-weight: 600;
            overflow: hidden;
            display: inherit;
        }

        .sq-image-catalog {
            width: 100%;
            max-height: 220px;
            display: block;

            a.product-item-photo-catalog {
                width: 100%;
                height: 100%;
                display: block;

                span.product-image-wrapper-catalog {
                    width: 100%;
                    height: 100%;
                    display: block;
                    text-align: center;

                    img.product-image-photo-catalog {
                        max-width: 240px;
                        height: 220px;
                        margin-left: auto;
                        margin: auto;
                    }
                }
            }
        }

        .product-item-link {
            color: black!important;
            font-size: 16px;
            text-decoration: none;
            font-weight: 600;
            overflow: hidden;
            display: inherit;
        }

        .home_cart_button {
            width: 100px;
            height: 48px;
            box-shadow: inset 0 -2px 0 0 #090;
            background-color: @common-green;

            &:after { 
                color: white;
                font-family: fontAwesome;
                font-size: x-large;
                line-height: 25px;
            }

            &:hover {
                background-color: @common-green-hover;
            }
        }

        .home_cart_button {
            color: white !important;
        }

        .block-actions {
            display: none !important;
        }
    }


    .mr-info-nav-desktop {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: @white;

        .mr-menu-item-first {
            height: 52px;
        }

        .mr-menu-item{
            margin: 0;

            a {
                display: block;
                color: @light-gray;
                padding: 0;
                text-decoration: none;
                border-top: 1px solid @extra-light-gray;
                font-size: 16px;
                line-height: 50px;
            }

            a:before {
                content: "\f054";
                color: @base-color;
                padding-right: 15px;
                font-family: fontawesome;
            }
        }

        .mr-menu-item:first-child {
            a {
                border: none;
            }

        }
    }

    span.link_bar_item {
        color: @base-color;
        font-size: 1.6rem;
        font-weight: 700;
        padding-right: 30px;
    }

    .mr-product-desc-main {
        display: inline-block;
        position: relative;
        width: 100%;

        .mr-product-desc-right {
            width: 48%;
            float: right;
        }

        .mr-product-desc-left {
            width: 48%;
            float: left;
        }
    }

    .mr-desc-title {
        font-weight: 700;
        color: @base-color;
        font-size: 150%;
        margin: 0;
        margin-top: 16px;
    }

    .additional-attributes{
        tbody{
            tr:nth-child(even){
                background: #d3d3d3;
            }
        }
    }

    div#product-review-table {
        padding-left: 10px!important;
    }

    span.ratings-label {
        float: left;
        margin-top: 5px;
    }

    fieldset.field.required.review-field-ratings {
        padding: 10px 0 0 0;
    }

    .review-legend{
        .field{
            margin-top: 10px;
        }
    }

    .column.main .block:last-child {
        margin-bottom: 10px;
    }

    div#product-review-container {
        width: 50%;

        .review-list-pro-page{
            .block-title{
                display: inline-block;
                width: 100%;

                span{
                    font-weight: 700;
                    color: @base-color;
                    font-size: 150%;
                    float: left;
                }
            }
        }
    }

    .review-items{
        .review-item{
            padding: 0;
            margin: 5px 0;
        }
    }

    .review-toolbar {
        display: none;
    }

    .review-content {
        font-size: 13px;
        color: dimgrey;
        margin-bottom: 20px;
    }

    .block.related {
        width: 100%;
        display: grid;
        margin: 0;
    }

    .catalog-label-product-page {
        background-image: url(../images/fast-delivery.png) !important;
        background-color: @base-color-rgba !important;
        padding-left: 50px !important;
        width: 230px !important;
        position: relative !important;
        display: inline-block;
        height: 32px !important;
        background-size: contain !important;
        opacity: .8;
        -moz-opacity: .8;
        -webkit-opacity: .8;
        -moz-box-sizing: border-box;
        background-repeat: no-repeat;
        z-index: 99;
        top: 32px;

        span {
            color: @white;
            font-size: 13px !important;
            font-weight: 700 !important;
            line-height: 32px;
        }
    }

    .title-date-review-pro-page {
        display: block;

        .review-title-pro-page {
            font-size: 14px;
            font-weight: bold;
            display: inline-block;
        }

        time.review-details-value-pro-page {
            display: inline-block;
            float: right;
            font-style: italic;
            color: @light-gray;
        }
    }

    .review-ratings-pro-page {
        margin: 5px 0;
    }

    .mr-tocart {
        width: 100%;
        margin: 0;
        display: block;
        height: 50px;
        font-size: 14px;
        background-color: @common-green;
        cursor: pointer;
        font-weight: 700;
        padding: 7px 15px;
        box-sizing: border-box;
        vertical-align: middle;
        border: 0!important;
        color: @white;
        box-shadow: inset 0 -2px 0 0 #090;
        transition: .3s;

        &:hover {
            background: @dark-green;
        }
    }

    .admin__field-option{
        .admin__field-label{
            display: inline-flex;

            .price-notice{
                .price-container{
                    display: flex;

                    .price-including-tax {
                        order: 1;
                    }

                    .catalog-normal-price-main{
                        order: 0;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .mr-right-info-box-desktop {
        // display: none;
    }

    .mr-right-info-box {
        // display: none;
    }

    .mr-info-nav-desktop{
        display: none;
    }

    a.a-link-bar {
        display: inline;
    }


    .product-options-wrapper {

        .options-list {
            // height: calc(80% - 90px);
            padding: 8px;
            width: 100%;

            .admin__field-label {
                width: 90%;
            }

            .admin__field-label > span:first-child {
                width: 70%;
                display: block;
                float: left;
                word-wrap: break-word;
                white-space: normal !important;
            }

            .field{

                border-bottom: 1px solid #d3d3d3;

                .price-container {
                    float:right;
                }

                span.price-notice {
                    width: 28%;
                    display: block;
                    float: right;
                    word-wrap: break-word;
                }
                .catalog-normal-price span {
                    white-space: nowrap !important;
                }
            }
        }
    }

    .product-page-content {
        .link_bar {
            padding: 10px 0;
            border-top: solid 1px @gray-lines;
            border-bottom: solid 1px @gray-lines;
            margin-bottom: 10px;
        }
    }

    .review-section {
        border-top: solid 1px lightgray;
        padding-top: 10px;
        margin-top: 10px;
    } 

    .mz-thumb img {
        box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.36) !important;
    }

    .un-reg-cus{
        .customer-name {
            .field {
                margin: 10px 0;
            }

            .btn-primary {
                width: 100px;
                margin: 0;
                display: block;
                height: 40px;
                font-size: 14px;
                background-color: @common-green;
                cursor: pointer;
                font-weight: 700;
                padding: 0;
                box-sizing: border-box;
                vertical-align: middle;
                border: 0!important;
                color: @white;
                box-shadow: inset 0 -2px 0 0 #090;
                transition: .3s;
                line-height: 40px;

                &:hover {
                    background: @dark-green;
                }

                &:active {
                    background: @dark-green;
                }

                &:visited {
                    background: @dark-green;
                }

                &:focus {
                    background: @dark-green;
                    color: @white;
                }
            }
        }

        h1.popup-title {
            font-size: 26px;
        }

        .popup-close-button{
            display: none;
        }
    }

    table#product-attribute-specs-table {
        margin: 0;
    }
}
