.menu-mobile {
    display: none;
    padding: 20px;
    &:after {
        content: "\f394";
        font-size: 2.5rem;
        padding: 0;
        float: right;
        position: relative;
        top: 50%;
        transform: translateY(-25%);
    }
}

.menu-dropdown-icon {
    &:before {
        content: "\f489";
        display: none;
        cursor: pointer;
        float: right;
        padding: 1.5em 2em;
        background: @white;
        color: @dark;
    }
}

.menu {
    > ul {
        margin: 0 auto;
        width: 100%;
        list-style: none;
        padding: 0;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        &:before,
            &:after {
            content: "";
            display: table;
        }
        &:after {
            clear: both;
        }
        > li {
            float: left;
            background: @white;
            padding: 0;
            margin: 0;
            a {
                text-decoration: none;
                padding: 1.5em 3em;
                display: block;
            }
            &:hover {
                background: @white !important;
            }
            > ul {
                display: none;
                width: 100%;
                padding: 20px;
                position: absolute;
                z-index: 99;
                left: 0;
                margin: 0;
                list-style: none;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                border: @menu-gray solid 1px;
                background: white;
                border-bottom: solid @base-color 2px;
                margin-top: 35px;
                max-height: 760px;
                overflow: scroll;
                overflow-y: auto;
                overflow-x: auto;
                column-gap: 1em;
                -moz-column-count: 5;
                -webkit-column-count: 5;
                column-count: 5;
                &:before,
                    &:after {
                    content: "";
                    display: table;
                }
                &:after {
                    clear: both;
                }
                > li {
                    margin: 0;
                    padding-bottom: 0;
                    list-style: none;
                    width: 25%;
                    background: none;
                    a {
                        color: @black;
                        padding: .2em 0;
                        width: 95%;
                        display: block;
                    }
                    > ul {
                        display: block;
                        padding: 0;
                        margin: 10px 0 0;
                        list-style: none;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        &:before,
                            &:after {
                            content: "";
                            display: table;
                        }
                        &:after {
                            clear: both;
                        }
                        > li {
                            float: left;
                            width: 100%;
                            margin: 0;
                            font-size: 13px;
                            a {
                                border: 0;
                            }
                        }
                    }
                }
                &.normal-sub {
                    /*width: 300px;
                    left: auto;
                    padding: 10px 20px;*/
                    > li {
                        width: 100%;
                        a {
                            border: 0;
                            padding: 1em 0;
                        }
                    }
                }
            }
        }
    }
}

/* NUWAN */
.nav-sections-item-content {
    display: block;
    width: 100%;
}

.column > ul > li > a {
    color: @a-color !important;
}

.menu .topstatic,.menu .bottomstatic {
    clear: both
}
.menu .leftstatic {
    float: left;
    margin-right: 15px;
}
.menu .rightstatic {
    float: right;
}

.menu > ul > li {
    line-height: 50px!important;
    display: block;
    padding: 10px 5px 10px 0px !important;
}

.level1 > a {
    font-weight: bold!important;
    font-size: 16px;
}

.menu > ul > li > ul > li > ul > li {
    padding: 0!important;
}

.column-submenu {
    background: white;
}

.level1 > .submenu > .level2 > a {
    background: white;
    font-weight: normal;
}

.column > ul > .level1 {
    background: white !important;
}

li.column, .column-submenu {
    background: white !important;
}

@-moz-document url-prefix() {
    .menu > ul > li > ul {
        column-gap: 1em;
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }

    .menu > ul > li > ul > .column {
        -moz-page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        break-inside: avoid;
        -o-column-break-inside: avoid;
        -ms-column-break-inside: avoid;
        column-break-inside: avoid;
        page-break-inside: avoid;
        width: 100%;
    }
}

.menu > ul > li > ul > .column {
    display: block;
    margin: 0;
    width: 100%;
}

.level3 {
    display: none !important;
}

a.level2-menu-item:hover{
    color: @light-orange;
}

.nav-sections {
    margin-bottom: 0!important;
    z-index: 50;
    width: 100%;
    float: left;
    display: block !important;

    .nav-sections-items {
        background-color: @menu-gray;
        display: -webkit-box;
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;

        .nav-sections-item-title {
            display: none;
        }

        .nav-sections-item-content {
            display: block;
            width: 100%;

            .navigation {
                background: @menu-gray;
                font-weight: 700;
                height: inherit;
                left: auto;
                overflow: inherit;
                padding: 0;
                position: relative;
                top: 0;
                width: 100%;
                z-index: 3;
                display: block;

                .menu > ul {
                    margin: 0 auto;
                    width: 100%;
                    list-style: none;
                    padding: 0;
                    position: relative;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }
            }
        }
    }
}

.page-header .panel.wrapper .sections li {
    position: initial;
    background: @menu-gray;
}

.page-header .panel.wrapper .sections a {
    color: #575757;
    float: left;
    width: 100%;
    padding: 0 10px;
    position: relative;
    box-sizing: border-box;
    line-height: 25px !important;
    border: none;
}

.menu-loader{
    width: 95%;
    height: 20px;
    background-image: url(../images/loading-dots.gif) !important;
    display: block;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    background-position: center;
    top: 5px;
    text-align: center;
    font-size: smaller;
    line-height: 56px;
    padding-left: 10px;
}

.menu-reload-button-cont {
    width: 97%;
    display: grid;
    position: absolute;
    top: 5px;
}

.menu-reload-button{

    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 35px;

    &:before{
        font-family: fontAwesome;
        font-size: 16px;
        content: '\f01e';
        color: @white;
        background: @base-color;
        display: block;
        line-height: 35px;
        text-align: center;
        width: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}

.dsub-menu{
    min-height: 50px;
}

span.menu-load-error {
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    padding: 5px;
}