<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<form id="co-shipping-method-form" data-bind="blockLoader: isLoading, visible: isVisible()">
    <p class="field note" data-bind="visible: (shippingRates().length <= 0)">
        <!-- ko text: $t('Sorry, no quotes are available for this order at this time')--><!-- /ko -->
    </p>
    <fieldset class="fieldset rate" data-bind="visible: (shippingRates().length > 0)">
        <dl class="items methods" data-bind="foreach: shippingRateGroups">
            <dt class="item-title"><span class="item-title-text" data-bind="text: $data"></span></dt>
            <dd class="item-options" data-bind="foreach: $parent.getRatesForGroup($data)">
                <div data-bind="css: {'field choice item': available, 'message error': !available} ">
                    <!-- ko ifnot: (available) -->
                    <div data-bind="text: error_message"></div>
                    <!-- /ko -->
                    <!-- ko if: (available) -->
                    <input type="radio"
                           class="radio"
                           data-bind=" 
                           click: $parents[1].selectShippingMethod,
                           checked: $parents[1].selectedShippingMethod,
                           attr: {
                           class: method_code === 'mragriexpress' ? 'radio multi_line':'radio',
                           value: carrier_code + '_' + method_code,
                           id: 's_method_' + method_code,
                           shippingTotal: $parents[1].getShippingSubtotal(),
                           inputMode: 'mr_shipping_method',
                           checked: (parseInt($parents[1].getShippingSubtotal()) > 20)
                           }
                           "/>
                    <label class="label shipping-method-code" data-bind="attr: {for: 's_method_' + method_code}">
                        <!-- ko if: ($data.method_title != "") -->
                        <span class="shipping-method-title">
                            <!-- ko text: $data.method_title --><!-- /ko -->
                        </span>
                        <!-- /ko -->
                        <span class="shipping-method-value" data-bind=" attr: { class: method_code === 'mragriexpress' ? 'shipping-method-value-multi':'shipping-method-value'}">
                            <!-- ko if: (amount == 0) -->
                            Gratis
                            <!-- /ko -->
                            <!-- ko ifnot: (amount == 0) -->
                            <!-- ko text: $parents[1].getFormattedPrice(amount, false, false) --><!-- /ko -->
                            <!-- /ko -->
                        </span>
                    </label>
                    <!-- /ko -->
                </div>
            </dd>
        </dl>
    </fieldset>
</form>