<?php
$step = 0;

if ($block->getRequest()->getFullActionName() == 'checkout_cart_index') {
    $step = 1;
}

if ($block->getRequest()->getFullActionName() == 'onestepcheckout_index_index') {
    $step = 2;
}

if ($block->getRequest()->getFullActionName() == 'checkout_onepage_success') {
    $step = 3;
}
?>
<div class="progress-container">	
    <div class="progress-wrapper">	
        <div class="arrow-steps clearfix">
            <div class="step first-item"> <span> 0% Winkelen</span> </div>
            <div class="step <?php echo $block->getRequest()->getFullActionName() == 'checkout_cart_index' ? 'current' : '' ?>"> <span>85% Winkelwagen</span> </div>
            <div class="step <?php echo $step < 2 ? 'pending-item' : '' ?> <?php echo $block->getRequest()->getFullActionName() == 'onestepcheckout_index_index' ? 'current' : '' ?>"> <span>90% Gegevens</span> </div>
            <div class="step <?php echo $step < 3 ? 'pending-item' : '' ?> <?php echo $block->getRequest()->getFullActionName() == 'checkout_onepage_success' ? 'current' : '' ?>"> <span>100% Voltooid</span> </div>
        </div>
    </div>
</div>