<a name="page_top"></a> 

<div class="ma-header-wrapper">
    <ul class="usp-list usp-header">
        <?php
        $style = "current-site";

        if ($block->getStoreName() == "Default Store View") {
            $style = "current-site-none";
        }
        ?>

        <li class="<?php echo $style; ?>"><?php echo $block->getStoreName(); ?></li>
        <li><?php echo __('Free shipping over € 50,-') ?></li>
        <li class="mobile_hide hide_on_small"><?php echo __('Delivery to your home') ?></li>
        <li class="mobile_hide hide_on_small"><?php echo __('7 days access') ?></li>
        <li><?php echo __('Pay after delivery') ?></li>
        <li class="mobile-icon"><?php echo __('Call 0031 85 40 139 40') ?></li>
    </ul>
</div>

<div class="ma-header-wrapper mobile-only">
    <ul class="usp-list usp-header">
        <li class="mobile-icon"><a href="tel:0031 85 40 139 40"><?php echo __('Call 0031 85 40 139 40') ?></a></ul></a>
</li>
<hr class="fullwidth-hr">
</div>