<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 *  General template for displaying group of blocks divided into sections
 */
$group = $block->getGroupName();
$groupCss = $block->getGroupCss();
$groupBehavior = $block->getGroupBehaviour() ? $block->getGroupBehaviour() : '{"tabs":{"openedState":"active"}}';
?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames($group, 'getChildHtml')) : ?>
    <div class="sections <?= $block->escapeHtmlAttr($groupCss) ?>">
        <?php $layout = $block->getLayout(); ?>
        <div class="section-items <?= $block->escapeHtmlAttr($groupCss) ?>-items"
             data-mage-init='<?= $block->escapeHtmlAttr($groupBehavior) ?>'>
                 <?php foreach ($detailedInfoGroup as $name) : ?>
                     <?php
                     $html = $layout->renderElement($name);
                     if (!trim($html) && ($block->getUseForce() != true)) {
                         continue;
                     }
                     $alias = $layout->getElementAlias($name);
                     $label = $block->getChildData($alias, 'title');
                     ?>
                <div class="nav-section-title-cont section-item-title <?= $block->escapeHtmlAttr($groupCss) ?>-item-title" data-role="collapsible">
                    <div class="title-item-left">
                        <span class="mobile-menu-login"></span>
                    </div>

                    <div class="title-item-center">
                        <span class="slide-menu-title"><?php echo $label; ?></span>
                    </div>

                    <div class="title-item-right">
                        <span class="mobile-menu-close-button"></span>
                    </div>
                </div>
                <div class="section-item-content <?= $block->escapeHtmlAttr($groupCss) ?>-item-content" id="<?= $block->escapeHtmlAttr($alias) ?>" data-role="content">
                    <?= /* @noEscape */ $html ?>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>
