// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Shopping cart
    //  ---------------------------------------------

    //  Summary block


    .shipping-total,
    .tax-total {
        font-weight:normal;
    }

    .cart-summary {
        &:extend(.abs-add-box-sizing all);
        .lib-css(background, @sidebar__background-color);
        margin-bottom: @indent__m;
        padding: 1px 15px @indent__m;

        > .block {
            > .content {
                > #shipping-zip-form {
                    display:none;
                }
            }
        }

        > .title {
            display: none;
            .lib-heading(h3);
        }

        .block {
            &:extend(.abs-discount-block all);
            margin-bottom: 0;

            .item-options {
                margin-left: 0;
                padding-left: 5px;
                padding-right: 10px;
            }

            .fieldset {
                margin: 15px 0 @indent__m @indent__xs;

                .field {
                    margin: 0 0 @indent__s;

                    &.note {
                        font-size: @font-size__s;
                    }
                }

                .methods {
                    .field {
                        > .label {
                            display: inline;
                        }
                    }
                }
            }

            .fieldset.estimate {
                > .legend,
                > .legend + br {
                    &:extend(.abs-no-display all);
                }
            }
        }
        .actions-toolbar {
            > .primary {
                button {
                    &:extend(.abs-revert-secondary-color all);
                }
            }
        }
        &:extend(.abs-adjustment-incl-excl-tax all);
    }

    .grand-sub-totals {
        > .amount {
            > .price {
                font-weight:bold !important;
            }
        }
    }

    //  Totals block
    .cart-totals {
        border-top: 1px solid @border-color__base;
        padding-top: @indent__s;
        &:extend(.abs-sidebar-totals all);

        .table-wrapper {
            margin-bottom: 15px;
            overflow: inherit;
        }
    }

    .table-totals:nth-child(2){
        /*display:none;*/
    }

    .items-in-cart {
        border-bottom: solid 1px #ccc;
        padding-bottom: 20px;
    }

    //  Products table
    .cart.table-wrapper {

        .items {
            thead + .item {
                border-top: @border-width__base solid @border-color__base;
            }

            > .item {
                border-bottom: @border-width__base solid @border-color__base;
                position: relative;
            }
        }

        .col {
            padding-top: @indent__base;

            &.qty {

                .label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }

        .item {
            &-actions td {
                padding-bottom: @indent__s;
                text-align: center;
                white-space: normal;
            }

            .col {
                &.item {

                    min-height: 35px;
                    padding: @indent__m 0 @indent__s 75px;
                    position: relative;
                }
            }
        }

        .actions-toolbar {
            &:extend(.abs-add-clearfix all);

            > .action {
                &:extend(button all);
                .lib-link-as-button();
                margin-bottom: @indent__s;
                float:right;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .action {
            &.help.map {
                &:extend(.abs-action-button-as-link all);
                font-weight: @font-weight__regular;
            }
        }

        .product {

            &-item-details {
                white-space: normal;
            }

            &-item-name {
                display: inline-block;
                font-weight: @font-weight__regular;
            }
        }

        .gift-registry-name-label {
            &:after {
                content: ':';
            }
        }

        //  Product options
        .item-options {
            font-size: @font-size__s;
            margin-bottom: @indent__s;
            &:extend(.abs-product-options-list all);
            &:extend(.abs-add-clearfix all);
        }

        .product-item-name + .item-options {
            margin-top: @indent__s;
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .action.configure {
            display: inline-block;
            margin: 0 0 @indent__base;
        }
    }

    .cart-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items all);
            width:75% !important;
        }

        .checkout-methods-items {
            &:extend(.abs-reset-list all);
            margin-top: @indent__base;
            text-align: center;

            .action.primary {
                &:extend(.abs-button-l all);
                width: 100%;
            }

            .item {
                & + .item {
                    margin-top: @indent__base;
                }
            }
        }
    }

    //
    //  Cross sell
    //  ---------------------------------------------

    .block.crosssell {
        margin-top: 70px;
    }

    .cart-tax-info,
    .cart .cart-tax-info {
        + .cart-tax-total {
            display: block;
        }
    }

    .cart.table-wrapper,
    .order-items.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: left;
        }
    }

    .cart.table-wrapper .product-item-details, 
    .cart.table-wrapper .col.price, 
    .cart.table-wrapper .col.qty, 
    .cart.table-wrapper .col.subtotal {
        vertical-align:middle !important;
    }


    .actions-toolbar {
        > .action-towishlist {
            display:none !important;
        }

        > .action-edit {
            display:none !important;
        }
    }

    

    .normal-font {
        font-size:medium !important;
        font-weight:bold !important;
    }

    .totals {
        > .mark {
            font-weight:bold !important;
        }

        > .amount {
            > .price {
                font-weight:bold !important;
            }
        }
    }

    .shipping {
        > .amount {
            > .price {
                font-weight:normal !important;
            }
        }
    }

    .grand-total {
        > .amount {
            > .price {
                font-weight:bold !important;
            }
        }
    }

    .grand {
        > .mark {
            font-weight:bold !important;
        }
    }

    .cart-totals .mark strong, .opc-block-summary .table-totals .mark strong {
        font-weight:bold !important;
    }

    .grand {
        > .amount {
            > strong {
                > .price {
                    font-weight:bold !important;
                }
            }
        }
    }

    .opc-block-summary {
        .product-item {
            .subtotal {
                font-weight:bold;
            }
        }
    }

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .cart-container {
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    .cart-summary {
        -webkit-box-ordinal-group: 2;
        margin-top:20px;
    }

    .cart-container {
        .form-cart {
            width:100% !important;
        }
    }

    .cart-summary{
        width:100% !important;
    }

    .opc-summary-wrapper {
        z-index: 999999;
        left: -100%;
        float: left;
        position: relative;
        margin: 0px;
        padding: 0px;
        order: 0;
        width: 100%;
        visibility:visible;
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        box-ordinal-group: 2;
    }

    .checkout-container {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        margin: 0 0 20px;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
    }

    .opc-estimated-wrapper {
        display:none !important;
    }

    .opc-wrapper {
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        box-ordinal-group: 3;
    }

    .opc-progress-bar {
        margin: 0 0 20px;
        counter-reset: i;
        font-size: 0;
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        box-ordinal-group: 1;
        padding-bottom: 20px !important;
    }

    .cart {
        .item-info{
            .col {
                .product-item-photo {
                    .product-image-container {
                        max-width: 75px !important;
                        max-height:70px!important;
                    }
                }
            }
        }
    }

    .custom-slide .modal-inner-wrap {
        box-shadow:none !important;
    }

    .authentication-wrapper {
        display:none;
    }

    .sub-no-right-padding {
        padding-right:0px !important;
    }

    .price-excluding-tax .price {
        font-size:18px;
    }

    .center-align {
        float:none !important;
    }

    .cart {
        &.table-wrapper {
            overflow: inherit;

            thead {
                .col {
                    &:not(.item) {
                        display: none;
                    }
                }
            }

            .col {
                &.qty,
                &.price,
                &.subtotal,
                &.msrp {
                    box-sizing: border-box;
                    display: block;
                    float: left;
                    text-align: center;
                    white-space: nowrap;
                    width: 33%;
                    &:before {
                        display:none;
                        content: attr(data-th) ':';
                        font-weight: @font-weight__bold;
                        padding-bottom: @indent__s;
                    }
                }

                &.msrp {
                    white-space: normal;
                }
            }

            .item {
                .col.item {
                    padding-bottom: 0;
                    display:block;
                }
            }
        }
    }

    .cart-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items-mobile all);
        }
    }



    .cart.table-wrapper thead .col:not(.item)
        {
        display:none !important;
    }

    .cart.table-wrapper .action-gift {
        display:none !important;
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .checkout {
        font-size: 1.8rem!important;
        height: 50px;
    }
    .form-cart {
        > .table-wrapper {
            > .items {
                > .item {
                    > .item-info {
                        > .subtotal {
                            /*padding-right:220px !important;*/
                        }
                    }
                }
            }
        }
    }

    .cart.table-wrapper {
        .item {
            .col.item {
                width:40%;
            }
        }
    }

    .item-info > .subtotal {
        display:table-cell !important;
    }

    .item-actions {
        background:none !important;
    }

    .cart.table-wrapper .item-actions .actions-toolbar {
        margin-top: -80px;
        float: right;
        display: table;
    }



    .cart-container {
        &:extend(.abs-add-clearfix-desktop all);
        .form-cart {
            &:extend(.abs-shopping-cart-items-desktop all);
        }

        .widget {
            float: left;
        }
    }

    .cart-summary {
        float: right;
        position: relative;
        width: 23%;

        .actions-toolbar {
            .column.main & {
                &:extend(.abs-reset-left-margin-desktop all);
                > .secondary {
                    float: none;
                }
            }
        }

        .block {
            .fieldset {
                .field {
                    .lib-form-field-type-revert(@_type: block);
                    margin: 0 0 @indent__s;
                }
            }
        }
    }

    .cart {
        &.table-wrapper {
            .items { // Google Chrome version 44.0.2403.107 m fix
                     min-width: 100%;
                     width: 100%;
            }

            .item {
                .col {
                    &.item {
                        padding: 10px 8px @indent__s;
                    }
                }

                &-actions {
                    td {
                        text-align: right;
                    }
                }
            }

            .product {
                &-item-photo {
                    display: table-cell;
                    max-width: 100%;
                    padding-right: @indent__base;
                    position: static;
                    vertical-align: top;
                    width: 1%;
                }

                &-item-details {
                    display: table-cell;
                    vertical-align: middle;
                    white-space: normal;
                    width: 99%;
                }
            }

            .item-actions {
                .actions-toolbar {
                    text-align: left;
                    &:extend(.abs-reset-left-margin-desktop all);
                }
            }
        }
    }
}
