// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@minicart__border-color: @color-gray80;
@minicart__padding-horizontal: @indent__base;

@minicart-qty__height: 24px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //--------------------- MINICART ---------------------// 

    .subtotal-bold {
        font-weight:bold !important;
    }

    .price-container {
        > .subtotal-bold {
            > .price {
                font-weight:bold !important;
            }
        }
    }

    .block-minicart {
        .subtotal {
            margin:0!important;
            padding-top:0!important;;
        }
    }

    .minicart-price {
        width:50px;
    }

    .minicart-items {
        overflow:hidden;
        padding: 0;
        list-style: none none;

        > .product-item {
            > .product {
                > .product-item-photo {
                    .product-image-container {
                        padding:5px;
                    }
                }
            }
        }
    }

    .items-in-cart {
        .content {
            .minicart-items-wrapper {
                .minicart-items {
                    > .product-item:hover {
                        background:none;
                    }
                }
            }
        }		
    }


    .block-minicart {  
        #minicart-content-wrapper {
            .block-content {
                .minicart-items-wrapper {
                    .minicart-items {
                        > .product-item:hover {
                            background-color: rgba(0,0,0,.15);
                        }
                    }
                }
            }
        }
    }

    .minicart-price {
        > .price {
            font-weight:normal !important;
            font-size:14px !important;
            color:#333 !important;
        }
    }

    .minicart-qty {
        float:left;
        margin-right:5px;
        font-size:14px;
    }

    .block-minicart .amount .price-wrapper:first-child .price
        {
        font-size:1.4rem !important;
        color:#333333;
    }

    .minicart-link:hover {
        text-decoration:underline;
    }

    .action-container {
        padding: 30px 0 30px 0;
        line-height: 30px;
    }

    .float-left {
        float:left;
    }

    .float-right {
        float:right;
        padding-top:10px;
    }

    .minicart-item-name-price{
        vertical-align:middle;
        width:100%;
        padding-top:30px;
        font-size:1.4rem;
    }

    .minicart-item-name {
        width:60%;
        float:left;
    }

    .minicart-item-price {
        width:40%;
        float:right;
    }

    .minicart-items .product-item-name a {
        color: #09759f!important;
        text-decoration: none!important;
        font-weight: bold!important;
        line-height: 18px;
        overflow: hidden;
        display: inherit;
    }

    .block-minicart {
        .items-total {
            float: left;
            margin: 0 @indent__s;

            .count {
                font-weight: @font-weight__bold;
            }
        }

        .subtotal {
            text-align: right;
            float:right;
            display:table;
            font-size:1.4rem;

            .label {
                &:extend(.abs-colon all);
            }

            > .label {
                display:table-cell;
                padding-right:30px;
            }

            > .price-container{
                display:table-cell;
            }
        }

        .amount {
            .price-wrapper {
                &:first-child {
                    .price {
                        font-size: @font-size__l;
                        font-weight: @font-weight__bold;
                    }
                }
            }
        }

        .subtitle {
            display: none;

            &.empty {
                display: block;
                font-size: 14px;
                padding: @indent__l 0 @indent__base;
                text-align: center;
            }
        }

        .text {
            &.empty {
                text-align: center;
            }
        }

        .block-content {
            > .actions {
                margin-top: 15px;
                text-align: center;
                color:@a-color;
                float:left;

                > .primary {
                    margin: 0 @indent__s 15px;

                    .action {
                        &.primary {
                            &:extend(.abs-button-l all);
                            display: block;
                            margin-bottom: 15px;
                            width: 100%;
                            float:right;
                            height:30px;
                            line-height:0;
                            padding:7px 15px;
                            font-size:14px;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }

        .block-category-link,
        .block-product-link,
        .block-cms-link,
        .block-banners {
            margin: 15px 0 0;
            text-align: center;
        }
    }

    .minicart-wrapper {
        .lib-dropdown(
        @_toggle-selector: ~'.action.showcart',
            @_options-selector: ~'.block-minicart',
            @_dropdown-toggle-icon-content: @icon-cart,
            @_dropdown-toggle-active-icon-content: @icon-cart,
            @_dropdown-list-item-padding: false,
            @_dropdown-list-item-hover: false,
            @_icon-font-position: before,
            @_icon-font-color: @minicart-icons-color,
            @_icon-font-color-hover: @minicart-icons-color-hover,
            @_icon-font-color-active: @minicart-icons-color
            );
        float: right;

        .block-minicart {
            .lib-css(padding, 25px @minicart__padding-horizontal);
            right: 0;
            width: 320px;

            .block-title {
                display: none;
            }

            &:after {
                left: auto;
                right: 25px;
            }

            &:before {
                left: auto;
                right: 26px;
            }
        }

        .product {
            .actions {
                float: right;
                margin: -24px 0 0;
                text-align: right;

                > .primary,
                > .secondary {
                    display: inline;
                }
            }
        }

        .action {
            &.close {
                .lib-button-icon(
                @icon-remove,
                @_icon-font-size: 32px,
                    @_icon-font-line-height: 32px,
                    @_icon-font-text-hide: true
                    );
                .lib-button-reset();
                height: 40px;
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
            }

            &.showcart {
                white-space: nowrap;

                .text {
                    &:extend(.abs-visually-hidden all);
                }

                .counter.qty {

                    &.empty {
                        display: none;
                    }

                    .loader {
                        > img {
                            .lib-css(max-width, @minicart-qty__height);
                        }
                    }
                }

                .counter-label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }

        .minicart-widgets {
            margin-top: 15px;
        }
    }

    .minicart-items-wrapper {
        .lib-css(border, 1px solid @minicart__border-color);
        .lib-css(margin, 0 -@minicart__padding-horizontal);
        border-left: 0;
        border-right: 0;
        overflow-x: auto;
    }



    .minicart-items {
        .lib-list-reset-styles();

        .product-item {
            padding: 0;

            &:not(:first-child) {
                .lib-css(border-top, 1px solid @minicart__border-color);
            }

            &:first-child {
                padding-top: 0;
            }

            > .product {
                &:extend(.abs-add-clearfix all);
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .product-item-pricing {
            .label {
                display: inline-block;
                width: 4.5rem;
            }
        }

        .price-minicart {
            margin-bottom: @indent__xs;
        }

        .product {
            > .product-item-photo,
            > .product-image-container {
                float: left;
            }

            .toggle {
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                    @_icon-font-size: 28px,
                    @_icon-font-line-height: 16px,
                    @_icon-font-text-hide: false,
                    @_icon-font-position: after,
                    @_icon-font-display: block
                    );
                cursor: pointer;
                position: relative;
                color:#000000;

                &:after {
                    position: static;
                    right: @indent__base;
                    top: 0;
                }
            }

            &.active {
                > .toggle {
                    .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                        @_icon-font-position: after
                        );
                }

            }
        }

        .product-item-name {
            font-weight: @font-weight__regular;
            margin: 0 0 @indent__s;

            a {
                .lib-css(color, @link__color);
            }
        }

        .product-item-details {
            padding-left:90px;

            .price {
                font-weight: @font-weight__bold;
            }

            .price-including-tax,
            .price-excluding-tax {
                margin: 0;
            }

            .weee[data-label] {
                .lib-font-size(11);
                .label {
                    &:extend(.abs-no-display all);
                }
            }

            .details-qty {
                margin-top: @indent__s;
            }
        }

        .product.options {
            .tooltip.toggle {
                .lib-icon-font(
                @icon-down,
                @_icon-font-size: 28px,
                    @_icon-font-line-height: 28px,
                    @_icon-font-text-hide: true,
                    @_icon-font-margin: -3px 0 0 7px,
                    @_icon-font-position: after
                    );

                .details {
                    display: none;
                }
            }
        }

        .details-qty,
        .price-minicart {
            .label {
                &:extend(.abs-colon all);
            }
        }

        .item-qty {
            /*
            margin-right: @indent__s;
            text-align: center;
            */
            width: 40px;
            padding-left: 12px !important;
            overflow: visible;
            padding-right: 0 !important;
        }

        .update-cart-item {
            .lib-font-size(11);
            vertical-align: top;
            float: right;
            margin-right: 35px;
            margin-top: 5px;
        }

        .subtitle {
            display: none;
        }

        .action {
            &.edit,
            &.delete {
                .lib-icon-font(
                @icon-settings,
                @_icon-font-size: 28px,
                    @_icon-font-line-height: 28px,
                    @_icon-font-text-hide: true,
                    @_icon-font-color: @color-gray19,
                    @_icon-font-color-hover: @color-gray19,
                    @_icon-font-color-active: @color-gray19
                    );
            }

            &.delete {
                .lib-icon-font-symbol(
                @_icon-font-content: @icon-trash
                    );
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .minicart-wrapper {
        .block-minicart {
            width: 290px;
        }
    }

    .minicart-wrapper {
        .action.showcart {
            .counter.qty {
                top: 0px !important;
                box-sizing: border-box !important;
                position: absolute;
                right: 0px !important;
            }
        }
    }

    .minicart-wrapper .action.showcart, .nav-toggle:before {
        color: #FFF;
        width: 100%;
        height: 100%;
        text-align: center;
        margin-top:-5px;
    }

    .minicart-wrapper {
        .action.showcart:before {
            padding: 0;
            line-height:65px;
            font-size:35px;
            color:white;
        }
    }

    .checkout-container {
        > .opc-estimated-wrapper {
            > .minicart-wrapper{
                display:none;
            }
        }
    }

    .minicart-wrapper {
        display: block;
        float: right;
        margin: 10px;
        cursor: pointer;
        position: relative;
    }

    .minicart-wrapper .action.showcart.active:before {
        line-height:35px !important;
    }

    .minicart-wrapper {
        .action.showcart.active:before {
            font-size:35px !important;
            color:white;
        }
    }

    .minicart-wrapper:hover, .nav-toggle:hover {
        background-color:#126087;
    }

    .minicart-wrapper .action.showcart:before {
        -webkit-font-smoothing: antialiased;
        font-size: 35px;
        line-height: 35px;
        color: #FFF !important;
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .minicart-wrapper {
        margin-left: 13px;
        order:1;
        -webkit-order: 3;

        .block-minicart {
            width: 390px;
        }
    }

    .minicart-subtotal-cont {
        padding:10px;
    }

    .minicart-items .product .toggle
    {
        color:black;
    }

    .minicart-items .item-qty {
        width: 40px!important;
    }

    .minicart-wrapper .action.showcart
    {
        line-height:65px;
    }

    .minicart-wrapper .action.showcart:before {
        line-height: inherit;
        font-size: 35px !important;
        color: #FFF;
    }

    .minicart-wrapper:hover {
        background-color: #126087;
        color:#333;
    }

    .minicart-wrapper .action.showcart.active {
        text-decoration: none;
        box-sizing: border-box;
        line-height:65px;
        color:white;
        top:8px;
    }

    .minicart-wrapper .action.showcart:hover:before {
        color:#FFF !important;
    }

    .minicart-wrapper .action.showcart:active:before {
        color:#FFF !important;
    }



    .minicart-wrapper .action.showcart.active:before
        {
        line-height:65px;
        color:white;
    }

    .minicart-wrapper .action.showcart.active:hover {
        color:white;
    }

    .minicart-wrapper .action.showcart:hover {
        color: #FFF!important;
    }

    .minicart-wrapper {
        margin-left: 0;
        float: right;
    }

    .minicart-wrapper .product .actions {
        float: right!important;
        margin: -50px 0 0!important;
        text-align: right!important;
        display: flex!important;
        flex-flow: column!important;
    }

    .minicart-wrapper .action.showcart.active:hover:before {
        color: #FFF !important;
    }

    .minicart-wrapper .action.close {
        bottom: 0!important;
        top: inherit!important;
        right: 50px!important;
        line-height:initial !important;
    }

    .minicart-wrapper .action.close>span {
        margin: -1px!important;
        overflow: visible!important;
        padding-top: 7px!important;
        position: absolute!important;
        width: 100%!important;
        height: 100%!important;
        clip: rect(auto,auto,auto,auto)!important;
    }

    .minicart-items .product-item-pricing .label {
        display: inline-block!important;
        width: 4.5rem!important;
        color: #505050!important;
        padding-left: 25px!important;
    }

    .block-minicart .subtitle.empty
    {
        color:black;
    }

    .block-minicart {
        padding-left: 20px!important;
        padding-right: 20px!important;
        padding-top: 0!important;
        padding-bottom: 10px!important;
    }
}
