<?php
/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
$txt = null;
?>
<?php if ($_description = $block->getCurrentCategory()->getDescription()): ?>
    <div class="category-description" name="category-description">
        <?php
        $txt = $this->helper('Magento\Catalog\Helper\Output')->categoryAttribute($block->getCurrentCategory(), $_description, 'description');
        /* @escapeNotVerified */ echo $txt;
        ?>
    </div>
<?php endif; ?>

<p class="read-more"><a href="#category-description" class="read-more-button">Read More</a></p>