<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<?php $url = $block->getReviewsUrl() . '#reviews'; ?>
<?php $urlForm = $block->getReviewsUrl() . '#review-form'; ?>
<?php if ($block->getReviewsCount()): ?>
    <?php $rating = $block->getRatingSummary(); ?>
    <div class="product-reviews-summary short<?php echo!$rating ? ' no-rating' : '' ?>">
    <?php if ($rating): ?>
            <div class="rating-summary" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                <span class="label"><span><?php /* @escapeNotVerified */ echo __('Rating') ?>:</span></span>
                <div class="rating-result" title="<?php /* @escapeNotVerified */ echo $rating; ?>%">
                    <meta itemprop="worstRating" content="0" />
                    <meta itemprop="bestRating" content="100" />
                    <meta itemprop="ratingValue" content="<?php /* @escapeNotVerified */ echo $rating; ?>" />
                    <meta itemprop="ratingCount" content="<?php /* @escapeNotVerified */ echo $block->getReviewsCount() ?>" />
                    <span style="width:<?php /* @escapeNotVerified */ echo $rating; ?>%"><span><?php /* @escapeNotVerified */ echo $rating; ?>%</span></span>
                </div>
            </div>
    <?php endif; ?>
    </div>

<?php endif; ?>
