<div class="catalog-page-tile-cont">
    <div class="tile-grid-container">
        <?php
        $cats = $block->getRandomCatIds();
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        ?>

        <?php foreach ($cats as $rand): ?>
            <?php
            $category = $objectManager->create('Magento\Catalog\Model\Category')->load($rand);
            $thumb = $category->getImageUrl();

            if (!@getimagesize($thumb)) {
                $imageHelper = $objectManager->get(\Magento\Catalog\Helper\Image::class);
                $thumb = $imageHelper->getDefaultPlaceholderUrl('small_image');
            }
            ?>

            <div class="tile-grid-item">
                <div class="tile-container">
                    <a class="tile-link" href="<?= /* @escapeNotVerified */ $category->getUrl() ?>">
                        <div class="image-title-cont">
                            <div class="tile-image-cont">
                                <img class="tile-image" src="<?= $thumb; ?>" alt="<?= $category->getName(); ?>">
                            </div>

                            <div class="tile-overlay">
                                <div class="tile-text"><?= $category->getName() ?></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
</div>