<?php
/** @var \Mr\Agri\Block\CheckoutLanding $block */
?>
<?php
$orderData = $block->getOrderData();
$currencyHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');
$methods = $block->getPaymentMethods();
$orderID = $block->getURLParams("id", false);
?>

<script>// <![CDATA[
     require(['jquery'], function ($) {
          $(document).ready(function (e) {
               $('#payafter').click(function () {
                    $.ajax({
                         url: '/processpayment/payment/process/oid/<?php echo $orderID ?>/',
                         type: 'post',
                         dataType: 'json',
                         data: $('#payAfterForm').serialize(),
                         success: function (data) {

                              if (data.status === "open") {
                                   window.location.replace(data.links.paymentUrl);
                              }
                         }
                    });
               });
          });
     });
     // ]]>
</script>

<div class="cart-summary" style="top: 0px;">

     <strong>Order Summary</strong>

     <div id="cart-totals" class="cart-totals">
          <div class="table-wrapper">
               <table class="data table totals">
                    <caption class="table-caption">Total</caption>
                    <tbody>
                         <tr class="totals sub">
                              <th class="sub-totals" colspan="1" scope="row">Subtotal</th>
                              <td class="amount" data-th="Subtotal">
                                   <strong><?php /* @escapeNotVerified */ echo $currencyHelper->currency($orderData->getSubtotal(), true, false); ?></strong>
                              </td>
                         </tr>

                         <tr class="totals shipping excl">
                              <th class="shipping-total"><?php /* @escapeNotVerified */ echo $orderData->getShippingDescription(); ?></th>
                              <td class="amount">
                                   <strong><?php /* @escapeNotVerified */ echo $currencyHelper->currency($orderData->getShippingAmount(), true, false); ?></strong>
                              </td>
                         </tr>

                         <tr class="tax-total">
                              <th class="tax-total" scope="row">BTW</th>
                              <td class="amount">
                                   <span><?php /* @escapeNotVerified */ echo $currencyHelper->currency($orderData->getTaxAmount(), true, false); ?></span>
                              </td>
                         </tr>

                         <tr class="grand totals">
                              <th class="grand-total" colspan="1" scope="row">
                                   <strong>Totaal</strong>
                              </th>
                              <td class="amount" data-th="Order Total">
                                   <strong><?php /* @escapeNotVerified */ echo $currencyHelper->currency($orderData->getSubtotalInclTax(), true, false); ?></strong>
                              </td>
                         </tr>

                    </tbody>
               </table>
          </div>
     </div>

     <strong>Shipping Address</strong>

     <div id="cart-totals" class="cart-totals">
          <div class="table-wrapper">
               <table class="data table totals">
                    <caption class="table-caption">Totaal</caption>
                    <tbody>
                         <tr class="totals shipping excl">
                              <th class="shipping-total">
                                   <?php /* @escapeNotVerified */ echo $orderData->getShippingAddress()->getFirstname() . " " . $orderData->getShippingAddress()->getLastname(); ?>
                                   <br>
                                   <?php /* @escapeNotVerified */ echo $orderData->getShippingAddress()->getCompany(); ?>
                                   <br>
                                   <?php /* @escapeNotVerified */ echo $orderData->getShippingAddress()->getStreet()[0]; ?>
                                   <br>
                                   <?php /* @escapeNotVerified */ echo $orderData->getShippingAddress()->getCity() . ", " . $orderData->getShippingAddress()->getRegion() . ", " . $orderData->getShippingAddress()->getPostcode() ?>
                                   <br>
                                   <?php /* @escapeNotVerified */ echo $block->getCountry($orderData->getShippingAddress()->getCountryId()); ?>
                                   <br>
                                   <?php /* @escapeNotVerified */ echo $orderData->getShippingAddress()->getTelephone(); ?>

                                   <?php //echo $block->encodeID("272");  ?>
                                   <br>
                                   <?php //echo $block->decodeID("0001dcaeeab811a6992c61464fba79dcgFpOOus=");  ?>
                              </th>
                         </tr>
                    </tbody>
               </table>
          </div>
     </div>

     <form id="payAfterForm">
          <input type="hidden" id="orderid" name="orderid" value="<?php echo $orderID ?>" />
          <div>
               <label for="payment_method"><?php /* @escapeNotVerified */ echo __("Select payment method") ?></label>
               <select name="payment_method" id="payment_method">
                    <option selected="selected">Choose one</option>
                    <?php foreach ($methods as $method) { ?>
                         <option value="<?= $method['value'] ?>"><?= $method['label'] ?></option>
                    <?php }
                    ?>
               </select> 
          </div>

          <ul class="checkout methods items checkout-methods-items">
               <li class="item">
                    <button type="button" id="payafter" data-role="proceed-to-checkout" title="Doorgaan met bestellen" class="action primary checkout">
                         <span>Pay now</span>
                    </button>
               </li>
          </ul>

     </form>
</div>