<?php
/** @var \Mr\Agri\Block\CheckoutLanding $block */
?>
<?php
     $productCollection = $block->getOrderProducts();
     $orderData = $block->getOrderData();
     $currencyHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');
?>


<form action="" method="post" id="form-validate" class="form form-cart" novalidate="novalidate">
     <input name="form_key" type="hidden" value="bVEERcKOhg5iauFq">    <div class="cart table-wrapper">
          <table id="shopping-cart-table" class="cart items data table">
               <caption role="heading" aria-level="2" class="table-caption">Items winkelwagen</caption>
               <thead>
                    <tr>
                         <th class="col item" scope="col"><span>Item</span></th>
                         <th class="col qty" scope="col"><span>Prijs</span></th>
                         <th class="col qty" scope="col"><span>Aantal</span></th>
                         <th class="col subtotal sub-no-right-padding" scope="col"><span>Subtotaal</span></th>
                    </tr>
               </thead>

               <?php foreach ($productCollection as $item) : ?>
                    <?php $product = $block->getLoadProduct($item->getProductId()); ?>

                    <?php
                    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                    $store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
                    $imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
                    ?>

                    <?php //var_dump(get_class_methods($item)); ?>

                    <tbody class="cart item">
                         <tr class="item-info">
                              <td data-th="Item" class="col item">
                                   <span>
                                        <img class="checkout-landing-product-image-container" src="<?php /* @escapeNotVerified */ echo $imageUrl ?>" />
                                   </span>

                                   <div class="product-item-details">
                                        <strong class="product-item-name"> <?php /* @escapeNotVerified */ echo $product->getName(); ?></strong>
                                   </div>
                              </td>

                              <td class="checkout-landing-table-item">
                                   <span class="checkout-landing-price">
                                        <?php /* @escapeNotVerified */ echo $currencyHelper->currency($item->getPriceInclTax(), true, false); ?>
                                   </span>
                              </td>

                              <td class="checkout-landing-table-item">
                                   <strong><?php /* @escapeNotVerified */ echo intval($item->getQtyOrdered()); ?></strong>
                              </td>

                              <td class="checkout-landing-table-item">
                                   <span>
                                        <span class="checkout-landing-price"><?php /* @escapeNotVerified */ echo $currencyHelper->currency($item->getBaseRowTotalInclTax(), true, false); ?></span>            
                                   </span>
                              </td>
                         </tr>

                    </tbody>
               <?php endforeach; ?>
          </table>
     </div>
</form>
