<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$configHelper = $objectManager->create('\Magento\Framework\App\Config\ScopeConfigInterface');
$phone = $configHelper->getValue('general/store_information/phone', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);

?>
<a href="tel:<?= $phone ?>"><span class="contact-phone"></span></a>