<table width="100%" border="0" cellspacing="0" cellpadding="0" >
    <tbody>
        <tr>
            <td>
                <h3 class="cms-page-bottom-title">Heeft u nog vragen?</h3>
                <span class="cms-page-bottom-content">Onze klantenservice staat op werkdagen tussen 08:30 en 18:00 voor u klaar.</span>
                <p class="cms-page-bottom-phone-normal">Bel naar <a href="tel:+31854013940">+31 (0)85 40 139 40</a></p>
                <p class="cms-page-bottom-phone-normal">Of mail naar <a href="mailto:info@misteragri.com">info@misteragri.com</a></p>
            </td>
            <td class="cms-page-bottom-td-img">
                <img class="cms-page-bottom-img" src="<?php echo $block->getViewFileUrl('images/customer_service_icon.png'); ?>"/><br>        
            </td>
        </tr>
    </tbody>
</table>