<table  id="footer-table">
    <tbody>
        <tr>
            <th id="footer-sitemap"><span class="fa fa-sitemap footer-icon"></span>Sitemap</th>
            <th id="footer-env"><span class="fa fa-envelope footer-icon"></span>Contact</th>
            <th id="footer-klant-header"><span class="fa fa-phone footer-icon"></span><?php /* @escapeNotVerified */ echo __('Customer service') ?></th>
            <th rowspan="2">
                <img width="207" height="172" src="<?php echo $block->getViewFileUrl('images/image_comb.png'); ?>" usemap="#footer_map" alt="links" />
                <map name="footer_map">
                    <area shape="rect" coords="0,0,150,55" href="http://www.keurmerk.info/" target="_blank" alt="Keurmerk">
                    <area shape="rect" coords="160,0,205,40" href="https://www.ideal.nl/" target="_blank" alt="Ideal">
                    <area shape="rect" coords="0,68,57,105" href="https://www.bancontact.com/" target="_blank" alt="Mister Cash">
                    <area shape="rect" coords="73,0,195,106" href="http://www.afterpay.nl/" target="_blank" alt="Afterpay">
                    <area shape="rect" coords="0,125,45,160" href="http://www.postnl.nl/" target="_blank" alt="PostNL">
                    <area shape="rect" coords="45,125,140,170" href="http://www.tnt.com/" target="_blank" alt="TNT">
                </map>
            </th>
        </tr>
        <tr>
            <td id="td-sitemap">
                <ul>
                    <?php
                    $sitemap = $block->getFooterSitemaps();
                    /* @escapeNotVerified */ echo $sitemap;
                    ?>
                </ul></td>
            <td id="td-contact" itemscope itemtype="http://schema.org/Organization">
                <meta itemprop="logo" content="<?php echo $block->getLogoSrc() ?>" />
                <meta itemprop="url" content="https://www.misteragri.com/" />
                <ul>
                    <li itemprop="name">Misteragri.com</li>
                    <li itemprop="telephone">0031 85 40 139 40</li>
                    <li itemprop="email">info@misteragri.com</li>
                </ul>
                <br>
                <p>KVK: 58346570 <br>
                    BTW-nummer: NL852997486B01<br>
                    IBAN: NL05 RABO 01037373 91</p>

                <a class="image-links" href="http://www.facebook.com/misteragri" target="_blank">
                    <span class="facebook-icon"></span>
                </a>
            </td>
            <td id="td-klant">
                <ul id="menu-klantenservice">
                    <?php
                    $customerService = $block->getFooterCustomerService();
                    /* @escapeNotVerified */ echo $customerService;
                    ?>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<div class="custom-footer">
    <div class="menu-footer">
        <ul id="menu-klantenservice" class="menu-footer">
            <?php
            $keys = explode("\n", $customerService);

            foreach ($keys as $key) {
                $slidePath = str_replace('<li>', '<li class="footer-item">', $key);
                echo $slidePath;
            }
            ?>        
        </ul>
    </div>

    <img width="132" height="150" src="<?php echo $block->getViewFileUrl('images/footer-logo.png'); ?>" class="footer-logo" alt="Mr Agri" />

    <div class="terms">
        <a href="/algemene-voorwaarden/" class="term-item">Algemene voorwarden</a>
        <a href="/privacy-policy/" class="term-item">Privacy</a>
        <a href="#" class="term-item">Cookies</a>
    </div>

    <div id="footer-images-m">
        <img width="268" height="82" src="<?php echo $block->getViewFileUrl('images/new-combo.png'); ?>" usemap="#footer_map" alt="links" />
        <div class="copyrights">
            <span>Copyrights <?php date('Y') ?> Web4Exposure. Alle rechten voorbehouden</span>
        </div>

        <map name="footer_map">
            <area shape="rect" coords="0,0,150,55" href="http://www.keurmerk.info/" target="_blank" alt="Keurmerk">
            <area shape="rect" coords="160,0,205,40" href="https://www.ideal.nl/" target="_blank" alt="Ideal">
            <area shape="rect" coords="0,68,57,105" href="https://www.bancontact.com/" target="_blank" alt="Mister Cash">
            <area shape="rect" coords="73,0,195,106" href="http://www.afterpay.nl/" target="_blank" alt="Afterpay">
            <area shape="rect" coords="0,125,45,160" href="http://www.postnl.nl/" target="_blank" alt="PostNL">
            <area shape="rect" coords="45,125,140,170" href="http://www.tnt.com/" target="_blank" alt="TNT">
        </map>
    </div>
</div>