<?php
$enabled = $this->getConfigValue('custom_translate_settings/general/active');

if ($enabled) {
    $selected = strtolower($this->getConfigValue('custom_translate_settings/general/selectlanguage'));
    $layout = $this->getConfigValue('custom_translate_settings/general/selectlayout');
    $snippetenabel = $this->getConfigValue('custom_translate_settings/general/enable_custom');
    $snippet = $this->getConfigValue('custom_translate_settings/general/snippet');

    if ($layout) {
        $layouthtml = 'layout: google.translate.TranslateElement.InlineLayout.' . $layout;
    } else {
        $layouthtml = 'layout: google.translate.TranslateElement.InlineLayout.SIMPLE';
    }
    ?>
    <div class="custom-google">
        <?php if ($snippetenabel && $snippet != "") {
            ?>
            <div class="form-language">
                <?php echo $snippet; ?>
            </div>
            <?php
        } else {
            ?>
            <div id="google-translate-element"></div>
            <script type="text/javascript">
                function googleTranslateElementInit()
                {
                    new google.translate.TranslateElement(
                                    {
                                pageLanguage: 'nl',
                                includedLanguages: '<?php echo $selected; ?>', <?php echo $layouthtml; ?>
                            },
                            'google-translate-element');
                }
            </script>
            
        <?php }
        ?>
    </div>
    <?php
}