<ul class="left-nav">

    <?php
    $keys = $block->getURLKeys();
    $pages = $block->getPages();

    $pageIdentifier = $block->getIdentifier();

    foreach ($pages as $page):
        foreach ($keys as $key):
            if (str_replace(" ", "", $key) == $page->getData('identifier')):
                if ($page->getData('identifier') == $pageIdentifier):
                    ?>
                    <li class="left-nav-item bold"><a href="<?php echo $block->getStoreURL($page->getData('identifier')); ?>"><?php /* @escapeNotVerified */ echo __($page->getTitle()) ?></a></li>
                    <?php
                else:
                    ?>
                    <li class="left-nav-item"><a href="<?php echo $block->getStoreURL($page->getData('identifier')); ?>"><?php /* @escapeNotVerified */ echo __($page->getTitle()) ?></a></li>
                    <?php
                    endif;
                endif;
            endforeach;
        endforeach;
        ?>

</ul>

<?php $block->getPages() ?>