<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\Framework\View\Element\Html\Link
 */
?>
<?php if (!$block->getIsDisabled()): ?>
    <li>
        <a href="<?php /* @escapeNotVerified */ echo $block->escapeHtml($block->getHref()) ?>"
           <?php if ($title = $block->getTitle()): ?> title="<?php /* @escapeNotVerified */ echo $block->escapeHtml(__($title)) ?>"<?php endif; ?>>
               <?php /* @escapeNotVerified */ echo $block->escapeHtml(__($block->getLabel())) ?>
        </a>
    </li>
<?php endif; ?>