<?php
$titles = explode("|", $block->getLayout()->getBlock('page.main.title')->getPageTitle());
$_main_product = $block->getProduct();
$description = $this->helper('Magento\Catalog\Helper\Output')->productAttribute($_main_product, $_main_product->getDescription(), 'description');

$viewMode = 'list';
$image = 'category_page_list';
$showDescription = true;
$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
$pos = $block->getPositioned();

$om = \Magento\Framework\App\ObjectManager::getInstance();

$storeManager = $om->get('Magento\Store\Model\StoreManagerInterface');

$currentStore = $storeManager->getStore();
$baseMediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
?>
<div class="group-page-content">
    <?php $productImage = $block->getImage($_main_product, "product_page_main_image"); ?>

    <div class="group-top-section">
        <div class="group-product-main-image">
            <?php echo $_main_product->getData('group_image_map') ?>
            <img class="group-main-image mapper" id="group-main-image" src="<?php echo $baseMediaUrl . 'catalog/product' . $_main_product->getImage(); ?>" usemap="#<?php echo $_main_product->getSku(); ?>">
        </div>

        <div class="group-page-description">
            <span><?php /* @escapeNotVerified */ echo $description ?></span>
        </div>
    </div>

    <div class="group-item-container">
        <div class="group-product-items"></div>
        <button class="reset-filter" >Bekijk Alles</button>
    </div>

</div>

<script>
    eval(function(p, a, c, k, e, r){e = function(c){return(c < 62?'':e(parseInt(c / 62))) + ((c = c % 62) > 35?String.fromCharCode(c + 29):c.toString(36))}; if ('0'.replace(0, e) == 0){while (c--)r[e(c)] = k[c]; k = [function(e){return r[e] || e}]; e = function(){return'([6-8gqA-Z]|[1-3]\\w)'}; c = 1}; while (c--)if (k[c])p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]); return p}('C 2W=F.1i(\'g\');C 1j=1d.navigator.systemLanguage&&(!F.2X||F.2X<9)?1:0;C 14=1j&&F.2p?1:0;C 2q=0;C 1e=2W.1I?1:0;C jg=1b 1J();6(14){6(F.2p[\'v\']==1z){C e=["15","shapetype","group","background","2Y","formulas","handles","1A","2Z","shadow","textbox","textpath","imagedata","line","polyline","curve","2r","2s","1f","30","7"],s=F.createStyleSheet();S(C i=0;i<e.N;i++){s.addRule("v\\\\:"+e[i],"behavior: url(#default#VML); antialias: true;")}F.2p.add("v","urn:schemas-microsoft-com:vml")}}P 31(map,1g,x,y,w,h){}P 32(L,17){C U=\'\';S(C j=0;j<L.N;j++){6(L[j]!=17){6(U){U+=\' \'}U+=L[j]}}1h U}P 1K(L,17){C U=0;C 1L=17.N;S(C j=0;j<L.N;j++){6(L[j].T(17)==0){U=V.1l(L[j].34(1L),1c);22}}1h V.1M(0,U)}P 1B(L,17,1C){C U,1m=1C,1L=17.N;S(C j=0;j<L.N;j++){6(L[j].T(17)==0){U=L[j].34(1L);1m=U.1t();22}}6(!1m.1u(/^[0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f]$/i)){1m=1C||\'2t\'}6(!1e){1h 1m}G{P 23(35){1h(V.1M(0,V.1l(E(35,16),255)))}C cr=23(1m.2u(0,2)),cg=23(1m.2u(2,2)),cb=23(1m.2u(4,2));1h cr+\',\'+cg+\',\'+cb}}P 1n(L,17){C U=0;C 1L=17.N;S(C j=0;j<L.N;j++){6(L[j].T(17)==0){U=1;22}}1h U}P 39(18){C 2v=F.getElementsByTagName(\'3a\');C 2w=1b 1J();C i=0;C 1N=\'\';C 1O;C 24;C j=0;C J=\'\';S(i=0;i<2v.N;i++){1O=2v[i];24=1O.18.Y(\' \');S(j=0;j<24.N;j++){6(24[j]==18){1N=1O.3b.Y("#");6(1N[1]!=\'\'&&1N[1].N>=1){J=F.3c(1N[1]);6(J){2w.push(1O);22}}}}}1h 2w}P 2x(I,1P){C K=F.1o(I);6(K.25==1&&1P<=1c){K.8.19=1P/1c;1P+=10;1d.setTimeout("2x(\'"+I+"\',"+1P+")",10)}}P 2y(K,I,bd,co,op,nb,f,z){C a,i,j,d,c,o,b,n,l,r,v,u,x,y,p,k=0,t=\'\',r=K.1R(\'rel\'),M,g=F.1o(I);6(r!=1z){d=r.Y(",");v=d.unshift(K.I)}G{d=1b 1J(K.I)}P 2B(){6(l.T(\'1E\')!=-1){k=1n(u,"1E")}G{k=0}6(l.T(\'1S\')!=-1){o=1K(u,"1S")/1c}G{o=op}6(l.T(\'2C\')!=-1){b=1B(u,"2C",bd)}G{b=bd}6(l.T(\'1T\')!=-1){c=1B(u,"1T",co)}G{c=co}6(l.T(\'2D\')!=-1){n=1n(u,"2D")}G{n=nb}}6(14){S(a=0;a<d.N;a++){K=F.1o(d[a]);6(K){p=\'\',l=K.18,u=l.Y(" "),v=K.1U.Y(",");6(k==0){2B()}6(K.15.1t()==\'1f\'){t+=\'<v:1f 26="1" 27="t" 28="\'+(n<1?"t":"f")+\'" 2E="#\'+b+\'" 8="1F:1;29:0;1v:0;1G:1H;Z:1p;11:\'+E(v[0])+\'D;12:\'+E(v[1])+\'D;q:\'+E(v[2]-v[0])+\'D;A:\'+E(v[3]-v[1])+\'D;"><v:1A 1C="#\'+c+\'" 19="\'+o+\'" /></v:1f>\'}G 6(K.15.1t()==\'1V\'){t+=\'<v:2s 26="1" 27="t" 28="\'+(n<1?"t":"f")+\'" 2E="#\'+b+\'" 8="1F:1;29:0;1v:0;1G:1H;Z:1p;11:\'+E(v[0]-v[2])+\'D;12:\'+E(v[1]-v[2])+\'D;q:\'+(E(v[2])*2)+\'D;A:\'+(E(v[2])*2)+\'D;"><v:1A 1C="#\'+c+\'" 19="\'+o+\'" /></v:2s>\'}G{S(j=2;j<v.N;j+=2){p+=E(v[j])+\',\'+E(v[j+1])+\',\'}t+=\'<v:15 26="1" 27="t" 28="\'+(n<1?"t":"f")+\'" 2E="#\'+b+\'" coordorigin="0,0" coordsize="\'+g.q+\',\'+g.A+\'" 2Y="m \'+E(v[0])+\',\'+E(v[1])+\' l \'+p+\' x e" 8="1F:1;29:0;1v:0;1G:1H;Z:1p;12:2a;11:2a;q:\'+g.q+\'D;A:\'+g.A+\'D;"><v:1A 1C="#\'+c+\'" 19="\'+o+\'" /></v:15>\'}}}g.2b=t}G 6(1e){6(f<1){g.25=0;g.8.19=0}M=g.1I("2d");S(a=0;a<d.N;a++){K=F.1o(d[a]);6(K){l=K.18,u=l.Y(" "),v=K.1U.Y(",");6(k==0){2B()}M.3e();6(K.15.1t()==\'1f\'){M.1f(0.5+E(v[0]),0.5+E(v[1]),E(v[2]-v[0]),E(v[3]-v[1]));M.2F()}G 6(K.15.1t()==\'1V\'){M.30(0.5+E(v[0]),0.5+E(v[1]),E(v[2]),0,(V.PI/180)*360,3f)}G{M.3g(E(v[0]),E(v[1]));S(j=2;j<v.N;j+=2){M.1W(E(v[j]),E(v[j+1]))}M.2F()}M.3h=\'2G(\'+c+\',\'+o+\')\';M.strokeStyle=\'2G(\'+b+\',1)\';M.1A();6(n<1){M.2Z()}}}6(f<1){g.25=1;2x(I,0)}}G{o=op;l=K.18;u=l.Y(" ");6(l.T(\'1E\')!=-1){k=1n(u,"1E");6(k!=0){6(l.T(\'1S\')!=-1){o=1K(u,"1S")/1c;k=0}}}6(1j){g.8.2H="2I(19="+(o*1c)+")"}G{g.8.19=o;g.8.2J=o;g.8.2K=o}S(a=0;a<d.N;a++){K=F.1o(d[a]);6(K){l=K.18,u=l.Y(" "),v=K.1U.Y(",");6(k==0){6(l.T(\'1E\')!=-1){k=1n(u,"1E")}G{k=0}6(l.T(\'1T\')!=-1){c=1B(u,"1T",co)}G{c=co}}jg[z].setColor("#"+c);6(K.15.1t()==\'1f\'){jg[z].3i(E(v[0]),E(v[1]),E(v[2]-v[0])+1,E(v[3]-v[1])+1)}G 6(K.15.1t()==\'1V\'){jg[z].fillEllipse(E(v[0]-v[2]),E(v[1]-v[2]),E(v[2])*2+1,E(v[2])*2+1)}G{x=1b 1J();y=1b 1J();i=0;S(j=0;j<v.N;j+=2){x[i]=E(v[j]);y[i]=E(v[j+1]);i++}jg[z].fillPolygon(x,y)}jg[z].paint()}}}}P 2L(K,I,f,z){C g=F.1o(I);6(14){g.2b=\'\'}G 6(2q){jg[z].clear()}G 6(1e){C M=g.1I("2d");M.2M(0,0,g.q,g.A)}}P 1X(e,n,a,i,x,y,w,h,pw,ph){C t,o,ox,oy,ex,ey,cx,cy,D=0,py=0;6(!e){e=1d.20}6(e.3j||e.3k){D=e.3j;py=e.3k}ex=e.clientX;ey=e.clientY;6(2c.3l||2c.3m){ox=2c.3l;6(ox>0&&D==ex){ex-=ox}oy=2c.3m;6(oy>0&&py==ey){ey-=oy}}G 6(F.2Q){ox=F.2Q.3n;oy=F.2Q.3o}G 6(F.1y){ox=F.1y.3n;oy=F.1y.3o}6(F.1y.3p!=ph||F.1y.3q!=pw){C o=F.1o(i);C t=2e(o);x=t.x;y=t.y}cx=V.1l(V.1M(ex+ox-x,0),w);cy=V.1l(V.1M(ey+oy-y,0),h);31(n,a,cx,cy,w,h)}P 2e(1g){C t;C d={x:1g.offsetLeft,y:1g.offsetTop};6(1g.3r){t=2e(1g.3r);d.x+=t.x;d.y+=t.y}1h d}P 3s(13,x,y,q,A,W,2R){6(!2R)13.3e();13.3g(x,y+W);13.1W(x,y+A-W);13.2f(x,y+A,x+W,y+A);13.1W(x+q-W,y+A);13.2f(x+q,y+A,x+q,y+A-W);13.1W(x+q,y+W);13.2f(x+q,y,x+q-W,y);13.1W(x+W,y);13.2f(x,y,x,y+W);6(!2R)13.2F()}P 3t(W,q,A){C 3u=(V.1l(q,A)/1c);W=V.1M(V.1l(1c,W/3u),0);1h W+\'%\'}P 2S(){C 2T=39(\'3v\');C 7,Q,H,g,X,M,J,1a,1g,2g;C L=\'\',2U=\'\',B=\'\',R,i,j,o,b,c,d,r,t,n,f,x,y,w,h,pw,ph;S(i=0;i<2T.N;i++){7=2T[i];Q=7.parentNode;6(7.I==\'\'){7.I="gmipam_"+i}Q.8.Z=(Q.8.Z==\'static\'||Q.8.Z==\'\'?\'relative\':Q.8.Z);Q.8.A=7.A+\'D\';Q.8.q=7.q+\'D\';Q.8.1v=0+\'D\';Q.8.3w="2h";Q.8.3x="2h";Q.3y="on";r=0;n=0;f=0;b=\'3A\';c=\'2t\';o=33;6(1e){g=F.1i(\'g\')}G 6(14){g=F.1i([\'<C 8="1F:1;3B:3C;1G:1H;q:\'+7.q+\'D;A:\'+7.A+\'D;1v:0;">\'].3D(\'\'))}G{g=F.1i(\'3E\')}g.I=7.I+\'_canvas\';L=7.18.Y(\' \');r=1K(L,"iradius");o=1K(L,"1S");b=1B(L,"2C",\'3A\');c=1B(L,"1T",\'2t\');n=1n(L,"2D");f=1n(L,"nofade");d=1n(L,"showcoords");o=o==0?0.33:o/1c;r=E(V.1l(V.1l(7.q/4,7.A/4),r));2U=32(L,"3v");7.18=2U;1a=7.3b.Y("#");1a=1a[1];J=F.3c(1a);6(J.N>0){S(j=0;j<J[0].O.N;j++){6(J[0].O[j].15.1u(/(1f|3F|1V)/i)){6(1d.3G||J[0].O[j].1U!=\'\'){6(J[0].O[j].I==\'\'){J[0].O[j].I=1a+\'_\'+j}6(14||1j){B=J[0].O[j].2i;6(B!=1z){R=2j(B);B=(R.T(\'P\')>=0?R.1u(/\\{([^}]+)\\}/):R);B=(21(B)==\'Q\'?B[1]:B)}J[0].O[j].2i=1b 2k(\'2y(2l,"\'+g.I+\'","\'+b+\'","\'+c+\'","\'+o+\'",\'+n+\',\'+f+\',\'+i+\');\'+B);B=J[0].O[j].2m;6(B!=1z){R=2j(B);B=(R.T(\'P\')>=0?R.1u(/\\{([^}]+)\\}/):R);B=(21(B)==\'Q\'?B[1]:B)}J[0].O[j].2m=1b 2k(\'2L(2l,"\'+g.I+\'",\'+f+\',\'+i+\');\'+B)}G{B=J[0].O[j].1R("2i");J[0].O[j].2n("2i","2y(2l,\'"+g.I+"\',\'"+b+"\',\'"+c+"\',\'"+o+"\',"+n+","+f+","+i+");"+B);B=J[0].O[j].1R("2m");J[0].O[j].2n("2m","2L(2l,\'"+g.I+"\',"+f+","+i+");"+B)}}}}}g.8.A=7.A+\'D\';g.8.q=7.q+\'D\';g.A=7.A;g.q=7.q;g.11=0;g.12=0;g.8.Z=\'1p\';g.8.11=0+\'D\';g.8.12=0+\'D\';g.25=0;7.18=\'\';7.8.cssText=\'\';7.11=0;7.12=0;7.8.Z=\'1p\';7.8.A=7.A+\'D\';7.8.q=7.q+\'D\';7.8.11=0+\'D\';7.8.12=0+\'D\';7.8.3w="2h";7.8.3x="2h";7.3y="on";6(1j){7.8.2H="2I(19=0)"}G{7.8.19=0;7.8.2J=0;7.8.2K=0}6(1e&&r>0){H=F.1i(\'g\')}G 6(14&&r>0){H=F.1i([\'<C 8="1F:1;3B:3C;1G:1H;q:\'+7.q+\'D;A:\'+7.A+\'D;1v:0;">\'].3D(\'\'))}G{H=F.1i(\'3a\');H.2o=7.2o}H.I=7.I+\'_image\';H.11=0;H.12=0;H.8.Z=\'1p\';H.8.A=7.A+\'D\';H.8.q=7.q+\'D\';H.8.11=0+\'D\';H.8.12=0+\'D\';Q.2V(g,7);X=F.1i(\'3E\');X.I=1a+\'_blind\';X.18="blind_area";X.11=0;X.12=0;X.8.Z=\'1p\';X.8.A=7.A+\'D\';X.8.q=7.q+\'D\';X.8.11=0+\'D\';X.8.12=0+\'D\';X.2b=" ";Q.2V(X,7);6(1e){M=g.1I("2d");M.2M(0,0,g.q,g.A)}G 6(!14&&!1e){6(1j){g.8.2H="2I(19="+(o*1c)+")"}G{g.8.19=o;g.8.2J=o;g.8.2K=o}6(21(1d[\'3H\'])!==\'undefined\'){jg[i]=1b 3H(g);2q=1}}Q.2V(H,g);6(1e&&r>0){H.A=7.A;H.q=7.q;M=H.1I("2d");M.2M(0,0,H.q,H.A);3s(M,0,0,H.q,H.A,r);M.clip();M.3h=\'2G(0,0,0,0)\';M.3i(0,0,H.q,H.A);M.drawImage(7,0,0,H.q,H.A)}G 6(14&&r>0){H.A=7.A;H.q=7.q;r=3t(r,H.q,H.A);H.2b=\'<v:2r arcsize="\'+r+\'" 26="0" 27="t" 28="f" fillcolor="#ffffff" 8="1F:1;29:0;1v:0;1G:1H;Z:1p;11:2a;12:2a;q:\'+H.q+\'D;A:\'+H.A+\'D;"><v:1A 2o="\'+7.2o+\'" type="frame" /></v:2r>\'}6(d>0){1g=F.1o(7.I);w=E(7.q);h=E(7.A);t=2e(1g);x=t.x;y=t.y;ph=F.1y.3p;pw=F.1y.3q;6(14||1j){B=7.1s;6(B!=1z){R=2j(B);B=(R.T(\'P\')>=0?R.1u(/\\{([^}]+)\\}/):R);B=(21(B)==\'Q\'?B[1]:B)}7.1s=1b 2k(\'1X(20,"\'+1a+\'",0,"\'+7.I+\'",\'+x+\',\'+y+\',\'+w+\',\'+h+\',\'+pw+\',\'+ph+\');\'+B)}G{B=7.1R("1s");7.2n("1s","1X(20,\'"+1a+"\',0,\'"+7.I+"\',"+x+","+y+","+w+","+h+","+pw+","+ph+");"+B)}6(J.N>0){S(j=0;j<J[0].O.N;j++){6(J[0].O[j].15.1u(/(1f|3F|1V)/i)){6(1d.3G||J[0].O[j].1U!=\'\'){2g=J[0].O[j].I;6(14||1j){B=J[0].O[j].1s;6(B!=1z){R=2j(B);B=(R.T(\'P\')>=0?R.1u(/\\{([^}]+)\\}/):R);B=(21(B)==\'Q\'?B[1]:B)}J[0].O[j].1s=1b 2k(\'1X(20,"\'+1a+\'","\'+2g+\'","\'+7.I+\'",\'+x+\',\'+y+\',\'+w+\',\'+h+\',\'+pw+\',\'+ph+\');\'+B)}G{B=J[0].O[j].1R("1s");J[0].O[j].2n("1s","1X(20,\'"+1a+"\',\'"+2g+"\',\'"+7.I+"\',"+x+","+y+","+w+","+h+","+pw+","+ph+");"+B)}}}}}}}}6(1d.3I)1d.3I("onload",2S);G 1d.addEventListener("load",2S,3f);', [], 231, '||||||if|image|style||||||||canvas||||||||||width||||||||||height|func|var|px|parseInt|document|else|bgrnd|id|mapid|obj|classes|context|length|areas|function|object|tmp|for|indexOf|temp|Math|radius|blind|split|position||left|top|ctx|isVM|shape||string|className|opacity|mname|new|100|window|isCV|rect|ele|return|createElement|isIE||min|val|getClassAttribute|getElementById|absolute|||onmousemove|toLowerCase|match|padding|||body|null|fill|getClassRGBColor|color||forcegroup|zoom|display|block|getContext|Array|getClassValue|pos|max|mapname|child|opac||getAttribute|iopacity|icolor|coords|circle|lineTo|getCoords|||event|typeof|break|hex2dec|classNames|fading|strokeweight|filled|stroked|margin|0px|innerHTML|self||findPosXY|quadraticCurveTo|atr|none|onmouseover|String|Function|this|onmouseout|setAttribute|src|namespaces|isJG|roundrect|oval|000000|substr|children|elements|fadeCanvas|setAreaOver|||setAttr|iborder|noborder|strokecolor|closePath|rgba|filter|Alpha|MozOpacity|KhtmlOpacity|setAreaOut|clearRect||||documentElement|nopath|addMapper|themaps|newClasses|insertBefore|canvascheck|documentMode|path|stroke|arc|showCoords|getClasses||substring|hex||||getMaps|img|useMap|getElementsByName||beginPath|false|moveTo|fillStyle|fillRect|pageX|pageY|pageXOffset|pageYOffset|scrollLeft|scrollTop|scrollHeight|scrollWidth|offsetParent|roundedRect|getRadius|part|mapper|MozUserSelect|KhtmlUserSelect|unselectable||0000ff|overflow|hidden|join|div|poly|opera|jsGraphics|attachEvent'.split('|'), 0, {}))

    require([
            'spare',
            'jquery'
    ], function (script) {
        jQuery(document).ready(function (e) {
        ; (function(a){a.fn.rwdImageMaps = function(){var c = this; var b = function(){c.each(function(){if (typeof (a(this).attr("usemap")) == "undefined"){return}var e = this, d = a(e); a("<img />").on('load', function(){var g = "width", m = "height", n = d.attr(g), j = d.attr(m); if (!n || !j){var o = new Image(); o.src = d.attr("src"); if (!n){n = o.width}if (!j){j = o.height}}var f = d.width() / 100, k = d.height() / 100, i = d.attr("usemap").replace("#", ""), l = "coords"; a('map[name="' + i + '"]').find("area").each(function(){var r = a(this); if (!r.data(l)){r.data(l, r.attr(l))}var q = r.data(l).split(","), p = new Array(q.length); for (var h = 0; h < p.length; ++h){if (h % 2 === 0){p[h] = parseInt(((q[h] / n) * 100) * f)} else{p[h] = parseInt(((q[h] / j) * 100) * k)}}r.attr(l, p.toString())})}).attr("src", d.attr("src"))})}; a(window).resize(b).trigger("resize"); return this}})(jQuery);
        jQuery('img[usemap]').rwdImageMaps();
        setTimeout(function () {
        script.getSpares(0, <?php echo $_main_product->getId(); ?>);
        }, 3000);
        });
        jQuery(".reset-filter").click(function () {
        script.getSpares(0, <?php echo $_main_product->getId(); ?>);
        });
        jQuery(".spare_map").click(function (e) {
        dataParts = jQuery(this).attr("data-part");
        if (dataParts != undefined) {
        script.getSpares(dataParts, <?php echo $_main_product->getId(); ?>);
        } else {
        alert("No data to load");
        }
        });
    });
</script>