<?php

use Magento\Framework\App\Action\Action;
use Magento\Catalog\Model\Product\ProductList\Toolbar;

$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>

<div id="home-top-toolbar" class="home-top-toolbar"></div>

<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php /* @escapeNotVerified */ echo $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }

    $pos = $block->getPositioned();
    ?>
    <div class="homepage-wrapper">
            <?php $iterator = 1; ?>
        <ul id="grid" class="products list items isotope">
            <?php foreach ($_productCollection as $_product): ?>
                <?php
                $border = '';

                if ($iterator == 4) {
                    $iterator = 1;
                }
                ?>

                        <?php echo($iterator++ == 1) ? '<li class="product_item products ' . $border . '">' : '</li><li class="product_item products ' . $border . '">' ?>
                <div>
                    <div data-container="product-grid">
                        <?php
                        $productImage = $block->getImage($_product, $image);
                        if ($pos != null) {
                            $position = ' style="left:' . $productImage->getWidth() . 'px;' . 'top:' . $productImage->getHeight() . 'px;"';
                        }
                        ?>
                                <?php // Product Image    ?>
                        <div class="sq-image">
                            <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
        <?php /* @escapeNotVerified */ echo $productImage->toHtml(); ?>
                            </a>
                        </div>
                        <div class="product details product-item-details">
        <?php $_productNameStripped = $block->stripTags($_product->getName(), null, true); ?>

                            <strong class="product name product-item-name">
                                <a class="product-item-link" href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
        <?php /* @escapeNotVerified */ echo strtoupper($_helper->productAttribute($_product, $_product->getName(), 'name')); ?>
        <?php //echo $_product->getName();   ?>
                                </a>
                            </strong>

                            <div class="home_price_cart_group">
                                <div class="home_price_group">
                                    <div class="home_price"><?php /* @escapeNotVerified */ echo $block->getProductPrice($_product); ?></div>
                                    <div class="home_price"><?php /* @escapeNotVerified */ echo '' ?></div>
                                </div>
                                <div class="home_cart_group">
                                    <!-- ADD TO CART BUTTON -->

        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                    <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                        <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                        <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
        <?php /* @escapeNotVerified */ echo $block->getBlockHtml('formkey') ?>
                                        <button type="submit" title="<?php /* @escapeNotVerified */ echo $block->escapeHtml(__('Add to cart')); ?>" class="action primary tocart home_cart_button"></button>
                                    </form>
                                    <!--------->
                                </div>
                            </div>

        <?php echo $block->getProductDetailsHtml($_product); ?>

                            <div class="product-item-inner">
                                <div class="product actions product-item-actions"<?php /* @escapeNotVerified */ echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
                                    <div class="actions-primary"<?php /* @escapeNotVerified */ echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                                        <?php if ($_product->isSaleable()): ?>
                                            <!-- IN STOCK -->
                                            <?php if ($_product->getIsSalable()): ?>
                                                <div class="home_in_stock"><?php /* @escapeNotVerified */ echo __('In stock') ?></div>
                                            <?php else: ?>
                                                <div class="home_out_stock"><?php /* @escapeNotVerified */ echo __('Out of Stock') ?></div>
                                            <?php endif; ?>
                                            <!-------------->
                                        <?php else: ?>
                                            <?php if ($_product->getIsSalable()): ?>
                                                <div class="home_in_stock"><span><?php /* @escapeNotVerified */ echo __('In Stock') ?></span></div>
                                            <?php else: ?>
                                                <div class="home_out_stock"><span><?php /* @escapeNotVerified */ echo __('Out of Stock') ?></span></div>
            <?php endif; ?>
        <?php endif; ?>
                                    </div>

                                    <!-- PRODUCT VIEW BUTTON -->
                                    <form action="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                                        <button class="home_view_product action primary"><span class="more-info-button-text"><?php /* @escapeNotVerified */ echo __('More info') ?></span></button>
                                    </form>
                                    <!------------------------->


                                    <div data-role="add-to-links" class="actions-secondary"<?php /* @escapeNotVerified */ echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>
        <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                            <a href="#"
                                               class="action towishlist"
                                               title="<?php /* @escapeNotVerified */ echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                               aria-label="<?php /* @escapeNotVerified */ echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                               data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
                                               data-action="add-to-wishlist"
                                               role="button">
                                                <span><?php /* @escapeNotVerified */ echo __('Add to Wish List') ?></span>
                                            </a>
                                        <?php endif; ?>
                                        <?php
                                        $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                        ?>
                                        <a href="#"
                                           class="action tocompare"
                                           title="<?php /* @escapeNotVerified */ echo $block->escapeHtml(__('Add to Compare')); ?>"
                                           aria-label="<?php /* @escapeNotVerified */ echo $block->escapeHtml(__('Add to Compare')); ?>"
                                           data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
                                           role="button">
                                            <span><?php /* @escapeNotVerified */ echo __('Add to Compare') ?></span>
                                        </a>
                                    </div>
                                </div>
                                    <?php if ($showDescription): ?>
                                    <div class="product description product-item-description">
            <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                        <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php /* @escapeNotVerified */ echo $_productNameStripped ?>"
                                           class="action more"><?php /* @escapeNotVerified */ echo __('Learn More') ?></a>
                                    </div>
        <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </div>
        <?php echo($iterator == count($_productCollection) + 1) ? '</li>' : '' ?>
    <?php endforeach; ?>
        </ul>
    </div>
    <?php echo $block->getToolbarHtml() ?>
            <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <div class="toolbar-bottom">
            <div class="toolbar bottom">
        <?php echo $block->getPagerHtml(); ?>
            </div>
        </div>
        <script type="text/x-magento-init">
            {
            "[data-role=tocart-form], .form.map.checkout": {
            "catalogAddToCart": {}
            }
            }
        </script>
    <?php endif; ?>
<?php endif; ?>