<?php

use Magento\Framework\App\Action\Action;
use Magento\Catalog\Model\Product\ProductList\Toolbar;

$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');

$title = $block->getGroupPageData("groupproducttitle");
$description = $block->getGroupPageData("groupproductdescription");
?>

<span class="group-page-title"><?php echo $title ?></span>

<div id="home-top-toolbar" class="home-top-toolbar"></div>

<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php /* @escapeNotVerified */ echo $block->getAdditionalHtml() ?>

    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }

    $pos = $block->getPositioned();
    ?>

    <div class="grouppage-wrapper">
        <?php $iterator = 1; ?>
        <ul id="grid" class="products list items isotope">
            <?php foreach ($_productCollection as $_product): ?>
                <?php
                $border = '';

                if ($iterator == 4) {
                    $iterator = 1;
                }
                ?>

                <?php echo($iterator++ == 1) ? '<li class="product_item products ' . $border . '">' : '</li><li class="product_item products ' . $border . '">' ?>
                <div>
                    <div data-container="product-grid">
                        <?php
                        $productImage = $block->getImage($_product, $image);
                        if ($pos != null) {
                            $position = ' style="left:' . $productImage->getWidth() . 'px;' . 'top:' . $productImage->getHeight() . 'px;"';
                        }
                        ?>
                        <?php // Product Image    ?>
                        <div class="sq-image">
                            <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                                <?php /* @escapeNotVerified */ echo $productImage->toHtml(); ?>
                            </a>
                        </div>
                        <div class="product details product-item-details">
                            <?php $_productNameStripped = $block->stripTags($_product->getName(), null, true); ?>

                            <strong class="product name product-item-name">
                                <a class="product-item-link" href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                                    <?php /* @escapeNotVerified */ echo strtoupper($_helper->productAttribute($_product, $_product->getName(), 'name')); ?>
                                    <?php //echo $_product->getName();   ?>
                                </a>
                            </strong>

                            <?php /* @escapeNotVerified */ echo $block->getProductDetailsHtml($_product); ?>

                            <div class="product-item-inner">
                                <div class="product actions product-item-actions"<?php /* @escapeNotVerified */ echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
                                    <?php if ($showDescription): ?>
                                        <div class="product description product-item-description">
                                            <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                            <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php /* @escapeNotVerified */ echo $_productNameStripped ?>"
                                               class="action more"><?php /* @escapeNotVerified */ echo __('Learn More') ?></a>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?php echo($iterator == count($_productCollection) + 1) ? '</li>' : '' ?>
                <?php endforeach; ?>
        </ul>
    </div>
    <?php echo $block->getToolbarHtml() ?>
    <div class="toolbar-bottom">
        <div class="toolbar bottom">
            <?php echo $block->getPagerHtml(); ?>
        </div>
    </div>
    <script type="text/x-magento-init">
        {
        "[data-role=tocart-form], .form.map.checkout": {
        "catalogAddToCart": {}
        }
        }
    </script>
<?php endif; ?>