<div class="desktop-only">
    <?php /* @escapeNotVerified */ echo $block->getLayout()->getBlock('breadcrumbs')->toHtml(); ?>
</div>

<div class="mr-page-title mr-page-title-navpage">
    <h1 class="h1-default"><?php /* @escapeNotVerified */ echo strtoupper($block->getLayout()->getBlock('page.main.title')->getPageTitle()) ?></h1>
</div>