.loading {    
    background-image: url(../../images/loading_small.gif)!important;
    background-size: 25px 25px!important;
    background-position:right center!important;
    background-repeat: no-repeat!important;
}