<?php

use Magento\Framework\App\Action\Action;

$_items = $block->getSliderProductsCollection();

if (count($_items) == 0) {
    return;
}

$_helper = $this->helper('Magento\Catalog\Helper\Output');
$sliderId = $block->getSliderDisplayId();
$slider = $block->getSlider();

$image = 'category_page_grid';
$viewMode = 'grid';
$class = $slider->getType();
$type = "";
$showWishlist = $slider->getDisplayWishlist();
$showCompare = $slider->getDisplayCompare();
$showCart = $slider->getDisplayCart();
$enableSwatches = $slider->getEnableSwatches();
$enableAjaxcart = $slider->getEnableAjaxcart();

$pos = $block->getPositioned();
$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
?>
<div class="block block-product-slider slider-list <?php /* @escapeNotVerified */ echo $class; ?>" <?php echo $slider->getRtl() ? 'dir="rtl" ' : "" ?> >
    <?php if ($slider->getDisplayTitle()): ?>
        <div class="block-title title">
            <strong id="block-<?php /* @escapeNotVerified */ echo $class ?>-heading" role="heading" aria-level="2"><?php /* @escapeNotVerified */ echo $slider->getTitle() ?></strong>
        </div>
    <?php endif ?>

    <div class="block-content content" aria-labelledby="block-<?php /* @escapeNotVerified */ echo $class ?>-heading">
        <?php if (!empty($_items)): ?>
            <div class="products wrapper grid products-grid products-<?php /* @escapeNotVerified */ echo $type; ?>">
                <ol class="products list items product-slider<?php echo $sliderId ?>">
                    <?php foreach ($_items as $collection): ?>
                        <?php $iterator = 1; ?>
                        <?php foreach ($collection as $_product): ?>

                            <?php
                            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                            $StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
                            $qty = $StockState->getStockQty($_product->getId(), $_product->getStore()->getWebsiteId());

                            $stockItem = $objectManager->get('\Magento\CatalogInventory\Api\StockRegistryInterface');
                            $productStock = $stockItem->getStockItemBySku($_product->getSku());
                            $is48Delivery = false;
                            $expectedDate = false;
                            $isInStock = $productStock->getIsInStock();
                            $qty = floatval($productStock->getData("qty"));

                            if (!is_null($_product->getData('delivery_48')) && $_product->getData('delivery_48') == "1") {
                                $is48Delivery = true;
                            }

                            if (!is_null($_product->getData('expected_date'))) {
                                $expectedDate = $_product->getData('expected_date');
                            }

                            $mode = "regular";
                            $buttonLabel = "More info";

                            if ($_product->getPrice() == 0 && $_product->getTypeId() == 'simple') {
                                $mode = "info";
                            }
                            ?>

                            <?php /* @escapeNotVerified */ echo $_product->getTitle() ?>
                            <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>

                            <div class="product-item-info" data-container="product-grid">
                                <?php
                                $productImage = $block->getImage($_product, $image);
                                if ($pos != null) {
                                    $position = ' style="left:' . $productImage->getWidth() . 'px;' . 'top:' . $productImage->getHeight() . 'px;"';
                                }

                                $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                                ?>

                                <?php // Product Title  ?>
                                <strong class="product name product-item-name">
                                    <a class="product-item-link" href="<?php echo $_product->getProductUrl() ?>">
                                        <?php /* @escapeNotVerified */ echo strtoupper($_helper->productAttribute($_product, $_product->getName(), 'name')); ?>
                                    </a>
                                </strong>

                                <!-- TEMP FIX 1 START -->
                                <?php
                                /**
                                 * Loading the cached thumbnail image url
                                 */
                                $imageHelper = $objectManager->get('\Magento\Catalog\Helper\Image');
                                $thumbUrl = $imageHelper->init($_product, 'product_small_image')
                                        ->setImageFile($_product->getThumbnail()) // image,small_image,thumbnail
                                        ->resize(200)
                                        ->getUrl();

                                // check if image thumbnail exists
                                $fileExists = (@fopen($thumbUrl, "r")) ? true : false;

                                // if thumbnail not exists, we loadd the placeholder image
                                if (!$fileExists) {
                                    $thumbUrl = $imageHelper->getDefaultPlaceholderUrl('image');
                                }
                                ?>
                                <!-- TEMP FIX 1 END -->

                                <?php // Product Image     ?>
                                <div class="sq-image">
                                    <!-- TEMP FIX 2 START -->
                                    <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                                        <?php /* @escapeNotVerified */ //echo $productImage->toHtml();   ?>
                                        <span class="product-image-container" style="width:240px;">
                                            <span class="product-image-wrapper" style="padding-bottom:125%;">
                                                <img class="product-image-photo" src="<?php echo $thumbUrl; ?>" alt="<?php echo $_product->getName(); ?>">
                                            </span>
                                        </span>
                                    </a>
                                    <!-- TEMP FIX 2 END -->

                                    <?php
                                    // check for cf_1, cf_2, cf_3 custom attributes and if they existing show them in list item.
                                    $uspString = '<ul class="usp-ul">';

                                    if (!is_null($_product->getData('cf_1')) || $_product->getData('cf_1') != "") {
                                        $explode1 = explode(":", $_product->getData('cf_1'));
                                        $uspString .= '<li class="usp-li-class">' . $explode1[0] . "<strong>" . (count($explode1) > 1 ? ":" . $explode1[1] : '') . "</strong></li>";
                                    }

                                    if (!is_null($_product->getData('cf_2')) || $_product->getData('cf_2') != "") {
                                        $explode2 = explode(":", $_product->getData('cf_2'));
                                        $uspString .= '<li class="usp-li-class">' . $explode2[0] . "<strong>" . (count($explode2) > 1 ? ":" . $explode2[1] : '') . "</strong></li>";
                                    }

                                    if (!is_null($_product->getData('cf_3')) || $_product->getData('cf_3') != "") {
                                        $explode3 = explode(":", $_product->getData('cf_3'));
                                        $uspString .= '<li class="usp-li-class">' . $explode3[0] . "<strong>" . (count($explode3) > 1 ? ":" . $explode3[1] : '') . "</strong></li>";
                                    }

                                    $uspString .= "</ul>";

                                    $reviewSummary = $block->getReviewsSummaryHtml($_product, $templateType);
                                    ?>

                                    <?php processNone($qty, $isInStock, $is48Delivery, $expectedDate); ?>

                                </div>

                                <?php $discounted = false; ?>
                                <?php if ($_product->getSpecialPrice() != null): ?>
                                    <?php $discounted = true; ?>
                                    <div class="discount-price-tag-slider"></div>
                                <?php endif; ?>

                                <div class="main-cont">

                                    <?php if ($reviewSummary != ""): ?>
                                        <div class="ratings-container">
                                            <?= $reviewSummary ?>
                                        </div>
                                    <?php endif; ?>

                                    <!-- showing the unique selling points -->
                                    <?php echo $uspString; ?>

                                    <a href="<?php echo $_product->getProductUrl() ?>">
                                        <div class="price-cart-main-container-list">
                                            <div class="price-container-list">
                                                <?php if ($_product->getIsSalable() || !$_product->getIsSalable()): ?>
                                                    <!-- PRICE -->
                                                    <div class="home_price_cart_group_fixed_height" <?php echo $mode == 'info' ? 'style="display:none;"' : ''; ?> >
                                                        <div class="home_price_group">
                                                            <div class="home_price"><?php /* @escapeNotVerified */ echo $block->getProductPrice($_product); ?></div>
                                                        </div>
                                                    </div>
                                                    <!-- PRICE END -->
                                                <?php endif; ?>
                                                <!-- STOCK -->
                                                <div <?php echo $mode == 'info' ? 'style="display:none!important;"' : ''; ?> class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                                                    <!-- IN STOCK -->
                                                    <?php if ($isInStock): ?>
                                                        <?php if ($isInStock && $_product->isSaleable()): ?>
                                                            <div class="home_in_stock"><?php /* @escapeNotVerified */ echo ($qty > 0) ? __("Tomorrow at home") : __('In stock') ?></div>
                                                        <?php else: ?>
                                                            <?php /* @escapeNotVerified */ checkExpectedDate($qty, $isInStock, $is48Delivery, $expectedDate, $_product); ?>
                                                        <?php endif; ?>
                                                    <?php else: ?>
                                                        <!-- out of stock -->
                                                        <?php //showing expected date message   ?>
                                                        <?php if ($expectedDate): ?>
                                                            <?php /* @escapeNotVerified */ checkExpectedDate($qty, $isInStock, $is48Delivery, $expectedDate, $_product); ?>
                                                        <?php else: ?>
                                                            <?php if ($qty > 0 && $_product->isSaleable()): ?>
                                                                <div class="home_in_stock"><?php /* @escapeNotVerified */ echo __("Tomorrow at home") ?></div>
                                                            <?php else: ?>
                                                                <?php /* @escapeNotVerified */ checkExpectedDate($qty, $isInStock, $is48Delivery, $expectedDate, $_product); ?>
                                                            <?php endif; ?>
                                                        <?php endif; ?>
                                                    <?php endif; ?>
                                                    <!-------------->
                                                </div>
                                                <!-- STOCK END -->
                                            </div>
                                            <?php if ($isInStock): ?>
                                                <div class="cart-container-list">
                                                    <!-- ADD TO CART BUTTON -->
                                                    <?php if ($_product->getIsSalable()): ?>
                                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                        <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                                            <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                                            <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                            <?php /* @escapeNotVerified */ echo $block->getBlockHtml('formkey') ?>

                                                            <?php if ($mode == "info"): ?>
                                                                <button type="submit"
                                                                        style="display:none;"
                                                                        title="<?php /* @escapeNotVerified */ echo $block->escapeHtml(__('Add to cart')); ?>"
                                                                        class="action primary tocart home_cart_button">
                                                                </button>
                                                            <?php else: ?>
                                                                <button type="submit"
                                                                        title="<?php /* @escapeNotVerified */ echo $block->escapeHtml(__('Add to cart')); ?>"
                                                                        class="action primary tocart home_cart_button">
                                                                </button>
                                                            <?php endif; ?>
                                                        </form>
                                                        <?php //showing the add to cart button even if out of stock but expected date is defined          ?>
                                                    <?php elseif ((date("d-m-Y") > date("d-m-Y", strtotime($expectedDate)))): ?>
                                                        <button type="submit"
                                                                title="<?php /* @escapeNotVerified */ echo $block->escapeHtml(__('Add to cart')); ?>"
                                                                class="action primary tocart home_cart_button">
                                                        </button>
                                                    <?php endif; ?>
                                                    <!-- ADD TO CART BUTTON ENDS -->
                                                </div>
                                            <?php endif; ?>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <?php echo($iterator == count($collection) + 1) ? '</li>' : '' ?>
                        <?php endforeach ?>
                    <?php endforeach ?>
                </ol>
            </div>
        <?php endif ?>
    </div>
</div>

<?php

function processNone($qty, $isInStock, $is48Delivery, $expectedDate) {

    if ($qty > 0) {
        show24();
        return;
    } else {
        //stock is not ok but sellable
        if ($is48Delivery == "1" && $isInStock) {
            show48();
            return;
        }

        $isInStock = false;
        $expectedDate = false;
        $showExpectedDate = false;
        $showAddToCart = false;

        if (!is_null($expectedDate)) {
            $nowDate = date("d-m-Y");
            $exDate = date("d-m-Y", strtotime($expectedDate));

            $now = strtotime($nowDate);
            $ex = strtotime($exDate);

            if ($ex > $now) {
                $showExpectedDate = true;
            }
        }

        if ($showExpectedDate) {
            echo '<p><font style = "color: red; font-weight: bold">Niet Voorradig</font> Verwacht: ' . $expectedDate . '</p>';
            echo 'Dit product is tijdelijk niet leverbaar. U kunt hem wel bestellen maar de verwachte leverdatum is: ' . $expectedDate;
            return;
        } else {
            echo '<style type="text/css">.price-and-ratings{display: none!important;} .product-price-box{background-color: white; border: none;}</style>';
            echo '<span> <p class="product-ask-info-red">' . __('Tijdelijk niet leverbaar vraag voor meer informatie') . '</p></span>';
            return;
        }
    }
}

function show24() {
    echo '<div class = "cataloglabel cataloglabel-product-top-label cataloglabel-fast-delivery cataloglabel-view position-BL">';
    echo '<span>' . __("Deliver in 24 hours") . '</span>';
    echo '</div>';
}

function show48() {
    echo '<div class = "cataloglabel cataloglabel-product-top-label cataloglabel-fast-delivery cataloglabel-view position-BL">';
    echo '<span>' . __("Deliver in 48 hours") . '</span>';
    echo '</div>';
}

function checkExpectedDate($qty, $isInStock, $is48Delivery, $expectedDate, $_product) {
    $now = date("d-m-Y");

    if (!$qty > 0 && $_product->isSaleable()) {
        if ($expectedDate) {
            $nowDate = date("d-m-Y");
            $exDate = date("d-m-Y", strtotime($expectedDate));

            $now = strtotime($nowDate);
            $ex = strtotime($exDate);

            if ($ex > $now) {
                echo '<p><font style="color: red; font-weight: bold">Niet Voorradig</font> Verwacht: ' . $expectedDate . '</p>';
                return;
            } else {
                echo '<div class="home_out_stock">' . __('On Request') . '</div>';
                return;
            }
        } else {
            echo '<div class="home_out_stock">' . __('On Request') . '</div>';
            return;
        }
    } else {
        
        if($_product->isSaleable() && $qty > 0){
            echo '<div class="home_in_stock">' . __('Tomorrow at home') . '</div>';
        }else{
            echo '<div class="home_out_stock">' . __('On Request') . '</div>';
        }
        
        return;
    }
}
?>

<?php if (!$slider->getGrid()): ?>
    <script type="text/javascript">
        require(['jquery', 'slick'], function ($) {
            $(function () {
                var myVar = setInterval(function () {
                    if ($("button.slick-prev.slick-arrow").length > 0) {
                        $("button.slick-prev.slick-arrow").appendTo(".slick-dots");
                        $("button.slick-next.slick-arrow").appendTo(".slick-dots");

                        clearInterval(myVar);
                    }
                }, 500);

                var slick = true;

                $(window).resize(function (e) {
                    onresize();
                });

                var onresize = function () {
                    if ($(window).width() < 769) {
                        destroyIt();
                    } else {
                        if (!slick) {
                            builtIt();
                        }
                    }
                };

                var builtIt = function () {
                    if (!/Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {

                        $('.product-slider' +<?php echo $sliderId ?>).slick({
                            dots: <?php echo var_export((bool) $slider->getNavigation()) ?>,
                            infinite: <?php echo var_export((bool) $slider->getInfinite()) ?>,
                            slidesToShow: <?php echo $slider->getSlidesToShow() ?>,
                            slidesToScroll: <?php echo $slider->getSlidesToScroll() ?>,
                            speed: <?php echo $slider->getSpeed() ?>,
                            autoplay: <?php echo var_export((bool) $slider->getAutoplay()) ?>,
                            autoplaySpeed: <?php echo $slider->getAutoplaySpeed() ?>,
                            cssEase: 'linear',
                            rtl: <?php echo var_export((bool) $slider->getRtl()) ?>,
                            responsive: [
                                {
                                    breakpoint: <?php echo $slider->getBreakpointLarge() ?>,
                                    settings: {
                                        slidesToShow: <?php echo $slider->getLargeSlidesToShow() ?>,
                                        slidesToScroll: <?php echo $slider->getLargeSlidesToScroll() ?>
                                    }
                                },
                                {
                                    breakpoint: <?php echo $slider->getBreakpointMedium() ?>,
                                    settings: {
                                        slidesToShow: <?php echo $slider->getMediumSlidesToShow() ?>,
                                        slidesToScroll: <?php echo $slider->getMediumSlidesToScroll() ?>
                                    }
                                },
                                {
                                    breakpoint: <?php echo $slider->getBreakpointSmall() ?>,
                                    settings: {
                                        slidesToShow: <?php echo $slider->getSmallSlidesToShow() ?>,
                                        slidesToScroll: <?php echo $slider->getSmallSlidesToScroll() ?>
                                    }
                                }
                            ]
                        });
                    }
                    slick = true;
                };

                var destroyIt = function () {
                    $('.product-slider' +<?php echo $sliderId ?>).slick('unslick');
                    slick = false;
                };
                builtIt();
            });
        });
    </script>
    <?php
 endif ?>