.amfinder-vertical,
.amfinder-horizontal,
.amfinder-responsive
{
    /*border: 1px solid #C4C1BC;*/
    background: #F8F7F5;
    padding: 8px;
    padding-bottom: 5px!important;
}

.amfinder-vertical .dropdown-title,
.amfinder-horizontal .dropdown-title,
.amfinder-responsive .dropdown-title
{
    font-weight: bold;
    padding: 5px;
}

.amfinder-vertical .dropdown-element
{
    padding-bottom: 4px;
}

/* Responsive finder styles */

.amfinder-responsive { display: block; }
.amfinder-responsive .amfinder-title { display: none; }
.amfinder-responsive .amfinder-title span { position: relative; }
.amfinder-responsive .amfinder-toggle { padding: 10px; display: block; }
.amfinder-responsive .amfinder-buttons { display: block; width: 100%; }
.amfinder-responsive li { display: inline-block; min-width: 160px; margin-bottom: 20px; }
.amfinder-responsive li.last { display: block; width: 100%; }
.amfinder-responsive li div select { width: 100%; }

@media only screen and (max-width: 770px) {
    .amfinder-responsive {border:none;background: none}
    .amfinder-responsive li { display: block; width: 100%; margin-bottom: 20px; }
    .amfinder-responsive .amfinder-toggle { border: 1px solid #cccccc; display: none; border-top: none; }
    .amfinder-responsive .amfinder-title { display: block; color: #636363; font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif; font-size: 14px; font-style: normal; line-height: 1.4; text-transform: uppercase; background-color: #f4f4f4; border: 1px solid #cccccc; padding-bottom: 7px; padding-left: 24px; padding-right: 10px; padding-top: 10px; }
    .amfinder-responsive .amfinder-title:hover { cursor: pointer; }
    .amfinder-responsive .amfinder-title span:before { content: ''; position: absolute; width: 0; height: 0; display: block; border-top: 4px solid transparent; border-bottom: 4px solid transparent; border-left: 4px solid #3399cc; border-right: none; left: -15px; top: 50%; margin-top: -5px; }
    .amfinder-responsive.open .amfinder-title span:before { border-top: 4px solid #3399cc; border-bottom: none; border-left: 4px solid transparent; border-right: 4px solid transparent; }
    .amfinder-responsive.open .amfinder-toggle { display: block; }
}

.search-buttons {
    padding:0px 10px !important;
    padding-bottom:8px !important;
}

.amasty-td {
    padding: 0px 10px;
}

.amasty-v-form {
    padding: 0;
}
.filter-select-box {
    width:100%;
}

.filter-search-button {
    background-image: none;
    background: #d67735;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 0;
    width:127px;
}

.filter-search-button:hover {
    background: #d67735 !important;
    color:#FFF !important;
    border:none !important;
}

.filter-search-button:active,
.filter-search-button:focus  {
    background: #d67735 !important;
    color:#FFF !important;
    border:none !important;
}

.filter-reset-button {
    background-image: none;
    background: white;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 0;
    color: #15719f;
}

.filter-reset-button:hover {
    background-color: white!important;
    border:none !important;
    color: #045F8C;
}

.filter-reset-button:active,
.filter-reset-button:focus {
    background-color: white!important;
    border:none !important;
}