<?php
/** @var $block \Magento\Catalog\Block\Product\View */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$_product = $block->getProduct(); // I dont think this gets the configurable?
$buttonTitle = __('Add to Cart');
$stockItem = $objectManager->get('\Magento\CatalogInventory\Api\StockRegistryInterface');
$productStock = $stockItem->getStockItemBySku($_product->getSku());



$isInStock = false;
$expectedDate = false;
$showExpectedDate = false;
$showAddToCart = false;
$qty = floatval($productStock->getData("qty"));


if ($productStock->getData("is_in_stock") == "1") {
    $isInStock = true;
}

if (!is_null($_product->getData('expected_date'))) {
    $expectedDate = $_product->getData('expected_date');
}

if ($expectedDate) {
    $nowDate = date("d-m-Y");
    $exDate = date("d-m-Y", strtotime($expectedDate));

    $now = strtotime($nowDate);
    $ex = strtotime($exDate);

    if ($ex > $now) {
        $showExpectedDate = true;
    }
}

// show the add to cart button if in stock or quantity is greate than 0
if ($isInStock || $qty > 0) {
    $showAddToCart = true;
}

$options = $_product->getOptions();
$atts = $cat = [];
if ($_product->getTypeId() == 'configurable') {
    $cat = $_product->getTypeInstance(true)->getConfigurableAttributesAsArray($_product);
}
$hasOptions = !empty($options) || !empty($cat) || !empty($atts);
?>

<?php if ($_product->isSaleable()): ?>
    <?php // we don't show the add to cart section if the selable qty is less than 0
        if ($showAddToCart): ?>
        <div class="mr-box-tocart-pro-page">
            <div class="fieldset-pro-page">
                <?php      
                    // var_dump($options, $cat);
                    if ($hasOptions) :
                ?>
                    <div class="mobile-only-c configure-product"><?php echo __("Configure options"); ?></div>
                    <div class="mobile-only-c configure-product-finish"><?php echo __("Return to product"); ?></div>
                <?php endif; ?>
                <?php if ($block->shouldRenderQuantity()): ?>
                    <span class="qty-label-pro-page"></span>
                    <div class="qty-wrapper-pro-page">
                        <span href="javascript:void(0);" class="minus minus-pro-page" title="Minus">-</span>
                        <input class="item_qty input-text update value" id="add-to-cart-product-page-qty" name="qty" value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>" />
                        <span href="javascript:void(0);" class="plus plus-pro-page" title="Plus">+</span>
                    </div>
                <?php endif; ?>
                <div class="actions-pro-page">
                    <button type="submit" title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>" class="action primary tocart mr-tocart" id="product-addtocart-button">
                        <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
                    </button>
                    <?php /* @escapeNotVerified */ echo $block->getChildHtml('', true) ?>
                    <?php /* @escapeNotVerified */ echo $block->getChildHtml('', true) ?>
                </div>
            </div>
        </div>
    <?php endif; ?>
<?php elseif (!$_product->isSaleable() && $expectedDate != null && $_product->getTypeId() != 'configurable'): ?>
    <div class="actions">
        <button type="submit"
                title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                class="action primary tocart mr-tocart"
                id="product-addtocart-button">
            <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
        </button>
        <?php /* @escapeNotVerified */ echo $block->getChildHtml('', true) ?>
    </div>
<?php endif; ?>

<!-- <div class="contact-info-pro-page">
    <span>Uw vragen kunt u mailen met de knop hierboven</span>
    <span>Hulp nodig?</span><span>Bel onze helpdesk</span>
</div> -->
