<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();

if ($_product->getTypeId() == 'configurable') {
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $configHelper = $objectManager->create('\Magento\Framework\App\Config\ScopeConfigInterface');
    $configSelectText = $configHelper->getValue('agri_general_customize_section/agri_std_txt/select_opts_text', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
    $configSelectText = $configSelectText ?? 'Selecteer aub eerst de gewenste configuratie bovenaan de pagina.';
    echo $configSelectText;
}
?>

<?php if ($_additional = $block->getAdditionalData("custom")): ?>

    <?php $showTitle = true ?>
  
    <?php   $prevCnt = 1; foreach ($_additional as $group):
        $groupName = $group[key($group)]['group'];
        if ($groupName == 'General' || $groupName == 'Attributes') {
            $groupName = "Specificaties";
        }
        ?>

        <?php
        foreach ($group as $_data) {
            if (substr($_data['code'], 0, 3) === "cf_") {
                $showTitle = false;
            } else {
                $showTitle = true;
            }
        }
        
        if ($groupName == 'Extra informatie') {
            $showTitle = false;
        }
            
        ?>

        <?php if ($showTitle): ?>
            <a id="<?php /* @escapeNotVerified */ echo $group[key($group)]['groupCode']; ?>"><h3 class="mr-desc-title" ><?php /* @escapeNotVerified */ echo $groupName; ?></h3></a>
        <?php endif; ?>
        <div class="additional-attributes-wrapper table-wrapper">
            <table class="data table additional-attributes" id="product-attribute-specs-table">
                <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('More Information') ?></caption>
                <tbody>
                    <?php if ($prevCnt%2 == 0) echo "<tr></tr>";?>
                    <?php foreach ($group as $_data): $prevCnt++; ?>
                        <?php if (substr($_data['code'], 0, 3) !== "cf_" && $_data['code'] !== "featured_video" ) : ?>
                            <tr>
                                <th style="width:40%" class="col label" scope="row"><?php /* @escapeNotVerified */ echo $block->escapeHtml(__($_data['label'])) ?></th>
                                <td style="width:60%" class="col data" data-th="<?php /* @escapeNotVerified */ echo $block->escapeHtml(__($_data['label'])) ?>"><?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></td>
                            </tr>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    <?php 
        $prevCnt = 0;
        endforeach; ?>    
<?php endif; ?>
