<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
?>

<?php if ($_additional = $block->getAdditionalData()): ?>
    <?php foreach ($_additional as $group):
        $groupName = $group[key($group)]['group'];
        if ($groupName == 'General') {
            $groupName = "Specificaties";
        }
        
        if ($groupName != 'Extra informatie') :
        ?>
        
        <a id="<?php echo $group[key($group)]['groupCode']; ?>"><h3 class="mr-desc-title" ><?php /* @escapeNotVerified */ echo $groupName; ?></h3></a>
        <?php endif; ?>
        <div class="additional-attributes-wrapper table-wrapper">
            <table class="data table additional-attributes" id="product-attribute-specs-table">
                <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('More Information') ?></caption>
                <tbody class="tb-general-atts">
                    <?php foreach ($group as $_data): ?>
                        <?php if (substr($_data['code'], 0, 3) !== "cf_") : ?>
                        <tr>
                            <?php
                            $val = $_helper->productAttribute($_product, $_data['value'], $_data['code']);
                            $stat;

                            if (is_numeric($val)) {
                                $stat = round((float) $val, 2);
                            } else {
                                $stat = $val;
                            }
                            ?>
                            <th class="col label" scope="row"><?php echo /* @escapeNotVerified */ $block->escapeHtml(__($_data['label'])) ?></th>
                            <td class="col data" data-th="<?php echo /* @escapeNotVerified */ $block->escapeHtml(__($_data['label'])) ?>"><?php /* @escapeNotVerified */ echo $stat ?></td>
                        </tr>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    <?php endforeach; ?>
<?php endif; ?>