<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/**
 * Product description template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Description
 */

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

$configHelper = $objectManager->create('\Magento\Framework\App\Config\ScopeConfigInterface');
$product_info_title = $configHelper->getValue('agri_general_customize_section/agri_std_txt/product_info_title', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
$standard_text = $configHelper->getValue('agri_general_customize_section/agri_std_txt/product_info_text', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
?>

<h2 class="mr-desc-title"><?php /* @escapeNotVerified */ echo __('Product description') ?></h2>
<div>
     <div class='description-field-trunc-wrap'>
     <span class='description-field-trunc'>
          <?php /* @escapeNotVerified */ echo $this->helper('Magento\Catalog\Helper\Output')->productAttribute($block->getProduct(), $block->getProduct()->getDescription(), 'description') ?>
     </span>
     <div class='expand-desc' title="Klik om de beschrijving uit te vouwen"><div class='expand-desc-text'><center>Klik voor meer info</center></div>
     </div>
</div>
<style>
     .expand-desc {
          position: absolute;
          height: 200px;
          top:0;
          z-index: 19;
          display:none;
          width: 100%;
          background-image: linear-gradient(to bottom, transparent, white);
     }
     .expand-desc:hover {
          cursor: pointer;
     }
     .expand-desc .expand-desc-text {
          position: absolute;
          top:180px;
          width: 100%;
          z-index: 19;
          font-weight: 600;
     }
     .description-field-trunc-wrap {
          position: relative;
     }
</style>

<?php if ($standard_text) : ?>
<h2 class="info-ic mr-desc-title"><?= $product_info_title ?></h2>
<?= $standard_text ?>
<?php endif; ?>
