<?php
    /**
     * @var $block \Magento\Catalog\Block\Product\View
     */
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_product = $block->getProduct();

    $options = $_product->getOptions();
    $atts = $cat = [];

    if ($_product->getTypeId() == 'configurable') {
        $cat = $_product->getTypeInstance(true)->getConfigurableAttributesAsArray($_product);
    }

    $hasOptions = !empty($options) || !empty($cat) || !empty($atts);
?>
<style>
@media screen and (min-width: 1024px) {
   .lg-display {
     display:block !important;
   }
}
</style>

<div class="product-add-form <?php if (!$hasOptions) echo 'short-floatable'; ?> <?php echo $_product->isSaleable() ? ' floatable-add-to-cart' : '' ?>">
    <?php if ($hasOptions) : ?><div class='hidden lg-display'>Dit product heeft opties waaruit gekozen moet worden. Dit kan de prijs en specificaties be&iuml;nvloeden. Opties met een * zijn verplicht.<br></div><?php endif; ?>
    <form action="<?php /* @escapeNotVerified */ echo $block->getSubmitUrl($_product) ?>" method="post"
          id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $_product->getId() ?>" />
        <input type="hidden" name="selected_configurable_option" value="" />
        <input type="hidden" name="related_product" id="related-products-field" value="" />
        <?php echo $block->getBlockHtml('formkey') ?>
        <?php echo $block->getChildHtml('form_top'); ?>
        <?php if (!$block->hasOptions()): ?>
            <?php echo $block->getChildHtml('product_info_form_content'); ?>
        <?php else: ?>
            <?php if ($_product->isSaleable() && $block->getOptionsContainer() == 'container1'): ?>
                <?php echo $block->getChildChildHtml('options_container') ?>
            <?php endif; ?>
        <?php endif; ?>

        <?php if ($_product->isSaleable() && $block->hasOptions() && $block->getOptionsContainer() == 'container2'): ?>
            <?php echo $block->getChildChildHtml('options_container') ?>
        <?php endif; ?>
        <?php echo $block->getChildHtml('form_bottom'); ?>
    </form>
</div>

<script>
    require([
        'jquery',
        'Magento_Catalog/js/price-box'
    ], function ($) {
        var priceBoxes = $('.product-info-price [data-role=priceBox]');

        priceBoxes = priceBoxes.filter(function (index, elem) {
            return !$(elem).find('.price-from').length;
        });

        priceBoxes.priceBox({'priceConfig': <?php /* @escapeNotVerified */ echo $block->getJsonConfig() ?>});
    });
</script>

<div class="mr-right-info-box">
    <ul class="ul-product-points">
        <li class="product-points"><?php /* @escapeNotVerified */ echo __("Laagste prijs garantie"); ?></li>
        <li class="product-points"><?php /* @escapeNotVerified */ echo __("Bezorging aan huis"); ?></li>
        <li class="product-points"><?php /* @escapeNotVerified */ echo __("Niet goed, geld terug"); ?></li>
        <li class="product-points"><?php /* @escapeNotVerified */ echo __("30 dagen bedenktijd"); ?></li>
        <li class="product-points"><?php /* @escapeNotVerified */ echo __("Klanten geven ons"); ?>
            <span class="fa fa-star mr-gold"></span>
            <span class="fa fa-star mr-gold"></span>
            <span class="fa fa-star mr-gold"></span>
            <span class="fa fa-star mr-gold"></span>
            <span class="fa fa-star-half-o mr-gold"></span>
        </li>
    </ul>
</div>

<div class="mr-right-info-box-desktop">
    <ul class="ul-product-points">
        <li class="product-points"><?php /* @escapeNotVerified */ echo __("Laagste prijs garantie"); ?></li>
        <li class="product-points"><?php /* @escapeNotVerified */ echo __("Bezorging aan huis"); ?></li>
        <li class="product-points"><?php /* @escapeNotVerified */ echo __("Niet goed, geld terug"); ?></li>
        <li class="product-points"><?php /* @escapeNotVerified */ echo __("30 dagen bedenktijd"); ?></li>
        <li class="product-points"><?php /* @escapeNotVerified */ echo __("Klanten geven ons"); ?>
            <span class="fa fa-star mr-gold"></span>
            <span class="fa fa-star mr-gold"></span>
            <span class="fa fa-star mr-gold"></span>
            <span class="fa fa-star mr-gold"></span>
            <span class="fa fa-star-half-o mr-gold"></span>
        </li>
    </ul>
</div>

<ul class="mr-info-nav-desktop">
    <li class="mr-menu-item mr-menu-item-first"> <a href="#" class="active">Hulp nodig? Bel de klantenservice</a> <span class="mr-small"> (lokaal tarief) </span></li>
    <li class="mr-menu-item"><a href="/klantenservice/?product-sku=40012811&amp;product-title=Koppelingsdriehoek werktuigzijde cat 1,2,3 - 1500kg">Mail ons uw vraag</a></li>
    <li class="mr-menu-item"><a href="javascript:window.print()">Print deze pagina</a></li>
    <li class="mr-menu-item"><a href="/belgische-klanten">Belgische klant? Lees meer</a></li>
</ul>
