<?php
/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
$gallaryData = json_decode($block->getGalleryImagesJson());

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$productRepository = $objectManager->get('\Magento\Catalog\Model\ProductRepository');
$sku = $gallaryData[0]->caption;



if ($sku != null || $sku != "") {
    try {
        // check if the sku is numeric otherwise we don't process
        if (is_numeric($sku)) {

            // check if the caption same as the SKU and if so load the product and get the product name
            $product = $productRepository->get($sku);
            $productName = $product->getName();

            foreach ($gallaryData as $data) {
                $data->caption = $productName;
            }
        }
    } catch (Exception $ex) {
        return null;
    }
} else {
    $gallaryData = null;
}
?>

<div class="gallery-placeholder _block-content-loading" data-gallery-role="gallery-placeholder">
    <div data-role="loader" class="loading-mask">
        <div class="loader">
            <img src="<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
                 alt="<?php /* @escapeNotVerified */ echo __('Loading...') ?>">
        </div>
    </div>
</div>
<meta itemprop="image" content="<?php /* @escapeNotVerified */ echo $block->stripTags($block->getImage($block->getProduct(), 'product_base_image')->getImageUrl()); ?>" />
<meta itemprop="productID" content="<?php /* @escapeNotVerified */ echo $block->stripTags($block->getProduct()->getProductUrl()); ?>" />

<script type="text/x-magento-init">
    {
    "[data-gallery-role=gallery-placeholder]": {
    "mage/gallery/gallery": {
    "mixins":["magnifier/magnify"],
    "magnifierOpts": <?php /* @escapeNotVerified */ echo $block->getMagnifier(); ?>,
    "data": <?php /* @escapeNotVerified */ echo $gallaryData == null ? $block->getGalleryImagesJson() : json_encode($gallaryData); ?>,
    "options": {
    "nav": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/nav"); ?>",
    "loop": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/loop"); ?>,
    "keyboard": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/keyboard"); ?>,
    "arrows": 1,
    "allowfullscreen": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/allowfullscreen"); ?>,
    "showCaption": 0,
    "captions": 1,
    "width": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'width'); ?>,
    "thumbwidth": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'width'); ?>,
    "thumbheight": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'height') ?: $block->getImageAttribute('product_page_image_small', 'width');
?>,
    "height": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'height') ?: $block->getImageAttribute('product_page_image_medium', 'width');
?>,
    "transitionduration": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/transition/duration"); ?>,
    "transition": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/transition/effect"); ?>",
    "navarrows": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/navarrows"); ?>,
    "navtype": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/navtype"); ?>",
    "navdir": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/navdir"); ?>"
    },
    "fullscreen": {
    "nav": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/fullscreen/nav"); ?>",
    "loop": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/fullscreen/loop"); ?>,
    "navdir": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/fullscreen/navdir"); ?>",
    "arrows": 1,
    "showCaption": 0,
    "transitionduration": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/fullscreen/transition/duration"); ?>,
    "transition": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/fullscreen/transition/effect"); ?>"
    },
    "breakpoints": <?php /* @escapeNotVerified */ echo $block->getBreakpoints(); ?>
    }
    }
    }
</script>