<style type="text/css">
#product-offer-button{width: 100%;font-size: 15px;text-transform: uppercase;font-weight: 700;border-radius: 5px;color: #fff;background-color: #008b00;border-color: #008b00;text-align: center;padding: 10px 15px;}
.product-off-btn{width: 100%;font-size: 15px;text-transform: uppercase;font-weight: 700;border-radius: 5px;color: #fff;background-color: #008b00;border-color: #008b00;text-align: center;padding: 10px 15px;}
.un-reg-cus .field{padding: 5px 0;}
.modal-popup._inner-scroll .modal-inner-wrap {width: 50%;padding: 0px 15px;}
.un-reg-cus input[type="text"], .un-reg-cus input[type="email"]{height: 35px;}
.modal-popup .modal-footer {padding-bottom: 2rem;padding-top: 0rem;}

/**
* Popup button code
*/
.un-reg-cus .btn-primary{color: #fff;font-weight: 700;font-size: 15px;}
.popup-btn{margin-top: 15px;background: #C0202F;text-align: center;border-radius: 5px;padding: 10px;cursor: pointer;}
.popup-title{font-size: x-large;font-weight: 700;line-height: normal;font-style: normal;text-align: center;color: #c0202f;margin-bottom: 15px;}
.un-reg-cus .btn-primary:hover{text-decoration: none;}
</style>

<!--
***User login validation
-->
<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $customerSession = $objectManager->create('Magento\Customer\Model\Session');
    if(!$customerSession->isLoggedIn()) {
?>
        <a href="#!" title="Add to Cart" class="action primary" id="product-offer-button">
            <span>Offer</span>
        </a>
<?php
    }else{
?>
        <a href="#!" title="Add to Cart" class="action primary product-off-btn" id="offer-submit">
            <span>Offer</span>
        </a>
<?php
    }
?>

<!--
***Popup form section
-->
<div id="popup-mpdal" class="un-reg-cus">
    <h1 class="popup-title">Personal Information</h1>
    <form id="person-form-validate" method="post" action="<?php //echo $this->getActionOfForm()?>">
        <div class="fields">
            <div class="customer-name">
                <div class="field name-firstname">
                    <label class="required" for="firstname">First Name*</label>
                    <div class="input-box">
                        <input type="text" class="input-text required-entry" maxlength="255" title="First Name" value="" name="first-name" id="first-name">
                    </div>
                </div>

                <div class="field name-lastname">
                    <label class="required" for="lastname">Last Name*</label>
                    <div class="input-box">
                        <input type="text" class="input-text required-entry" maxlength="255" title="Last Name" value="" name="last-name" id="last-name">
                    </div>
                </div>

                <div class="field email">
                    <label class="required" for="email">Email*</label>
                    <div class="input-box">
                        <input type="text" class="input-text required-entry" maxlength="255" title="Email" value="" name="email" id="email">
                    </div>
                </div>

                <div class="field photo">
                    <label class="required" for="phone">Phone Number*</label>
                    <div class="input-box">
                        <input type="text" class="input-text required-entry" maxlength="255" title="Phone Number" value="" name="phone" id="phone">
                    </div>
                </div>

                <div class="action popup-btn" id="offer-submit">
                    <a title="Submit" class="action btn btn-primary">
                        <span>Submit</span>
                    </a>
                </div>

            </div>
        </div>
    </form>
</div>

<!--
***Get current product details
-->
<?php 
    $currentProduct = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
    $id = $currentProduct->getId();
    $name = $currentProduct->getName();
    $price = $currentProduct->getPrice();
    $qty = $currentProduct->getQty();

    $productimages = array();
    $productImg = "";
    $product = $objectManager->create('Magento\Catalog\Model\Product')->load($id);
    $productimages = $product->getMediaGalleryImages();
    foreach($productimages as $productimage)
    {
        $productImg = $productimage['url'];
    }
?> 



<script type="text/javascript">
	require([
    'jquery',
    'Magento_Ui/js/modal/modal'
], function($,modal){ 

        /**
        * Popup model code
        */
        var options = {
            type: 'popup',
            responsive: true,
            innerScroll: true,
            class: 'un-reg-cus',
            buttons: [{
                text: $.mage.__('Submit'),
                class: 'primary action submit btn btn-default',
                click: function () {
                    this.closeModal();
                }
            }],
            opened: function($Event) {
                $(".modal-footer").hide();
            }
        };
        var popup = modal(options, $('#popup-mpdal'));
        $("#product-offer-button").on('click',function(){
            $("#popup-mpdal").modal("openModal");
        });

        /**
        * Ajax loader Initialization
        */
        var AjaxUrl = '<?php echo $this->getUrl('enquiry/pages/index'); ?>';

        $(document).on('click','#offer-submit',function() {  
            
            var cartform = $('#product_addtocart_form').serialize();
            
            <?php
            if(!$customerSession->isLoggedIn())
            {
            ?>
                var firstname = $("#first-name").val();
                var lasttname = $("#last-name").val();
                var email = $("#email").val();
                var phone = $("#phone").val();
                var isFormValid = true;
                if (!firstname){
                    alert("Enter Your First Name.");
                    isFormValid = false;                
                    $( "#first-name" ).focus();
                    return isFormValid;
                }
                if (!lasttname){
                    alert("Enter Your Last Name.");
                    isFormValid = false;                
                    $( "#last-name" ).focus();
                    return isFormValid;
                }
                if (!email){
                    alert("Enter Your Email.");
                    isFormValid = false;                
                    $( "#email" ).focus();
                    return isFormValid;
                }
                if (!phone){
                    alert("Enter Your Phone Number.");
                    isFormValid = false;                
                    $( "#phone" ).focus();
                    return isFormValid;
                }
            <?php
            } else{
            ?>
                var firstname = "<?php echo $customerSession->getCustomer()->getName() ?>";
                var lasttname = 'null';
                var email = "<?php echo $customerSession->getCustomer()->getEmail() ?>";
                var phone = 'null';
            <?php
            }
            ?>

            var param = { fname: firstname, lname: lasttname, em: email, ph: phone, id: "<?php echo $id ?>", name: "<?php echo $name ?>", price: "<?php echo $price ?>", image: "<?php echo $productImg ?>"};            

            <?php if($price == '')
                  {
                    ?>
                        var str = $(".price-box .price").text();
                        var cprice = str.substring(1);
                    <?php
                  }else{
                    ?>
                        var cprice = "<?php echo $price ?>";
                        
                    <?php
                  }
            ?>

            $.ajax({
                showLoader: true,
                url: AjaxUrl,
                data: cartform+"&fname="+firstname+"&lname="+lasttname+"&em="+email+"&ph="+phone+"&id=<?php echo $id ?>&name=<?php echo $name ?>&price="+cprice+"&image=<?php echo $productImg ?>",
                type: "POST"
            }).done(function(data) {
                $('.result').html(data['success']);
                popup.closeModal();
            });
        });
	});
</script>