<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$stockItem = $objectManager->get('\Magento\CatalogInventory\Api\StockRegistryInterface');

$_product = $block->getProduct();
$productStock = $stockItem->getStockItemBySku($_product->getSku());

$is48Delivery = false;
$expectedDate = false;
$isInStock = $productStock->getIsInStock();
$qty = floatval($productStock->getData("qty"));

if (!is_null($_product->getData('delivery_48')) && $_product->getData('delivery_48') == "1") {
    $is48Delivery = true;
}

if (!is_null($_product->getData('expected_date'))) {
    $expectedDate = $_product->getData('expected_date');
}


processNone($qty, $isInStock, $is48Delivery, $expectedDate);

function processNone($qty, $isInStock, $is48Delivery, $expectedDate) {
    if ($qty > 0 && $isInStock) { //qty is greater than 0 mean we have stock inhouse
        show24Label();
        return;
    } else { // qty is less than 0
        if ($isInStock) {
            if ($is48Delivery) {
                show48Label();
                return;
            } else {
                showNormalLabel();
                return;
            }
        } else {
            if ($expectedDate) {
                $nowDate = date("d-m-Y");
                $exDate = date("d-m-Y", strtotime($expectedDate));

                $now = strtotime($nowDate);
                $ex = strtotime($exDate);

                if ($ex > $now) {
                    showExpectedDate($expectedDate);
                    return;
                } else {
                    showOpAanvraag();
                    return;
                }
            } else {
                showOpAanvraag();
                return;
            }
        }
    }

    showOutOfStock();
}

function show24Label() {
    echo '<div class="in-stock-pro-page">' . __("In Stock");
    echo '<span>' . __(" Deliver in 24 hours") . '</span>';
    echo '</div>';
}

function show48Label() {
    echo '<div class="in-stock-pro-page">' . __("In Stock");
    echo '<span>' . __(" Deliver in 48 hours") . '</span></div>';
}

function showNormalLabel() {
    echo '<div class="in-stock-pro-page">' . __("In Stock");
    echo '<span>' . __(" Delivery time in 2 - 5 workingdays");
    echo '</span></div>';
}

function showOpAanvraag() {
    echo '<div class="out-stock-pro-page">' . __("On Request");
    echo '</b></div>';
}

function showExpectedDate($expectedDate) {
    echo '<p class="expected_pro_page"><font style = "color: red; font-weight: bold">Niet Voorradig</font></p><p> Verwacht: ' . $expectedDate . '</p>';
    echo '<p>Dit product is tijdelijk niet leverbaar. U kunt hem wel bestellen maar de verwachte leverdatum is: ' . $expectedDate . '</p>';
}

function showOutOfStock() {
    echo '<div class="home_out_of_stock_pro_page">' . __("Niet Voorradig") . "</b></div>";
}

function askForInfo() {
    echo '<style type="text/css">.price-and-ratings{display: none!important;} .product-price-box{background-color: white; border: none;}</style>';
    echo '<span> <p class="product-ask-info-red">' . __('Tijdelijk niet leverbaar vraag voor meer informatie') . '</p></span>';
}
?>