<?php
$customBlock = \Magento\Framework\App\ObjectManager::getInstance()->get('Mr\Agri\Block\CurrentProduct');
$sessionManager = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\Session\SessionManagerInterface');

$currentProduct = $customBlock->getCurrentProduct();
$_product = $block->getProduct();

// start a session
$sessionManager->start();

// set the current product SKU, and name to the session var, we will use in contact us page form
// Magento_Contact::form.phtml
$sessionManager->setCustomerServiceSku($currentProduct->getSku());
$sessionManager->setCustomerServiceName($currentProduct->getName());

?>

<?php if ($_product->getPrice() == 0): ?>
    <style type="text/css">.product-price-box{display: none!important;}</style>
    <span> <p class="product-ask-info"><?php echo __('Ask for more information about this product'); ?></p></span>
<?php endif; ?>