<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
<div>
    <!-- ko if: isFormVisible -->
    <p data-bind="i18n: 'Maak een account aan zodat u uw order status gemakkelijk kunt bekijken.'"></p>
    <p><span data-bind="i18n: 'Email Address'"></span>: <span data-bind="text: getEmailAddress()"></span></p>
    <form method="get" data-bind="attr: { action: getUrl() }">
        <input type="submit" class="action primary" data-bind="value: $t('Create an Account')" />
    </form>
    <!--/ko-->
</div>
