<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>

<?php /** @var \Magento\Framework\Pricing\Render\Amount $block */ ?>

<?php
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$registry = $_objectManager->get('Magento\Framework\Registry');
$product = $registry->registry('current_product');
?>

<span class="price-container <?= /* @escapeNotVerified */ $block->getAdjustmentCssClasses() ?>"
      <?= $block->getSchema() ? ' itemprop="offers" itemscope itemtype="http://schema.org/Offer"' : '' ?>>
          <?php if ($block->getDisplayLabel()): ?>
        <span class="price-label"><?= /* @escapeNotVerified */ $block->getDisplayLabel() ?></span>
    <?php endif; ?>
    <span <?php if ($block->getPriceId()): ?> id="<?= /* @escapeNotVerified */ $block->getPriceId() ?>"<?php endif; ?>
    <?= ($block->getPriceDisplayLabel()) ? 'data-label="' . $block->getPriceDisplayLabel() . $block->getPriceDisplayInclExclTaxes() . '"' : '' ?>
                                              data-price-amount="<?= /* @escapeNotVerified */ $block->getDisplayValue() ?>"
                                              data-price-type="<?= /* @escapeNotVerified */ $block->getPriceType() ?>"
                                              class="price-wrapper <?= /* @escapeNotVerified */ $block->getPriceWrapperCss() ?>">
        <?= /* @escapeNotVerified */ $block->formatCurrency($block->getDisplayValue(), (bool) $block->getIncludeContainer()) ?>
    </span>
    <?php if ($block->hasAdjustmentsHtml()): ?>
        <?= $block->getAdjustmentsHtml() ?>
    <?php endif; ?>
        
    <?php if ($block->getSchema()): ?>
        <meta itemprop="price" content="<?= /* @escapeNotVerified */ round($product->getPriceInfo()->getPrice('final_price')->getAmount()->getBaseAmount(), 2) ?>" />
        <meta itemprop="priceCurrency" content="<?= /* @escapeNotVerified */ $block->getDisplayCurrencyCode() ?>" />
        
        <?php if($product->isSaleable()): ?>
        <meta itemprop="availability" content="https://schema.org/InStock" />
        <?php endif; ?>
        <meta itemprop="itemCondition" content="https://schema.org/NewCondition" />
        <meta itemprop="sku" content="<?php echo $product->getSku(); ?>" />
    <?php endif; ?>
</span>
