/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

@import 'source/lib/_lib.less'; // Global lib
@import 'source/_theme.less'; // Theme overrides
@import 'source/_variables.less'; // Local theme variables

@baseDir: '../'; // Default

@media print {


    .nav-toggle {
        display: none !important;
    }

    .sidebar,
    .nav-sections,
    .header.content > *[class],
    .panel.wrapper > *[class],
    .footer.content > *[class] {
        display: none;
    }

    .logo,
    .footer .copyright {
        display: block !important;
        margin: 10px 0;
    }

    .order-details-items {
        .order-items {
            .order-gift-message {
                &:not(.expanded-content) {
                    height: auto;
                    visibility: visible;
                }
            }
        }
    }

    .column.main {
        float: none !important;
        width: 100% !important;
    }

    .breadcrumbs {
        margin: 0 auto;
        text-align: right;
    }

    .footer.content {
        padding: 0;
    }

    .product-info-main
    {
        width:100%;
        float:none;
        text-align:center;
    }

    .hdmx__contact-button, .mr-info-nav, .review-add, .toolbar-bottom, .rewardssocial-buttons, .breadcrumbs, .mr-box-tocart 
    {
        display:none;
    }
    
    .cart-summary {
        width: 100% !important;
    }
    
    .cart-container .form-cart {
        width: 100% !important;
        padding: 0 10px;
    }
    
    a:after{
        display: none;
    }
    
    .action-delete,
    .actions,
    .osc-addition-content-wrapper,
    .minicart-wrapper,
    osc-authentication-wrapper
    {
        display: none !important;
    }
    


}
