<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
return;
?>
<?php /* @var $block \Magento\Catalog\Block\Product\View\AbstractView */ ?>
<?php $_product = $block->getProduct() ?>

<?php if ($block->displayProductStockStatus()): ?>
     <?php if ($_product->isAvailable()): ?>
          <div class="stock available" title="<?php /* @escapeNotVerified */ echo __('Availability') ?>">
               <span><?php /* @escapeNotVerified */ echo __('In stock Edited') ?></span>
          </div>
     <?php else: ?>
          <div class="stock unavailable" title="<?php /* @escapeNotVerified */ echo __('Availability') ?>">
               <span><?php /* @escapeNotVerified */ echo __('Out of stock edited') ?></span>
          </div>
     <?php endif; ?>
<?php endif; ?>
