<?php
if ($block->getResultCount() == 0) {
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $messageManager = $objectManager->get('Magento\Framework\Message\ManagerInterface');
    $encoder = $objectManager->get('Magento\Framework\Url\EncoderInterface');
    
    $messageManager->addWarning(__('Your search returned no results.'));

    $redirect = $objectManager->get('\Magento\Framework\App\Response\Http');
    $redirect->setRedirect('/catalog/search/noresult/?term=' .  $encoder->encode($block->getsearchTerm()));
}
?>

<?php if ($block->getResultCount()): ?>
    <?= $block->getChildHtml('tagged_product_list_rss_link') ?>
    <div class="search results">
        <?php if ($messages = $block->getNoteMessages()): ?>
            <div class="message notice">
                <div>
                    <?php foreach ($messages as $message): ?>
                        <?= /* @escapeNotVerified */ $message ?><br />
                    <?php endforeach; ?>
                </div>
            </div>
        <?php endif; ?>
        <?= $block->getProductListHtml() ?>
    </div>
<?php else: ?>

    <div class="message notice">
        <div>
            <?= /* @escapeNotVerified */ ($block->getNoResultText()) ? $block->getNoResultText() : __('Your search returned no results.') ?>
            <?= $block->getAdditionalHtml() ?>
            <?php if ($messages = $block->getNoteMessages()): ?>
                <?php foreach ($messages as $message): ?>
                    <br /><?= /* @escapeNotVerified */ $message ?>
                <?php endforeach; ?>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
