<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="price-container">
  <span class="price-wrapper" data-bind="html: subtotal_incl_tax"></span>
</div>
