<form action="/callbackemail/Index/CallbackEmailController"
      id="callback-form"
      method="post"
      data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>"
      data-mage-init='{"validation":{}}'>

     <?php $url = "//{$_SERVER['HTTP_HOST']}{$_SERVER['REQUEST_URI']}"; ?>

     <input type="hidden" name="rurl" id="rurl" value="<?php echo $url ?>" />
     <input type="hidden" name="hideit" id="hideit" value="" />

     <span class="callback-title"><?php /* @escapeNotVerified */ echo __("Call me back") ?></span>

     <div>
          <div class="field phone required">

               <input name="phone" 
                      id="phone" 
                      title="<?php /* @escapeNotVerified */ echo __('Phone') ?>"  
                      class="input-text callback-input" 
                      type="tel" 
                      data-validate="{required:true}" 
                      onfocus="if (this.value == '<?php /* @escapeNotVerified */ echo __('Phone') ?>')
                                     this.value = ''" value="<?php /* @escapeNotVerified */ echo __('Phone') ?>" />
          </div>

          <?php /* @escapeNotVerified */ echo $block->getChildHtml('form.additional.info'); ?>

          <button type="submit" title="<?php /* @escapeNotVerified */ echo __('Send') ?>" class="action submit primary callback-button">
               <span><?php /* @escapeNotVerified */ echo __('Send') ?></span>
          </button>
     </div>

</form>
