<div class="link_bar_cont">

    <?php $_product = $block->getProduct(); ?>

    <?php if ($_additional = $block->getTitles()): ?>
        <?php foreach ($_additional as $group):
        $groupName = $group[key($group)]['group'];
        if ($groupName == 'General' || $groupName == 'Attributes') {
            $groupName = "Productinformatie";
        }
        if ($groupName == "Extra informatie") {
            continue;
        }
        ?>
            <?php if (substr($group[key($group)]['code'], 0, 3) !== "cf_" && $group[key($group)]['code'] !== 'featured_video') : ?>
                <a class="a-link-bar" href="#<?php echo $group[key($group)]['groupCode']; ?>"><span class="link_bar_item"><?php /* @escapeNotVerified */ echo $groupName; ?></span></a>
            <?php endif; ?>
        <?php endforeach; ?>    
    <?php endif; ?>

    <?php $relatedProducts = $_product->getRelatedProducts(); ?>

    <?php if (count($relatedProducts) > 0): ?>
        <a class="a-link-bar" href="#related-product"><span class="link_bar_item"><?php /* @escapeNotVerified */ echo __("Related Products") ?></span></a>
    <?php endif; ?>
        
    <?php // show or hide the document download link on availability ?>
    <?php if (!is_null($_product->getData('file_download_url'))): ?>
        <a class="a-link-bar" target="_blank" rel="noopener noreferrer" href="<?php echo $_product->getData('file_download_url') ?>"><span class="link_bar_item"><?php /* @escapeNotVerified */ echo __("Documenten") ?></span></a>
    <?php endif; ?>
</div>
