<?php

use Magento\Framework\App\Action\Action;

/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>    
    <?php
    /* @escapeNotVerified */ echo $block->getToolbarHtml();
    /* @escapeNotVerified */ echo $block->getAdditionalHtml();

    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
    }

    //$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;

    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>

    <div class="products-wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">
        <?php $iterator = 1; ?>
        <ol class="product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?php
                $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                $StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');

                $stockItem = $objectManager->get('\Magento\CatalogInventory\Api\StockRegistryInterface');
                $productStock = $stockItem->getStockItemBySku($_product->getSku());
                $is48Delivery = false;
                $expectedDate = false;

                global $isInStock;
                $isInStock = false;

                $qty = floatval($productStock->getData("qty"));
                global $cartButtonVisible;
                $cartButtonVisible = true;


                if ($productStock->getData("is_in_stock") == "1" || $qty > 0) {
                    $isInStock = true;
                }

                $qty = floatval($productStock->getData("qty"));

                if (!is_null($_product->getData('delivery_48')) && $_product->getData('delivery_48') == "1") {
                    $is48Delivery = true;
                }

                if (!is_null($_product->getData('expected_date'))) {
                    $expectedDate = $_product->getData('expected_date');
                }

                $mode = "regular";
                $buttonLabel = "More info";

                if ($_product->getPrice() == 0 && $_product->getTypeId() == 'simple') {
                    $mode = "info";
                }
                ?>

                <?php /* @escapeNotVerified */ echo $_product->getTitle() ?>
                <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>

                <div class="product-item-info" data-container="product-grid">
                    <?php
                    $productImage = $block->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;' . 'top:' . $productImage->getHeight() . 'px;"';
                    }

                    $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                    ?>

                    <?php // Product Title  ?>
                    <span class="catalog-product-name">
                        <a class="product-item-link" href="<?php echo $_product->getProductUrl() ?>">
                            <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                        </a>
                    </span>

                    <?php
                    // loading the non cached image url
                    $imageHelper = $objectManager->get('\Magento\Catalog\Helper\Image');
                    $thumbUrl = $imageHelper->init($_product, 'product_small_image')
                            ->setImageFile($_product->getThumbnail()) // image,small_image,thumbnail
                            ->resize(200)
                            ->getUrl();

                    // check if image thumbnail exists
                    $fileExists = (@fopen($thumbUrl, "r")) ? true : false;

                    // if thumbnail not exists, we loadd the placeholder image
                    if (!$fileExists) {
                        $thumbUrl = $imageHelper->getDefaultPlaceholderUrl('image');
                    }
                    ?>

                    <!-- PRODUCT IMAGE START -->
                    <div class="sq-image-catalog">
                        <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product-item-photo-catalog">
                            <?php /* @escapeNotVerified */ //echo $productImage->toHtml();   ?>
                            <span class="product-image-wrapper-catalog">
                                <img class="product-image-photo-catalog" src="<?php echo $thumbUrl; ?>" alt="<?php echo $_product->getName(); ?>">
                            </span>
                        </a>

                        <?php
                        // check for cf_1, cf_2, cf_3 custom attributes and if they existing show them in list item.
                        $uspString = '<ul class="usp-ul">';

                        if (!is_null($_product->getData('cf_1')) || $_product->getData('cf_1') != "") {
                            $explode1 = explode(":", $_product->getData('cf_1'));
                            //$explode1 = explode(":", '0.85m werkbreedte');
                            $uspString .= '<li class="usp-li-class">' . $explode1[0] . "<strong>" . (count($explode1) > 1 ? ":" . $explode1[1] : '') . "</strong></li>";
                        }

                        if (!is_null($_product->getData('cf_2')) || $_product->getData('cf_2') != "") {
                            $explode2 = explode(":", $_product->getData('cf_2'));
                            //$explode2 = explode(":", '30 Y-klepels');
                            $uspString .= '<li class="usp-li-class">' . $explode2[0] . "<strong>" . (count($explode2) > 1 ? ":" . $explode2[1] : '') . "</strong></li>";
                        }

                        if (!is_null($_product->getData('cf_3')) || $_product->getData('cf_3') != "") {
                            $explode3 = explode(":", $_product->getData('cf_3'));
                            //$explode3 = explode(":", 'Achtermaaier');
                            $uspString .= '<li class="usp-li-class">' . $explode3[0] . "<strong>" . (count($explode3) > 1 ? ":" . $explode3[1] : '') . "</strong></li>";
                        }

                        $uspString .= "</ul>";

                        $reviewSummary = $block->getReviewsSummaryHtml($_product, $templateType);
                        ?>



                    </div>
                    <!-- PRODUCT IMAGE END -->

                    <?php $discounted = false; ?>
                    <?php if ($_product->getSpecialPrice() != null): ?>
                        <?php $discounted = true; ?>
                        <div class="discount-price-tag"></div>
                    <?php endif; ?>

                    <div class="main-cont">

                        <?php if ($reviewSummary != ""): ?>
                            <div class="ratings-container">
                                <?= $reviewSummary ?>
                            </div>
                        <?php endif; ?>

                        <!-- showing the unique selling points -->
                        <?php echo $uspString; ?>

                        <div class="price-cart-main-container-list">
                            <div class="price-container-list">
                                <?php if ($_product->getIsSalable() || !$_product->getIsSalable()): ?>
                                    <!-- PRICE -->
                                    <div class="home_price_cart_group_fixed_height" <?php echo $mode == 'info' ? 'style="display:none;"' : ''; ?> >
                                        <div class="home_price_group">
                                            <div class="home_price"><?php /* @escapeNotVerified */ echo $block->getProductPrice($_product); ?></div>
                                        </div>
                                    </div>
                                    <!-- PRICE END -->
                                <?php endif; ?>
                                <!-- STOCK -->
                                <div <?php echo $mode == 'info' ? 'style="display:none!important;"' : ''; ?> class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                                    <!-- IN STOCK -->
                                    <?php if ($isInStock): ?>
                                        <?php if ($isInStock && $_product->isSaleable()): ?>
                                            <div class="home_in_stock"><?php /* @escapeNotVerified */ echo __('In stock') ?></div>
                                        <?php endif; ?>
                                    <?php else: ?>
                                        <!-- out of stock -->
                                        <div class="home_out_stock"><?php /* @escapeNotVerified */ echo __('Out of Stock') ?></div>
                                    <?php endif; ?>
                                    <!-------------->
                                </div>
                                <!-- STOCK END -->
                            </div>
                            <?php if ($isInStock && $_product->isSaleable()): ?>
                                <div class="cart-container-list">
                                    <!-- ADD TO CART BUTTON -->
                                    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                    <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                        <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                        <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                        <?php /* @escapeNotVerified */ echo $block->getBlockHtml('formkey') ?>

                                        <?php if ($mode == "info"): ?>
                                            <button type="submit"
                                                    style="display:none;"
                                                    title="<?php /* @escapeNotVerified */ echo $block->escapeHtml(__('Add to cart')); ?>"
                                                    class="action primary tocart home_cart_button">
                                            </button>
                                        <?php else: ?>
                                            <button type="submit"
                                                    title="<?php /* @escapeNotVerified */ echo $block->escapeHtml(__('Add to cart')); ?>"
                                                    class="action primary tocart home_cart_button">
                                            </button>
                                        <?php endif; ?>
                                    </form>
                                    <!-- ADD TO CART BUTTON ENDS -->
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
                <?php echo($iterator == count($_productCollection) + 1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>
    <?php echo $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <div class="toolbar-bottom">
            <div class="toolbar bottom">
                <?php echo $block->getPagerHtml(); ?>
            </div>
        </div>
        <script type="text/x-magento-init">
            {
            "[data-role=tocart-form], .form.map.checkout": {
            "catalogAddToCart": {}
            }
            }
        </script>
    <?php endif; ?>
<?php endif; ?>