<?php
    $titles = explode("|", $block->getLayout()->getBlock('page.main.title')->getPageTitle());
?>
<div class="mr-page-title">
    <span itemprop="name"><?php /* @escapeNotVerified */ echo __($titles[0]) ?></span>
</div>