<?php
$titles = explode("|", $block->getLayout()->getBlock('page.main.title')->getPageTitle());
?>
<div class="mr-page-title">
     <h1 class="h1-default"><?php /* @escapeNotVerified */ echo __(strtoupper($titles[0])) ?></h1>
</div>