<!-- ko if: isCalculated() -->
<tr class="grand-total excl">
    <th class="grand-total" colspan="1" scope="row"data-bind="i18n: 'Total Amount'"></th>
    <td class="amount">
        <span class="price" data-bind="text: getShippingAmount()"></span>
    </td>
</tr>
<!-- /ko -->
