<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<tr class="totals sub">
    <th class="sub-totals" colspan="1" scope="row" data-bind="i18n: title"></th>
    <td class="amount" data-th="Subtotal">
        <span class="price" data-bind="text: getValue()"></span>
    </td>
</tr>
