<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="amount price-container" style="display:table">
    <!-- ko if: displaySubtotal() -->
        <!-- ko if: display_cart_subtotal_excl_tax -->   
        		
            <span class="tax-item">
                <div class="subtotal subtotal-bold">
                    <span class="label minicart-label">
                        <span data-bind="i18n: 'Cart Subtotal'"></span>
                    </span>
    
                    <div class="amount price-container minicart-label">
                        <span class="price-wrapper minicart-price minicart-label subtotal-bold" data-bind="html: cart().subtotal_excl_tax"></span>
                    </div>
                </div>
            </span>
            
            <span class="tax-item">
                <div class="subtotal">
                    <span class="label minicart-label">
                        <span data-bind="i18n: 'Tax'"></span>
                    </span>
                
                    <div class="amount price-container minicart-label">
                        <span class="price-wrapper minicart-price minicart-label" data-bind="html: cart().tax"></span>
                    </div>
                </div>
            </span>
        
            <span class="tax-item">        
                <div class="subtotal subtotal-bold">
                    <span class="label minicart-label">
                        <span data-bind="i18n: 'Grand Total'"></span>
                    </span>
                
                    <div class="amount price-container minicart-label">
                        <span class="price-wrapper minicart-price subtotal-bold minicart-label" data-bind="html: cart().grand_total"></span>
                    </div>
                </div>
            </span>
            
        <!-- /ko -->

        <!-- ko if: !display_cart_subtotal_excl_tax && display_cart_subtotal_incl_tax -->
        
        	<span class="tax-item">
                <div class="subtotal subtotal-bold">
                    <span class="label minicart-label">
                        <span data-bind="i18n: 'Cart Subtotal'"></span>
                    </span>
    
                    <div class="amount price-container minicart-label">
                        <span class="price-wrapper minicart-price minicart-label subtotal-bold" data-bind="html: cart().subtotal_excl_tax"></span>
                    </div>
                </div>
            </span>
                
            <span class="tax-item">
                <div class="subtotal">
                    <span class="label minicart-label">
                        <span data-bind="i18n: 'Tax'"></span>
                    </span>
                
                    <div class="amount price-container minicart-label">
                        <span class="price-wrapper minicart-price minicart-label" data-bind="html: cart().tax"></span>
                    </div>
                </div>
            </span>
        
            <span class="tax-item">        
                <div class="subtotal subtotal-bold">
                    <span class="label minicart-label">
                        <span data-bind="i18n: 'Grand Total'"></span>
                    </span>
                
                    <div class="amount price-container minicart-label">
                        <span class="price-wrapper minicart-price subtotal-bold minicart-label" data-bind="html: cart().grand_total"></span>
                    </div>
                </div>
            </span>

        <!-- /ko -->

        <!-- ko if: !display_cart_subtotal_excl_tax && !display_cart_subtotal_incl_tax -->
            <span class="price-wrapper price-including-tax"
                  data-bind="attr: { 'data-label': $t('Incl. Tax') }, html: cart().subtotal_incl_tax">
            </span>

            <span class="price-wrapper price-excluding-tax"
                  data-bind="attr: { 'data-label': $t('Excl. Tax') }, html: cart().subtotal_excl_tax">
            </span>
        <!-- /ko -->
    <!-- /ko -->
    <!-- ko ifnot: displaySubtotal() -->
        <!-- ko foreach: getRegion('minicart-subtotal-hidden') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    <!-- /ko -->
</div>
