<?php
$sessionManager = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\Session\SessionManagerInterface');

// start using the session which is set in
// Magento_Catalog::product/view/product_selling_points.phtml
$sessionManager->start();

$sku = "";
$name = "";

// get the sku from session if set and clear the session var
if (!is_null($sessionManager->getCustomerServiceSku())) {
    $sku = $sessionManager->getCustomerServiceSku();
    $sessionManager->unsCustomerServiceSku();
}

// get the product name from the session and clear the session var
if (!is_null($sessionManager->getCustomerServiceName())) {
    $name = $sessionManager->getCustomerServiceName();
    $sessionManager->unsCustomerServiceName();
}

?>

<form class="form contact"
      action="<?php /* @escapeNotVerified */ echo $block->getFormAction(); ?>"
      id="contact-form"
      method="post"
      data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
        <div class="contact-us-title"><h5><?php /* @escapeNotVerified */ echo __('Jot us a note and we’ll get back to you as quickly as possible.') ?></h5></div>

        <div class="field name required">
            <label class="label" for="name"><span><?php /* @escapeNotVerified */ echo __('Name') ?></span></label>
            <div class="control">
                <input name="name" id="name" title="<?php /* @escapeNotVerified */ echo __('Name') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>

        <div class="field email required">
            <label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
            <div class="control">
                <input name="email" id="email" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
            </div>
        </div>

        <div class="field telephone">
            <label class="label" for="telephone"><span><?php /* @escapeNotVerified */ echo __('Phone Number') ?></span></label>
            <div class="control">
                <input name="telephone" id="telephone" title="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('telephone') ) ?>" class="input-text" type="text" />
            </div>
        </div>

        <div class="field select">
            <label class="label" for="type_of_question"><span><?php /* @escapeNotVerified */ echo __('Type of Question') ?></span></label>
            <div class="control">
                <select name="type_of_question" id="type_of_question" title="<?php /* @escapeNotVerified */ echo __('Type of Question') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('type_of_question')) ?>" class="input-select" >
                    <option value="Productvraag">Productvraag</option>
                    <option value="Product retour">Product retour</option>
                    <option value="Orderstatus">Orderstatus</option>
                    <option value="Verkoop">Verkoop</option>
                    <option value="Klacht">Klacht</option>
                    <option value="Suggestie">Suggestie</option>
                    <option value="Overige">Overige</option>
                </select> 
            </div>
        </div>

        <div class="field name">
            <label class="label" for="sku"><span><?php /* @escapeNotVerified */ echo __('Artikelnummer') ?></span></label>
            <div class="control">
                <input name="sku" id="sku" title="<?php /* @escapeNotVerified */ echo __('Artikelnummer') ?>" value="<?= $sku; ?>" class="input-text" type="text" />
            </div>
        </div>

        <div class="field name">
            <label class="label" for="subject"><span><?php /* @escapeNotVerified */ echo __('Subject') ?></span></label>
            <div class="control">
                <input name="subject" id="subject" title="<?php /* @escapeNotVerified */ echo __('Subject') ?>" value="<?= $name; ?>" class="input-text" type="text" />
            </div>
        </div>

        <div class="field comment required">
            <label class="label" for="comment"><span><?php /* @escapeNotVerified */ echo __('What’s on your mind?') ?></span></label>
            <div class="control">
                <textarea name="comment" id="comment" title="<?php /* @escapeNotVerified */ echo __('What’s on your mind?') ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"><?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('comment')) ?></textarea>
            </div>
        </div>

        <?php echo $block->getChildHtml('form.additional.info'); ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <input type="hidden" name="hideit" id="hideit" value="" />
            <button type="submit" title="<?php /* @escapeNotVerified */ echo __('Submit') ?>" class="action submit primary">
                <span><?php /* @escapeNotVerified */ echo __('Submit') ?></span>
            </button>
        </div>
    </div>
</form>