.checkout-index-index,
.checkout-cart-index {

    button.action.primary.checkout {
        background-image: none!important;
        background:@common-green;
        color: @white;
        width: 100%;
        border: none!important;
        height: 48px;
        box-shadow: inset 0 -2px 0 0 #090;
        transition: .3s;

        &:hover{
            background: @dark-green;
        }

        &:active{
            background: @dark-green;
        }

        &:visited{
            background: @dark-green;
        }
    }

    .cart-title {
        font-size: 16px;
        font-weight: 600;
        padding: 10px 10px 5px 0;
    }

    .nav-toggle {
        display:block !important;
    }

    #tooltip-label {
        display: none;
    }

    .osc-place-order-block {
        border: none;
        padding: 10px !important;
        margin-bottom: 20px;
    }

    .cart.main.actions {
        display: none;
    }

    .qty-wrapper {
        display: flex;
    }

    a.action.action-delete {
        background: none !important;
        border: none !important;
    }

    td.col.price {
        display: none !important;
    }

    td.col.subtotal.sub-no-right-padding {
        float: right !important;
        text-align: right !important;
    }

    td.col.qty, td.col.subtotal.sub-no-right-padding {
        width: 50% !important;
    }

    th.item {
        display: none;
    }

    dl.items.methods {
        border-radius: 5px;
    }

    dd.item-options:not(:last-child) {
        border-bottom: 1px solid lightgray;
    }

    dd.item-options{
        height: 10px;
    }

    .page-footer {
        color: white;
        margin-top: 0;
        background: white;
    }

    a.footer-item {
        color: white;
        padding: 10px;
        border-color: white;
        background-color: @base-color;
        display: block;
        float: left;
        width: 100%;
        border-top-style: solid;
        border-top-width: 1px;
        box-sizing: border-box;
    }

    li.footer-item > a{
        color: white;
        font-size: 14px;
    }

    li.footer-item > a:after {
        content: "\f054";
        font-family: fontawesome;
        float: right;
    }

    .menu-footer {
        height: 100%;
        width: 100%;
        display: inline-flex;
        background: @base-color;
    }


    .footer.content {
        padding-left: 0;
        padding-right: 0;
    }

    img.footer-logo {
        margin-left: auto;
        margin-right: auto;
        width: 132px;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .terms {
        color: @base-color;
        text-align: center;
    }

    a.term-item:hover,
        a.term-item:active,
        a.term-item:visited
        {
        color: @base-color;
    }

    a.term-item:not(:last-child):after {
        content: '|';
    }

    .copyrights {
        border-top: 1px lightgray solid;
        color: @dark;
        font-size: 12px;
        margin-top: 15px;
    }

    .block-search{
        width: 100%;
        height: 40px;
        background: #eee;
        margin-top: 0!important;
        padding-left: 5px;
        padding-right: 5px;
    }

    .block.block-content {
        height: 40px;
        width: 100%;
    }

    .block-search input {
        margin: 0!important;
        height: 30px;
        border: none!important;
        position: relative!important;
        left: 0;
    }

    .block-search .control{
        border: none!important;
        display: flex;
        float: left;
        width: 100%;
    }

    .page-header {
        -webkit-box-shadow: 0 10px 10px #c2c2c2;
        -moz-box-shadow: 0 10px 10px #c2c2c2;
        box-shadow: 0 5px 10px #c2c2c2;
        border-bottom: 1px solid #c2c2c2;
        margin-bottom: 20px;
        background: #eee;
        height: 60px;
        position: fixed;
        width: 100%;
        z-index: 99999;
        top: 0;
    }

    .minicart-wrapper {
        display: block;
        float: left;
        margin-top: -45px !important;
        cursor: pointer;
        position: relative;
    }

    .cart-container{
        margin-left: 15px;
        margin-right: 15px;
    }

    /****************************** CHECKOUT PAGE *******************************/
    .step-title{
        background-color: white;
        padding-left: 5px;
        font-weight: 600 !important;
        font-size: 16px !important;
        color: black!important;
        border-bottom: 2px solid #f6f6f6 !important;
        padding-bottom: 5px !important;
        padding-top: 10px;
        letter-spacing: -0.5px;
    }

    .step-title .fa{
        display: none;
    }

    input[type="text"], 
    input[type="password"], 
    input[type="url"], 
    input[type="tel"], 
    input[type="search"], 
    input[type="number"], 
    input[type="datetime"], 
    input[type="email"],
    select
    {
        border: 1px solid @light-gray;
    }

    .form-shipping-address{
        margin: 15px 0px 15px;
    }

    .opc-block-summary .items-in-cart > .title{
        display: none;
    }

    #checkout-review-table > thead {
        display: none;
    }

    .qty-subtotal {
        width: 100%;
        display: block;
        height: 45px;
        margin-bottom: 10px;
    }

    td.a-left.product {
        padding-bottom: 5px!important;
    }

    .a-center.details-qty{
        float: left;
        display: block;
    }

    .a-center.subtotal{
        float: right;
        line-height: 50px;
        display: block;
    }

    span.remove.remove-checkout-item:after {
        content: '\f1f8';
        font-family: fontAwesome;
        color: @light-gray;
        font-size: large;
        padding-right: 20px;
    }

    .product-item-name-block{
        padding-right: 20px!important;
    }

    .product-item-name {
        font-weight: 600!important;
        max-width: 100%;
        max-height: 60px;
        overflow: hidden;
    }

    .a-center.last.button-remove {
        display: block;
        width: 10px;
        float: right;
        margin-top: -3px!important;
    }

    .a-center.subtotal {
        float: right;
        right: -19px;
        position: relative;
    }

    #checkout-review-table{
        border: none !important;
    }

    .items-in-cart {
        border-bottom: none;
        padding-bottom: 20px;
    }

    .checkout-payment-method .payment-method-title{
        padding: 8.5px!important;
    }

    .field-select-billing {
        padding-bottom: 10px;
    }

    .payment-option-inner {
        margin-top: 10px !important;
        margin-bottom: 5px!important;
    } 

    td.amount {
        width: 90px!important;
    }

    th.sub-total,
    th.grand-total,
    th.shipping-total,
    th.tax-total,
    th.sub-totals 
    {
        text-align: right;
    }

    th.sub-total:after,
        th.grand-total:after,
        th.shipping-total:after,
        th.tax-total:after,
        th.sub-totals:after
        {
        content: " :"; 
    }

    .grand-total > .amount > .price {
        font-size: 12px;
    }

    .totals > .amount > .price {
        font-size: 16px!important;
        float: right;
    }

    .grand > .amount > strong > .price {
        font-weight: bold !important;
        font-size: 16px !important;
    }

    tr.grand.totals {
        font-size: large;
    }

    .opc-block-summary .table-totals tbody .amount, .opc-block-summary .table-totals tfoot .amount {
        width: 100px!important;
        padding-right: 0!important;
    }

    .order-summary .opc-block-summary table.data.table.table-totals {
        border-bottom:none!important;
    }

    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
        padding: 0!important;
        vertical-align: bottom!important;
    }

    .table-checkout-shipping-method tbody td{
        padding: 5px 0!important;
        border: none!important;
    }

    td.col.col-price{
        text-align: right;
    }

    .row > .col-price > .price > .price {
        font-weight: bold!important;
    }

    .checkout-agreement.required {
        display: flex;
    }

    td.col.qty {
        margin-left: 112px;
        // margin-top: -15px !important;
        margin-bottom: 10px;
    }

    td.col.subtotal.sub-no-right-padding > .price-excluding-tax {
        display: none;
    }

    .action-delete > .price-excluding-tax{
        margin-top: 35px !important;
    }

    .paypal-review-discount .block > .title, .cart-summary .block > .title{
        border: none!important;
        padding: 15px 30px 7px 0 !important;
    }

    div.cart-summary > button.action.primary.checkout{
        display: none;
    }

    .desktop-only{
        display: none!important;
    }

    .row-mp{
        margin: 0!important;
    }


    .onestepcheckout-index-index .field.choice.col-mp {
        margin-bottom: 5px!important;
        margin-left: 5px;
        margin-right: 5px;
    }

    .payment-method-title > label.label {
        top: 0;
    }

    .create-account-block {
        margin-top: 5px !important;
    }

    form#search_mini_form {
        padding-top: 5px;
    }

    .cart-title {
        font-size: 16px;
        font-weight: 600;
        padding: 10px 10px 5px 0;
    }

    strong#block-shipping-heading {
        font-size: 16px !important;
        font-weight: 600;
        letter-spacing: -0.5px;
    }

    .title:after {
        content: none!important;
    }

    form#discount-form {
        max-width: 100%;
    }

    input#agreement__1 {
        height: 21px;
        width: 33px;
    }

    .cart-totals {
        border-top: 1px solid @light-gray;
        margin-top: 0!important;
        padding-top: 3px;
        padding-bottom: 5px;
    }

    ul#menu-klantenservice {
        margin: 10px;
        width: 100%;
        display: grid;

        li:not(:last-child) {
            border-bottom: 1px solid white;
        }

        a {
            color: white;
            padding: 8px;
            width: 100%;
            display: block;

            &:not(:last-child){
                border-bottom: 1px solid white;
            }
        }
    }

    .product-image-wrapper{
        top: 0;
    }

    .shipping-method-value {
        float:right;
    }

    .cart-summary .block .fieldset {
        margin: 15px 0;
    }

    div.choice {
        width: 100%;
    }

    .shipping-method-code {
        position: absolute;
        top: 16px;
        left: 34px;
        width: 80%;
    }

    .item-title {
        margin: 8px 0 0 8px;
        position: relative;
        height: 0px !important;
    }

    .item-options {
        position: relative;
        height: 40px !important;
    }

    .item-title-text {
        margin-left: 24px;
        margin-top: 20px;
    }

    .multi_line {
        position: absolute !important;
        top: 4px !important;
    }

    .subtotal-top {
        font-size: medium;
        font-weight: bold;
        text-align: right;
        padding-bottom: 30px;
    }

    span.price-top {
        width: 100px;
        display: block;
        float: right;
    }

    .shipping-method-value-multi {
        float: right;
        font-size: 14px;
        margin-top: -10px;
    }

    div.cart-totals-top div.table-wrapper table.data.table.totals tbody:nth-child(2) > tr.totals.shipping.excl:nth-child(2),
        div.cart-totals-top div.table-wrapper table.data.table.totals tbody:nth-child(2) > tr.tax-total:nth-child(3),
        div.cart-totals-top div.table-wrapper table.data.table.totals tbody:nth-child(2) > tr.grand.totals:nth-child(4),
        div.cart-totals-top div.table-wrapper table.data.table.totals tbody:nth-child(2) > tr.grand.totals:nth-child(3)
        {
        display: none;
    }

    dt{
        margin-bottom: 0;
    }

    dd{
        margin-bottom: 0;
    }

    .cart.table-wrapper .product-item-photo{
        display: flex!important;
        max-width: 75px!important;
        top: 0;
        left: 10px;
        position: relative;
        padding: 0;
        width: 100%;
    }

    .cart.table-wrapper{
        box-sizing: border-box;
        margin-bottom: 0 !important;
        width: 100%;
        position: relative;
        overflow: inherit;
    }

    .grand-total > strong {
        font-size: 16px !important;
        font-weight: 600;
    }

    th.tax-total,
    th.shipping-total,
    th.sub-totals{
        font-size: 12px;
        font-weight: 600;
    }

    .price {
        font-size: 12px !important;
        font-weight: 600 !important;
    }

    .shipping > .amount > .price{
        font-size: 12px !important;
        font-weight: 600;
    }

    .cart-price > .price {
        font-size: 14px !important;
    }

    strong.product-item-name > span {
        font-size: 12px;
        font-weight: 600;
        display: block;
        line-height: 13px;
        margin: 0 0 12px!important;
        max-height: 60px;
        display: block;
        overflow: hidden;
    }

    .label{
        font-size: 12px!important;
    }

    .step-content {
        margin: 0;
        padding: 0;
    }

    div.product-item-inner div.product-item-name-block a:nth-child(1) > strong.product-item-name {
        font-size: 12px !important;
        font-weight: 600;
        color: black;
    }

    .qty-wrapper .qty-wrap .input-text.update {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        position: absolute;
        left: 0;
        border: 1px solid @light-gray;
    }

    .one-step-checkout-wrapper .minicart-items-wrapper .product-item-detail {
        display: block;
        width: 100%;
        margin-left: 5px;
    }

    .order-summary .opc-block-summary .product-item .subtotal {
        display: table-cell;
        font-weight: 600!important;
    }

    th.sub-total {
        font-size: 12px;
        font-weight: 600;
    }

    th.grand-total {
        font-size: 16px;
        font-weight: 600;
    }

    body:nth-child(2) tr.grand-total.excl:nth-child(4) td.amount > span.price {
        font-size: 18px !important;
        font-weight: bold !important;
    }

    button.action.action-show {
        font-size: 12px;
        width: 100%!important;
        margin-top: 10px;
    }

    .checkout-agreements-block {
        margin-top: 20px;
    }

    button.action.action-apply,
    button.action.action-apply:active,
        button.action.action-apply:focus,
        button.action.action-apply:hover,
        button.action.action-apply:visited{
        background: @base-color;
        color: white;
        font-size: 12px;
        border: none;
    }

    .checkout-payment-method .payment-option-title .action-toggle:after{
        content: none!important;
    }

    span#block-discount-heading {
        font-size: 16px;
        color: black;
        font-weight: 600;
        width: 100%;
    }

    .onestepcheckout-index-index .field.choice{
        padding-left: 0!important;
    }

    .desktop-only{
        display: none;
    }

    .onestepcheckout-index-index{
        .product-image-container{
            .product-image-wrapper{
                max-width: 85px;
                height: auto;
                padding: 0 10 !important;

                img{
                    width: 85px;
                    height: auto;
                }
            }
        }
    }

    .cart.table-wrapper .items > .item{
        border-bottom: 1px solid @extra-light-gray;
        position: relative;
    }

    .cart.table-wrapper .item .col.item {
        display: block;
        min-height: 35px;
        position: relative;
        padding-top: 5px!important;
        pointer-events: none;
    }

    .product-item-name {
        pointer-events: none;
        white-space: normal;
        box-sizing: border-box;
        hyphens: auto;
        word-wrap: break-word;
        font-weight: 600 !important;
        margin: 5px 0 !important;
        max-width: 100%;
        max-height: 60px;
        overflow: hidden;
        display: inline-block;
    }

    strong.product-item-name>span {
        font-size: 12px;
        font-weight: 600;
        line-height: 13px;
        margin: 0 0 12px !important;
        max-height: 60px;
        display: block;
        overflow: hidden;
    }

    .product-item-details {
        margin-left: 105px;
        margin-top: -80px;
        display: block;
        pointer-events: none;
        overflow: hidden;
    }

    strong.cart-in-stock {
        color: @dark-green;
        font-size: 10px;
        font-weight: bold;
        padding-left: 10px;
        position: relative;
        z-index: 9999;
    }

    strong.cart-in-stock:before {
        content: '\f058';
        font-family: fontAwesome;
        padding-right: 2px;
    }

    .cart-container .checkout-methods-items .action.primary {
        padding: 0;
        height: 48px;
        width:100%;
        box-shadow: inset 0 -3px 0 0 #090;
    }

    .nav-toggle {
        display:block !important;
    }

    .cart-desktop-only{
        display:none;
    }

    .cart-price-label,
    .cart-qty,
    .cart-subtotal {
        display: none!important;
    }

    .action.primary, .mr-tocart{
        width: 100%;
    }
    .osc-authentication-wrapper{
        display: none;
    }

    .one-step-checkout-wrapper {
        width: 100% !important;
        margin-top: 0!important;
        padding: 0 !important;
    }

    span.checkout-item-minus,
    a.minus.checkout-item-minus,
    span.minus-pro-page,
    .minus-cart {
        display: block!important;
        width: 40px!important;
        height: 45px!important;
        float: left!important;
        color: @black!important;
        border: 1px solid @light-gray;
        border-radius: 5px 0 0 5px;
        border-right: none;
        line-height: 38px;
        font-size: x-large;
        cursor: pointer;
        text-align: center;
    }

    span.checkout-item-plus,
    a.plus.checkout-item-plus,
    span.plus-pro-page,
    .plus-cart {
        display: block!important;
        width: 40px!important;
        height: 45px!important;
        float: right;
        border: 1px solid @light-gray;
        color: @black!important;
        border-radius: 5px 0 0 5px;
        border-radius: 0 5px 5px 0;
        border-left: none;
        line-height: 45px;
        font-size: x-large;
        margin-left: 0!important;
        cursor: pointer;
        text-align: center;
    }

    .item_qty,
    .cart.table-wrapper .col.qty .input-text {
        width: 40px;
        height: 35px;
        padding: 0;
        margin: 0;
        border: 1px solid @light-gray;
        text-align: center;
    }

    .modal-footer{
        display: inline-flex;

        .agreement-back {
            display: block;
            float: left;
            text-align: left;
            font-size: 12px;
            color: white;
            background: @base-color;
            border-radius: 3px;
            margin-left: 10px;

            &:before{
                content: '\f060';
                color: white;
                font-family: fontAwesome;
                font-size: large;
                text-align: center;
                width: 100%;
                display: block;
                line-height: 30px;
            }
        }

        .agreement-accept {
            background-image: none;
            background: @common-green;
            color: @white;
            cursor: pointer;
            display: inline-block;
            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 700;
            padding: 7px 15px;
            font-size: 1.4rem;
            box-sizing: border-box;
            vertical-align: middle;
            max-width: 100px;
        }
    }

    .modal-popup.modal-slide._show .modal-inner-wrap{
        height: 100% !important;
    }

    div#checkout-agreements-modal {
        margin-top: 100px;
    }

    .minicart-items .product .toggle{
        display: none;
    }

    .opc-block-summary .items-in-cart .product{
        .content{
            display: none;
        }
    }

    .item_qty,
    .cart.table-wrapper .col.qty .input-text {
        width: 35px;
        height: 45px;
        padding: 0;
        margin: 0;
        border: 1px solid @light-gray;
        text-align: center;
    }

    tr.shipping-total > .grand-sub-totals > .label, tr.shipping-total > .grand-sub-totals > .value {
        font-weight: normal !important;
    }

    .error-house-number {
        color: red;
        font-size: small;
    }


    div[name="shippingAddress.telephone"],
    div[name="billingAddress.telephone"] {
        /** width: auto !important;*/
    }

    .select_country_code {
        padding-top: 13px !important;
    }

    .form-create-account > .actions-toolbar {
        padding: 10px 0;
    }

    .hide-vat-valid{
        display: none!important;
    }

    .show-vat-valid{
        display: inline-block !important;
    }

    .vat_validate{
        background: @light-orange!important;
        border: none!important;
    }

    .vat_valid{
        background: @common-green !important;
        border: none!important;
    }

    .checkout-agreement > label > button.action-show {
        width: 94%;
        text-align: left;
        padding-left: 10px;
    }

    .opc-block-summary {
        padding: 0!important;
    }

    .products{
        .product-items{
            .related-item{

            }
        }
    }

    .products-crosssell {
        .product-items{
            .related-item{
                display: block;
                width: 100%;

                .main-cont{
                    margin-left: 0;
                    padding-top: 10px;

                    .catalog-normal-price-main {
                        order: -1;
                    }

                    .price-wrapper.price-including-tax {
                        order: 1;
                        padding-top: 3px;

                        span {
                            font-size: 12px!important;
                            color: @light-gray!important;
                            font-weight: 600 !important;
                            line-height: 17px;
                        }

                        span:before{
                            content: '( ';
                        }

                        span:after{
                            content: ' Incl.BTW )';
                        }
                    }

                    span.catalog-product-name{
                        padding-top: 17px;
                        display: block;
                        max-width: 80%;
                    }

                    .price-container-list {
                        float: left;
                        width: 50%;
                        padding-left: 5px;
                    }

                    .cart-container-list {
                        float: right;
                        padding-top: 10px;
                        padding-right: 5px;
                    }

                    button.action.primary.tocart.home_cart_button {
                        width: 100px;
                        height: 40px;

                        &:after {
                            content: '\f07a';
                            color: white;
                            font-family: fontAwesome;
                            font-size: x-large;
                            line-height: 25px;
                        }
                    }

                    .main-cont {
                        height: 53px;
                        margin-left: 20px;
                        padding-top: 10px;
                    }

                    .catalog-special-price-main{
                        .catalog-special-price-cont{
                            max-height: 19px;

                            .catalog-old-price{
                                font-size: 17px;
                                text-decoration: line-through;
                                color: @light-gray;
                                font-weight: normal;
                                font-style: italic;
                            }

                            .catalog-special-price{
                                font-size: 19px;
                                color: black;
                                font-weight: 600;
                                padding-left: 5px;
                            }
                        }

                        .catalog-price-incl-tax{
                            font-size: 12px;
                            color: black;
                            font-weight: 600;
                            color: @light-gray;
                        }
                    }

                    .catalog-normal-price-main{
                        .catalog-normal-price-cont{
                            max-height: 19px;

                            .catalog-normal-price{
                                font-size: 19px;
                                color: black;
                                font-weight: 600;
                            }
                        }

                        .catalog-price-incl-tax{
                            font-size: 12px;
                            color: black;
                            font-weight: 600;
                            color: @light-gray;
                        }
                    }

                    .discount-price-tag-product {
                        position: relative;
                        top: -35px;
                        right: -35px;
                        z-index: 2;

                        &:after{
                            content: 'aanbiedings!';
                            text-transform: uppercase;
                            position: absolute;
                            background: @light-orange;
                            color: white;
                            width: 300px;
                            text-align: center;
                            padding: 0.5em 0;
                            box-sizing: border-box;
                            transform: rotate(45deg) translate(30%, -25%);
                            transform-origin: 50% 50%;
                            right: 0;
                        }
                    }

                    .sq-image-catalog {
                        width: 100%;
                        max-height: 220px;
                        display: block;

                        a.product-item-photo-catalog {
                            width: 100%;
                            height: 100%;
                            display: block;

                            span.product-image-wrapper-catalog {
                                width: 100%;
                                height: 100%;
                                display: block;
                                text-align: center;

                                img.product-image-photo-catalog {
                                    max-width: 240px;
                                    height: 220px;
                                    margin-left: auto;
                                    margin: auto;
                                }
                            }
                        }
                    }

                    .product-item-link {
                        color: black!important;
                        font-size: 16px;
                        text-decoration: none;
                        font-weight: 600 !important;
                        overflow: hidden;
                        display: inherit;
                    }
                }

                .related-product-item-info {
                    .product-item-details {

                        .product-item-name{
                            a {
                                text-align: left;
                                color: @base-color;
                                font-size: 17px !important;
                                text-decoration: none !important;
                                font-weight: 700 !important;
                                line-height: 18px;
                                overflow: hidden;
                                display: inherit;
                                height: 40px !important;
                            }

                        }

                        .main-cont{
                            margin-left: 0;
                            padding-top: 10px;

                            .price-cart-main-container-list{
                                float: left;

                                .price-container-list{
                                    .home_price_cart_group_fixed_height{
                                        .home_price_group{
                                            float: left;

                                            .home_price{
                                                .price-box {
                                                    .price-container {
                                                        .catalog-normal-price-main {
                                                            text-align: left;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .home_in_stock {
                                        background-image: none!important;
                                        width: 80%;
                                        float: left;
                                        color: @dark-green;
                                        font-weight: bold;
                                        padding-left: 0!important;
                                        text-align: left;
                                    }

                                    .home_out_stock {
                                        background-image: none!important;
                                        width: 100%;
                                        float: left;
                                        color: red;
                                        font-weight: bold;
                                        padding-left: 0!important;
                                        text-align: left;
                                    }

                                    .home_in_stock:before {
                                        content: '\f058';
                                        font-family: FontAwesome;
                                        margin-right: 3px;
                                    }

                                    .home_out_stock:before {
                                        content: '\f058';
                                        font-family: FontAwesome;
                                        margin-right: 3px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}