.catalog-search-noresult
{
    .contact-us-middle-col > .contact > .actions-toolbar {
        padding-left: 0;
        order: 1;
        margin-bottom: 10px;
    }
}

.catalog-category-view,
.catalog-product-view,
.catalogsearch-result-index
{
    .products-wrapper.grid.products-grid {
        padding-bottom: 40px;
    }

    .product-items{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li.item.product.product-item:not(:last-child) {
        border-bottom: 1px solid lightgray;
    }

    li.item.product.product-item {
        margin-left: -20px;
        margin-right: -20px;
        padding-bottom: 20px;
        display: grid;
    }

    .column.main .product-item {
        position: relative;
    }

    .page-products .product-item-info {
        max-width: 100%;
        width: 100% !important;
        padding-left: 20px;
        padding-right: 20px;
    }

    .page-title-product-page{
        span{
            font-size: 16px;
            font-weight: 600;
        }
    }

    .product-item-info, .product-image-container {
        width: 100%;
        height: 100% !important;
        float: none;
    }

    .home_price_cart_group{
        display: flex;
        justify-content: space-between;
    }
    
    span.catalog-product-name {
        padding-top: 17px;
        display: block;
        max-width: 80%;
    }

    .product-item-link {
        color: black!important;
        font-size: 16px;
        text-decoration: none;
        font-weight: 600;
        overflow: hidden;
        display: inherit;
    }

    .sq-image-catalog {
        width: 100%;
        max-height: 220px;
        display: block;

        a.product-item-photo-catalog {
            width: 100%;
            height: 100%;
            display: block;

            span.product-image-wrapper-catalog {
                width: 100%;
                height: 100%;
                display: block;
                text-align: center;

                img.product-image-photo-catalog {
                    max-width: 240px;
                    height: 220px;
                    margin-left: auto;
                    margin: auto;
                }
            }
        }
    }

    .product-item-link {
        color: black!important;
        font-size: 16px;
        text-decoration: none;
        font-weight: 600;
        overflow: hidden;
        display: inherit;
    }

    .discount-price-tag {
        width: 100%;
        background-image: url(../images/new-arrival-lable.png) !important;
        height: 100px;
        background-repeat: no-repeat;
        right: 0;
        top: 0;
        float: right;
        z-index: 500;
        background-position-x: right;
        position: absolute;
    }

    .discount-price-tag-slider {
        width: 100%;
        background-image: url(../images/new-arrival-lable.png) !important;
        height: 100px;
        background-repeat: no-repeat;
        right: 0;
        top: 0;
        float: right;
        z-index: 500;
        background-position-x: right;
        position: absolute;
    }

    .pages {
        .action.next {
            background: @base-color;
            margin-left: 12px;
            color: white;
            border-radius: 5px;
            border: none;
            width: 25px;
            height: 25px;
        }

        .action.previous{
            background: @base-color;
            margin-left: 12px;
            color: white;
            border-radius: 5px;
            border: none;
            width: 25px;
            height: 25px;
        }

        .action.next:before {
            font-size: 25px;
            line-height: 25px;
            content: '\f105';
            font-family: fontAwesome;
            text-align: center;
            display: block;
            color: white !important;
            margin: 0 0 0 2px;
        }

        .action.previous:before {
            font-size: 25px;
            line-height: 25px;
            content: '\f104';
            font-family: fontAwesome;
            text-align: center;
            display: block;
            color: white !important;
            margin: 0 0 0 2px;
        }

        li.item:not(:first-child){
            width: 22px;
            height: 22px;
            color: white;
            margin: 0 5px;

            .page{
                padding: 0;
                margin: 0;

                .label{
                    display: none!important;
                }

                span{
                    font-size: 14px;
                    color: black;
                    padding: 5px;
                    line-height: 22px;
                    max-height: 14px;
                    vertical-align: super;
                    display: inline;
                }
            }
        }

        li.item.current{
            background: @base-color;
            width: 22px;
            height: 22px;
            color: white;
            text-align: center; 

            .page{
                padding: 0;
                margin: 0;

                .label{
                    display: none!important;
                }

                span{
                    font-size: 14px;
                    color: white;
                    padding: 5px;
                    line-height: 22px;
                    max-height: 14px;
                    vertical-align: super;
                    display: inline;
                }
            }
        }
    } 

    .main-cont {
        height: 53px;
        margin-left: 20px;
        padding-top: 10px;
    }

    .catalog-special-price-main{
        .catalog-special-price-cont{
            max-height: 19px;

            .catalog-old-price{
                font-size: 17px;
                text-decoration: line-through;
                color: @light-gray;
                font-weight: normal;
                font-style: italic;
            }

            .catalog-special-price{
                font-size: 19px;
                color: black;
                font-weight: 600;
                padding-left: 5px;
            }
        }

        .catalog-price-incl-tax{
            font-size: 12px;
            color: black;
            font-weight: 600;
            color: @light-gray;
        }
    }

    .catalog-normal-price-main{
        .catalog-normal-price-cont{
            max-height: 19px;

            .catalog-normal-price{
                font-size: 19px;
                color: black;
                font-weight: 600;
            }
        }

        .catalog-price-incl-tax{
            font-size: 12px;
            color: black;
            font-weight: 600;
            color: @light-gray;
        }
    }

    .cataloglabel-fast-delivery {
        background-image: url(../images/fast-delivery.png) !important;
        background-color: @base-color;
        position: relative!important;
        height: 30px!important;
        background-size: contain!important;
        top: -30px !important;
        opacity: .8;
        -moz-opacity: .8;
        -webkit-opacity: .8;
        box-sizing: border-box;
        background-repeat: no-repeat;
        text-align: center;
        margin-left: -20px;
        margin-right: -20px;
        background-position: 5px;

        span {
            font-size: 12px;
            font-weight: normal;
            color: white;
            text-align: center;
            line-height: 30px;
        }
    }

    .home_in_stock {
        background-image: none!important;
        width: 80%;
        float: left;
        color: @dark-green;
        font-weight: bold;
        padding-left: 0!important;
        text-align: left;
    }

    .home_out_stock {
        background-image: none!important;
        width: 100%;
        float: left;
        color: red;
        font-weight: bold;
        padding-left: 0!important;
        text-align: left;
    }

    .home_in_stock:before {
        content: '\f058';
        font-family: FontAwesome;
        margin-right: 3px;
    }

    .home_out_stock:before {
        content: '\f058';
        font-family: FontAwesome;
        margin-right: 3px;
    }

    .more-info-button-text {
        float: left;
        width: 100%;
        clear: both;
        text-align: left;
    }

    .more-info-button-text:before {
        content: "\f054 ";
        font-family: FontAwesome;
        float: right;
        padding-top: 2px;
    }

    .category-description{
        margin-top: 20px;
        border: 1px solid white;
        max-height: 150px;
        position: relative;
        overflow: hidden;
        color: black;
    }

    .read-more { 
        position: relative; 
        bottom: 0; 
        left: 0;
        width: 100%; 
        text-align: center; 
        margin: 0; padding: 30px 0;
        display:block;
        margin-top:-70px;

        /* "transparent" only works here because == rgba(0,0,0,0) */
        background-image: linear-gradient(to bottom, transparent, white);
    }

    .read-more-button {
        background-image: none;
        background: @dark-green;
        border: 0;
        color: @white;
        cursor: pointer;
        display: inline-block;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 700;
        padding: 7px 10px;
        font-size: 1.4rem;
        box-sizing: border-box;
        vertical-align: middle;
        border-radius: 5;
        width:127px;
    }

    .read-more-button:hover {
        background: @dark-green !important;
        color:@white !important;
        border:none !important;
    }

    .read-more-button:visited,
        .read-more-button:active,
        .read-more-button:focus  {
        background: @common-green !important;
        color:@white !important;
        border:none !important;
    }

    div#toolbar-products {
        width: 100%;
        float: left;
        display: block;
        font-size: 12px;

        div#limiter-container {
            float: left !important;
            display: inline-grid;
            width: 50%;
            padding: 5px;
        }

        .toolbar-sorter.sorter {
            float: right;
            width: 50%;
            display: inline-grid;
        }
    }

    .filter-options-content{
        .items{
            .item{
                a{
                    font-size: 12px;
                }
            }
        }
    }

    .filter-container {
        display: grid;
        padding-bottom: 10px;

        .filter-tag{
            color: @base-color;
            border: 1px solid darkgray;
            border-radius: 20px;
            padding: 2px 10px 5px 10px;
            width: 70px;
            float: left;
            height: 25px;
        }

        span:before{
            content: '\f1de';
            font-family: fontAwesome;
            color: @base-color;
            padding-right: 5px;
        }
    }

    .limiter-options,
    .catalog-sorter-options{
        border: 1px @light-gray solid;
        width: 100%;
        border-radius: 3px;
        color: @light-gray !important;
        width: 100%;
        padding: 0 2px;
        margin: 0;
    }

    label.sorter-label {
        line-height: 25px;
        font-size: 12px;
        font-weight: normal;
    }

    .group-page-info-box {
        background-color: @menu-gray;
        color: @light-gray;
        padding: 10px;
        font-size: 15px;
        display: grid;
        margin-top: 20px;
    }

    .catalog-normal-price-main {
        order: -1;
    }

    .price-wrapper.price-including-tax {
        order: 1;
        padding-top: 3px;

        span {
            font-size: 12px!important;
            color: @light-gray!important;
            font-weight: 600 !important;
            line-height: 17px;
        }

        span:before{
            content: '( ';
        }

        span:after{
            content: ' Incl.BTW )';
        }
    }

    span.catalog-product-name{
        padding-top: 17px;
        display: block;
        max-width: 80%;
    }

    .price-container-list {
        float: left;
        height: 50px;
        width: 50%;
        padding-left: 5px;
    }

    .cart-container-list {
        height: 50px;
        float: right;
        padding-top: 10px;
        padding-right: 5px;
    }

    button.action.primary.tocart.home_cart_button {
        width: 100px;
        height: 40px;

        &:after {
            content: '\f07a';
            color: white;
            font-family: fontAwesome;
            font-size: x-large;
            line-height: 25px;
        }
    }

    .main-cont {
        height: 53px;
        margin-left: 20px;
        padding-top: 10px;
    }

    .catalog-special-price-main{
        .catalog-special-price-cont{
            max-height: 19px;

            .catalog-old-price{
                font-size: 17px;
                text-decoration: line-through;
                color: @light-gray;
                font-weight: normal;
                font-style: italic;
            }

            .catalog-special-price{
                font-size: 19px;
                color: black;
                font-weight: 600;
                padding-left: 5px;
            }
        }

        .catalog-price-incl-tax{
            font-size: 12px;
            color: black;
            font-weight: 600;
            color: @light-gray;
        }
    }

    .catalog-normal-price-main{
        .catalog-normal-price-cont{
            max-height: 19px;

            .catalog-normal-price{
                font-size: 19px;
                color: black;
                font-weight: 600;
            }
        }

        .catalog-price-incl-tax{
            font-size: 12px;
            color: black;
            font-weight: 600;
            color: @light-gray;
        }
    }

    .discount-price-tag-product {
        position: relative;
        top: -35px;
        right: -35px;
        z-index: 2;

        &:after{
            content: 'aanbiedings!';
            text-transform: uppercase;
            position: absolute;
            background: @light-orange;
            color: white;
            width: 300px;
            text-align: center;
            padding: 0.5em 0;
            box-sizing: border-box;
            transform: rotate(45deg) translate(30%, -25%);
            transform-origin: 50% 50%;
            right: 0;
        }
    }

    .sq-image-catalog {
        width: 100%;
        max-height: 220px;
        display: block;

        a.product-item-photo-catalog {
            width: 100%;
            height: 100%;
            display: block;

            span.product-image-wrapper-catalog {
                width: 100%;
                height: 100%;
                display: block;
                text-align: center;

                img.product-image-photo-catalog {
                    max-width: 240px;
                    height: 220px;
                    margin-left: auto;
                    margin: auto;
                }
            }
        }
    }

    .product-item-link {
        color: black!important;
        font-size: 16px;
        text-decoration: none;
        font-weight: 600 !important;
        overflow: hidden;
        display: inherit;
    }

    .usp-li-class{
        list-style-type: disc;
        line-height: 6px;
    } 

    ul.usp-ul {
        display: none;
    }

    ul.usp-ul:not(:empty) {
        display: block;
        margin-left: -20px;
        margin-top: 10px;
        color: @light-gray;
    }

    .product-item-info{
        .main-cont{
            .ratings-container{
                .product-reviews-summary{
                    .rating-summary{
                        .rating-result:before {
                            left: 0;
                            position: absolute;
                            top: 0;
                            width: 100%;
                            z-index: 1;
                            -webkit-font-smoothing: antialiased;
                            color: @light-gray;
                            font-family: fontAwesome;
                            font-size: 20px;
                            height: 20px;
                            line-height: 20px;
                            content: '\f005' '\f005' '\f005' '\f005' '\f005';
                            display: block;
                            font-style: normal;
                            font-weight: normal;
                            speak: none;
                            letter-spacing: 0;
                        }

                        .rating-result{
                            span:before{
                                color: #FFEB00!important;
                                position: relative;
                                z-index: 2;
                                -webkit-font-smoothing: antialiased;
                                font-family: fontAwesome;
                                font-size: 20px;
                                height: 20px;
                                line-height: 20px;
                                content: '\f005' '\f005' '\f005' '\f005' '\f005';
                                display: block;
                                font-style: normal;
                                font-weight: normal;
                                speak: none;
                                letter-spacing: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .read-more-state {
        display: none;
    }

    .read-more-state ~ .read-more-trigger:before {
        content: 'Toon meer';
    }

    .read-more-state:checked ~ .read-more-trigger:before {
        content: 'Toon minder';
    }

    #read-more-state:checked ~ section .contDiv{
        height:300px;
    }

    .read-more-trigger {
        cursor: pointer;
        display: inline-block;
        padding: 5px;
        color: white;
        font-size: 1em;
        font-weight: bold;
        line-height: 2;
        border: 1px solid @menu-gray;
        border-radius: .25em;
        background: @light-orange;
        margin-top: 10px;
    }

    .amf-find {
        background: @common-green;
        border: 0;
        color: @white;
        cursor: pointer;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        border-radius: 0;
        &:hover {
            background: @common-green;
            border: 0;
            color: @black;
            cursor: pointer;
            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            border-radius: 0;
        }
    }

    .amf-reset {
        background: lightgrey;
        border: 0;
        color: @white;
        cursor: pointer;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        border-radius: 0;
        &:hover {
            background: lightgrey;
            border: 0;
            color: @black;
            cursor: pointer;
            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            border-radius: 0;
        }
    }

    .amfinder-buttons{
        display: flex;
    }
}