.catalog-thumb-page {
    .filter-container{
        display: none !important
    }
}

.page-main {
    margin-top: 110px;
}

.page-title-wrapper {
    display: none;
}

html, body{
    background: white!important;
}

.page-wrapper {
    background-color:white;
    padding-bottom:20px;
}

.image-links{
    content:''!important;
    display: initial!important;
}

.image-links:after{
    content:''!important;
    display: initial!important;
}

.image-links:before {
    content:''!important;
    display: initial!important;
    zoom: .9;
}

.header.panel {
    > .header.links {
        display: none;
    }
}

.panel.wrapper {
    background-color: @base-color !important;
    z-index: 999;
    width: 100%;
    left: 0;
    min-height: 65px;
    top: 0;
}

.action.primary:hover {
    border: none !important;
}

.product-item-info,
.product-image-container {
    width: 100%;
    height: 100% !important;
    float: none;
}

.section-item-content {
    > .header {
        background: none!important;
    }
}


.mr-product-desc-right {
    width: 100%!important;
    float: right!important;
}

.mr-product-desc-left {
    width: 100%!important;
    float: left!important;
}

#review-form {
    >.actions-toolbar {
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
}

.products {
    > .related-item {
        width: 100%!important;
    }
}

.sidebar-main {
    padding-left: 15px;
    padding-right: 15px;
}

.bundle-actions {
    width: 100%;
}

.fieldset {
    border-left: none !important;
    border-right: none !important;
    min-width:100% !important;
}

.product-item-actions {
    display:block !important;
}

.pages {
    .items {
        display: table !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.toolbar-number {
    display:none;
}

.toolbar-bottom {
    > .bottom {
        > .pager {
            > .limiter {
                margin-left: auto;
                margin-right: auto;
                display: table;
                padding-top: 20px;
            }
        }
    }
}

.home-page-columns {
    width:100%;
}

.page-products {
    .product-item-info {
        max-width:100%;
        width:100% !important;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.product-item-actions {
    .actions-primary {
        display:block !important;
    }
}


.table-wrapper .table:not(.cart):not(.totals):not(.table-comparison).additional-attributes tbody td:last-child {
    padding: 8px 10px;
}

.mobile-only {
    margin-top: 32px !important;
    background: white;

    > span.price-excluding-tax{
        padding-bottom: 18px;
        text-align: right;
    }

    > .fullwidth-hr {
        display:none;
    }
}

.columns {
    margin-top:10px;
}

td.col.action-delete {
    vertical-align: top !important;
}

.block .fa-arrow-right {
    right: 15px !important;
    padding-right: 7px;
}

.hide-submenu {
    margin-left: -15px;
    left: 15px!important;

    background: @base-color!important;
}

.caret {
    display:none !important;
}

.mobile_hide{
    display: none;
}

.methods-shipping {
    margin: 0!important;
}

#co-place-order-area{
    padding: 0 !important;
}

.col-mp {
    padding-left: 5px!important;
    padding-right: 5px!important;
}

.cart-summary {
    padding: 0!important;
    margin-top: -10px!important;
}

.megamenu-content {
    padding-left: 0 !important;
    background: @base-color !important;
}

.searchautocomplete__autocomplete._active{
    left: 15px !important;
}

.filter-options-item {
    border-bottom: solid 1px @menu-gray;
    display: block;
    padding-top: 10px;
}

.filter-options-item:first-child {
    border-top: solid 1px @menu-gray;
}

.sidebar.sidebar-main {
    padding-top: 20px;
}

.sidebar-main {
    display: none;
}

.progress-container{
    display: none;
}

.products- > .products > .product-item{
    padding-left: 0;
}

/** group page section */

.group-qty-input {
    text-align: center;
}

.group-qty-label, .group-header-sku, .group-cell-sku {
    display: none;
}

.group-field-container{
    display: block !important;
}

.group-qty-input{
    margin-right: 0!important;
}

.price-notice > .price-container:not(.weee) > .price-wrapper > .price:before {
    content: "(";
    font-size: 100% !important;
}

.price-notice > .price-container > .price-excluding-tax {
    color: darkgray;
    font-size: 100% !important;
}

.price-notice > .price-container > .price-excluding-tax > .price {
    font-size: 100% !important;
}

.price-notice > .price-container > .price-including-tax {
    color: black;
    font-weight: bold !important;
    font-size: 100%!important;
    display: none!important;
}

.mr-page-title{
    font-size: 16px;
    width: 100%;
    font-weight: 600;
    padding-bottom: 10px;
}

.table-wrapper{
    margin-bottom: 0!important;
}

a.action.action-delete {
    margin-bottom: 0!important;
}

.cart-totals-top {
    margin-top: -5px;
}

div#cart-totals > .table-wrapper > .totals {
    margin-bottom: 5px !important;
}



.fieldset > .field:not(.choice) > .control {
    float: none !important;
    width: 100% !important;
}

.create-account-checkbox,
.billing-address-same-as-shipping-block {
    font-size: 12px;
}

.checkout-billing-address {
    padding-top: 20px;
}

.items.payment-methods {
    margin: 0!important;
}

.payment-option._collapsible.opc-payment-additional.discount-code._active {
    margin: 0!important;
}

.payment-option-content {
    padding: 0!important;
}

.payment-option-title.field.choice {
    padding: 30px 0 0 0;
}

div#opc-sidebar {
    padding-top: 20px;
}

.qty-wrapper .qty-wrap {
    display: inline-block;
    width: 40px;
    height: 26px;
    line-height: 26px;
    vertical-align: top;
    position: relative;
}

.product-item-inner {
    width: initial!important;
    line-height: 14px;
    margin-bottom: 0!important;
}

td.a-left.product {
    display: flex;
    float: left;
    width: 100%;
}

.osc-place-order-block.checkout-comment-block {
    display: none;
}

.osc-trust-seal {
    text-align: center;
}

.fieldset > .field > .label{
    margin: 0!important;
}

.block-new-customer > .block-title {
    padding-bottom: 0 !important;
    margin-bottom: 5px!important;
}

tr.totals.sub > td, 
tr.totals.sub > th {
    padding-bottom: 5px!important;
}

.multi_line {
    top: -27px !important;
}


a.action.action-delete:before {
    color: @light-gray !important;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    line-height: 16px;
    color: inherit;
    content: '\f1f8';
    font-family: 'fontAwesome';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.payment-method-title.field.choice > label > span {
    font-size: 12px !important;
    font-weight: normal;
}

.payment-method-content > .checkout-agreements-block {
    display: none;
}

.payment-method-content > br {
    display: none;
}

.checkout-payment-method .payment-method-content{
    padding-bottom: 10px !important;
}

#checkout-review-table thead th, #checkout-review-table tbody tr td, #checkout-review-table tfoot tr td {
    padding: 15px 5px;
    padding-top: 16px!important;
}

.remove-wrapper {
    padding: 5px !important;
    padding-top: 0 !important;
}

.field.note.desktop-only.login-note {
    display: none;
}

/** MOBILE MENU */

.nav-open .nav-toggle:after {
    background: rgba(0,0,0,.7);
    content: '';
    display: block;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav-open .nav-sections {
    -webkit-box-shadow: 0 0 5px 0 rgba(50,50,50,.75);
    -moz-box-shadow: 0 0 5px 0 rgba(50,50,50,.75);
    -ms-box-shadow: 0 0 5px 0 rgba(50,50,50,.75);
    box-shadow: 0 0 5px 0 rgba(50,50,50,.75);
    left: -4px;
    z-index: 99;
    width: 86%;
}

.nav-sections {
    height: 100%;
    left: -90%;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 80%;
    width: calc(100% - 54px);
    background: @menu-gray;
}

/** AJAX MENU */

li.ajax-submenu-item {
    list-style: none;
    display: block;
    margin: 0;
    padding: 5px;
    border-left: 2px lightgray solid;
    color: @base-color;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
}

.level-top > span {
    font-size: 14px !important;
    color: @base-color;
}

li.ajax-submenu-item:after {
    content: '\f105';
    font-family: fontAwesome;
    float: right;
    font-size: 18px;
}

ul.ajax-submenu-parent-items,
.ajax-submenu-item-a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 10px 0 0 10px;
    border-left: 2px lightgray solid;
    color: @base-color;
    font-size: 14px;
}

li.ajax-submenu-item-no-child {
    list-style: none;
    margin: 0;
}

a.ajax-submenu-parent-item-a:not(:last-child) {
    display: block;
    padding-bottom: 10px;
}

ul.ajax-submenu-parent-item:before {
    content: '\f104';
    font-family: fontAwesome;
    float: left;
    font-size: 14px;
    padding-right: 10px;
}

.ajax-submenu-parent-item-a:last-child {
    color: @base-color;
    font-weight: bold;
}

.ajax-submenu-parent-item:not(:last-child):before,
.ajax-submenu-parent-item-a:not(:last-child):before {
    content: '\f104';
    font-family: fontAwesome;
    float: left;
    font-size: 14px;
    padding-right: 10px;
}

ul.ajax-submenu {
    padding-left: 20px;
}

.section-item-title.nav-sections-item-title.active {
    height: 60px;
    background: @base-color;
    color: white;
}

a.nav-sections-item-switch {
    color: white;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 60px;
}

.nav-sections-item-content {
    span.mobile-menu-close-button {
        display: none!important;
    }
}

.ajax-menu-top-level > li.ajax-submenu-item {
    border-left: none;
}

ul#dm {
    padding: 10px;
}

ul#dm > li.ajax-submenu-item.level-top-ajax {
    border: none;
}

/** HEADER SEARCH */

.search-autocomplete { 
    display: none;
    overflow: hidden;
    position: absolute;
    z-index: 3;
    width: 100%!important;
    margin-left: -5px;
    background: white;
    top: 115px;
    box-shadow: 0 5px 10px #c2c2c2;
    border-bottom: 1px solid #c2c2c2;

    ul{
        padding: 0;
        margin: 0;

        li{
            list-style: none;
        }
    }
}

.search-autocomplete ul li:not(:empty) {
    border-top: 0;
    border-bottom: 1px solid lightgray!important;
    background: @white;
    height: 36px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
}

span.qs-option-name {
    color: black;
    font-size: 14px;
    font-weight: normal;
    line-height: 36px;
}

.search-autocomplete ul li .amount {
    color: @light-gray;
    font-size: 11px;
    float: right;
    line-height: 36px;
}

.search-autocomplete dl dd .amount {
    color: @light-gray;
    font-size: 11px;
    float: right;
    line-height: 36px;
}

.cancel-search {
    display: none;
    padding: 0 15px 0 25px;
    line-height: 30px;
    color: @base-color;
}

.menu-loader{
    width: 100%;
    background-image: url(../images/loading_small.gif) !important;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    background-position: center;
}

/** CATALOG PAGE */

.pages {
    .action.next {
        background: @base-color;
        margin-left: 12px;
        color: white;
        border-radius: 5px;
        border: none;
        width: 25px;
        height: 25px;
    }

    .action.previous{
        background: @base-color;
        margin-left: 12px;
        color: white;
        border-radius: 5px;
        border: none;
        width: 25px;
        height: 25px;
    }

    .action.next:before {
        font-size: 25px;
        line-height: 25px;
        content: '\f105';
        font-family: fontAwesome;
        text-align: center;
        display: block;
        color: white !important;
        margin: 0 0 0 2px;
    }

    .action.previous:before {
        font-size: 25px;
        line-height: 25px;
        content: '\f104';
        font-family: fontAwesome;
        text-align: center;
        display: block;
        color: white !important;
        margin: 0 0 0 2px;
    }

    li.item:not(:first-child){
        width: 22px;
        height: 22px;
        color: white;
        margin: 0 5px;

        .page{
            padding: 0;
            margin: 0;

            .label{
                display: none!important;
            }

            span{
                font-size: 14px;
                color: black;
                padding: 5px;
                line-height: 22px;
                max-height: 14px;
                vertical-align: super;
                display: inline;
            }
        }
    }

    li.item.current{
        background: @base-color;
        width: 22px;
        height: 22px;
        color: white;
        text-align: center; 

        .page{
            padding: 0;
            margin: 0;

            .label{
                display: none!important;
            }

            span{
                font-size: 14px;
                color: white;
                padding: 5px;
                line-height: 22px;
                max-height: 14px;
                vertical-align: super;
                display: inline;
            }
        }
    }
} 

.discount-price-tag {
    width: 100%;
    background-image: url(../images/new-arrival-lable.png) !important;
    height: 100px;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
    float: right;
    z-index: 500;
    background-position-x: right;
    position: absolute;
}

.discount-price-tag-slider {
    width: 100%;
    background-image: url(../images/new-arrival-lable.png) !important;
    height: 100px;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
    float: right;
    z-index: 500;
    background-position-x: right;
    position: absolute;
}

.column.main {
    padding-bottom: 0!important;

    .product-item {
        position: relative;
    }
}

.ratings-container {
    height: 30px;
    margin-top: 5px;
}

.breadcrumbs{
    box-sizing: border-box;
    margin: 0 0 20px;
    float: left;
    width: 100% !important;
    padding-left: 0!important;
    padding-right: 15px;
    margin-left: 0;

    .items {
        font-size: 1.2rem;
        color: @light-gray;
        margin: 0;
        padding: 0;
        list-style: none none;

        .item {
            font-size: 16px;
            word-break: break-word;

            a {
                font-size: 14px;
                color: @base-color;
                word-break: break-word;
            }
        }

        .item:not(:last-child) {
            display: inline-block;
            text-decoration: none;
        }
    }
}

.breadcrumbs .item:not(:last-child):after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
    line-height: 18px;
    content: '\e608';
    font-family: 'icons-blank-theme';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.breadcrumbs .item:not(:last-child):after {
    content: " / " !important;
}

.breadcrumbs .items .item:after {
    font-size: 14px !important;
}

div.column.main:nth-child(1) div.toolbar.toolbar-products:nth-child(15) > div.pages,
div.column.main div.toolbar.toolbar-products:nth-child(17) > div.toolbar-sorter.sorter {
    display: none;
}

ul.usp-ul {
    display: none;
}

ul.usp-ul:not(:empty) {
    display: block;
    margin-left: -20px;
    margin-top: 10px;
    color: @light-gray;
}



.filter-options-content{
    .items{
        .item{
            a{
                font-size: 12px;
            }
        }
    }
}

.filter-container {
    display: grid;
    padding-bottom: 10px;

    .filter-tag{
        color: @base-color;
        border: 1px solid darkgray;
        border-radius: 20px;
        padding: 2px 10px 5px 10px;
        width: 70px;
        float: left;
        height: 25px;
    }

    span:before{
        content: '\f1de';
        font-family: fontAwesome;
        color: @base-color;
        padding-right: 5px;
    }
}

.limiter-options,
.catalog-sorter-options{
    border: 1px @dark-gray solid;
    width: 100%;
    border-radius: 3px;
    color: @dark-gray !important;
    width: 100%;
    padding: 0 2px;
    margin: 0;
}

label.sorter-label {
    line-height: 25px;
    font-size: 12px;
    font-weight: normal;
}

/** RELATED PRODUCT START */
.related-item{
    margin: 0!important;
    padding: 0!important;
    border: none!important;
    margin-bottom: 20px!important;

    .product{
        .product-item-link {
            color: @base-color !important;
            font-size: 17px !important;
            text-decoration: none !important;
            font-weight: 700 !important;
            line-height: 18px;
            overflow: hidden;
            display: inherit;
            height: 40px !important;
        }
    }

    .related-product-item-info {
        .sq-image{
            width: 100%;
            max-height: initial!important;
            max-width: initial!important;

            .photo{
                width: 100%!important;
                height: auto!important;
                position: relative!important;
                display: block!important;

                .product-image-container{
                    width: 100% !important;
                    height: auto !important;
                    float: none;
                    text-align: center;

                    .product-image-wrapper{

                        max-width: initial;
                        top: 0;
                        position: relative;
                        width: 100% !important;
                        padding: 0 !important;
                        margin: 0 !important;
                        display: block;
                        height: 100%!important;

                        .product-image-photo{
                            max-width: 240px;
                            max-height: 220px;
                            margin-left: auto;
                            margin: auto;
                            position: relative;
                        }
                    }
                }
            }
        }


        .product-item-details {
            margin: 5px 0 0 0;
            padding: 0!important;
            max-height: initial!important;

            .main-cont{
                height: 60px;
            }

            .product{
                margin: 0!important;
                float: none!important;

                .home-price-cart-group{
                    display: block;

                    .home-price-group-related{
                        display: inline-block;
                        width: 65%;
                        float: left;

                        .home-price{
                            .price-box{
                                .price-container{
                                    .price-wrapper {
                                        text-align: left;
                                    }

                                    .catalog-normal-price-main{
                                        .catalog-normal-price-cont{
                                            text-align: left;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .home-cart-group{
                        display: inline-block;
                        float: right;
                    }
                }
            }
        }
    }
}

.related{
    .block-title{
        a{
            h3{
                padding: 0;
                margin: 0;
                font-size: @mobile-large-font-size;
                color: @base-color;
                font-weight: bold;
                margin-bottom: 5px;
            }
        }
    }
}

.checkout-agreement {
    label{
        padding: 0!important;

        button{
            span{
                font-size: 12px;
                white-space: normal;
                width: 100%;
            }
        }
    }
}
/** RELATED PRODUCT END */

.column.main .opc-block-summary .product-item{
    height: 120px;
}

.checkout-shipping-label,
.grand-total-checkout-summary{
    float: right;
}

.sq-image-catalog-related {
    width: 100%;
    max-height: 220px;
    display: block;

    a.product-item-photo-catalog {
        width: 100%;
        height: 100%;
        display: block;

        span.product-image-wrapper-catalog {
            width: 100%;
            height: 100%;
            display: block;
            text-align: center;

            img.product-image-photo-catalog {
                height: 220px;
                margin-left: auto;
                margin: auto;
            }
        }
    }
}

h3#block-crosssell-heading {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: @base-color;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 24px;
}

.checkout-cart-index {
    img.product-image-photo {
        max-width: 75px!important;
        max-height: 70px!important;
    }
}

.block.crosssell{
    margin-top: 50px;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/** OFFER MODULE */

div#popup-mpdal {
    padding-top: 10px;
}

/** CATALOG THUMB PAGE */

.tile-grid-container {
    display: block;
    padding: 0;
}

.tile-container {
    position: relative;
    background-color: white;
    border: 1px solid lightgrey;
    font-size: small;
    text-align: center;
    max-height: fit-content;
    box-shadow: 1px 1px 2px @extra-light-gray;
    margin-bottom: 10px;

    .tile-link{
        display: grid;

        img.tile-image {
            max-height: 200px;
        }
    }
}

.tile-text {
    color: @dark;
    font-weight: bolder;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.title-small {
    text-align: center;
    font-size: small;
    margin: 10px!important;
    max-width: initial;
}

.image-title-cont {
    display: grid;
}

h3.tile-title {
    font-size: large;
    color: @dark-blue;
}

.cms-home-default{
    a.product-item-link{
        color: @base-color !important;
        font-size: 14px !important;
        text-decoration: none !important;
        font-weight: 700 !important;
        line-height: 18px;
        overflow: hidden;
        display: inherit;
        height: 35px !important;
        text-transform: uppercase;
    }

    .discount-price-tag {
        width: 100%;
        background-image: url(../images/new-arrival-lable.png) !important;
        height: 100px;
        background-repeat: no-repeat;
        right: 0;
        top: 0;
        float: right;
        z-index: 500;
        background-position-x: right;
        position: absolute;
    }
}

input[type=radio],
input[type=checkbox]{
    padding: 0.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0.1em solid black;
    outline-offset: 0.1em;
    width: 14px;
    height: 14px;
    margin: 2px 5px 0 0 !important;
}

input[type=radio]:checked,
input[type=checkbox]:checked{
    display: inline-block;
    background-color: @base-color;
}

input[type=radio]:focus,
input[type=checkbox]:focus,
input:not([disabled]):focus,
input:not([enabled]):focus{
    box-shadow: none !important;
    outline: 0.1em solid black;
}

.h5-blue {
    color: @base-color !important;
    font-weight:bold;
    margin-top:0px;
}

h4 {
    color: @base-color !important; 
    font-size: 1.6rem !important;
}

.related-item {
    > .related-product-item-info {
        > .product-item-photo {
            > .cataloglabel-fast-delivery {
                top: 0!important;
            }
        }
    }
}

.related-product-item-info {
    text-align: center;
}

.product-item-details-discounted {
    position: relative;
    display: grid;
}

.privacy-policy {
    width:100% !important;
}

// Team page styles

.sb-name {
    font-family: breeserif-regular;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 22px;
    line-height: 18px;
    margin-top: 17px;
    color:white;
}

.sb-function {
    font-family: breeserif-regular;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 14px;
    font-weight: lighter;
    font-style: italic;
    margin-top: 0;
    color:white;
}

.widget-title {
    margin-top: 0;
    color: @base-color;
    font-weight: bold;
    font-size: 20px;
}

.block-search {
    .label:before {
        display: none !important;
    }

    .action.search {
        &:before{
            -webkit-font-smoothing: antialiased;
            font-size: 30px !important;
            line-height: 25px !important;
        }

        > span {
            display:none;
        }
    }
}

.footer-img {
    padding: 0 5px 0px 5px;
    vertical-align: middle;
}

.message.info {
    display:flex !important;
    width:100%;
    box-sizing:border-box;
}

.home-page-main {
    > .breadcrumbs {
        display:none;
    }

    > .mr-page-title {
        display:none;
    }
}

.sq-image{
    max-width: 100%;
    max-height: 240px;
    overflow: hidden;
    text-align: center;
    top: 0;
}

.product-image-photo {
    top: ~"calc(240px - 100%)" !important; 
}

.block.filter {
    .filter-title {
        display:none;
    }
    order: 2;
}

.amasty-v-form {
    order: 1;
    background-color: @base-color !important;
    padding: 10px 15px !important;
    color: white;
    margin-bottom: 20px;
}

.filter-subtitle {
    display:none !important;
}

.block-compare {
    display:none;
}

.left-nav-item:last-child {
    > a {
        border-bottom:none;
    }
}

.amfinder-vertical, amfinder-horizontal {
    max-width: 100%;
    background: @base-color !important;
    padding: 10px;
    color: white;

    table{
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
}

h3.finder-title {
    font-size: 175%;
    margin: 5px;
}

ul.amfinder-toggle {
    padding: 0;
}

.gallery-placeholder {
    cursor:pointer;
}

.amasty-main-container {
    background: @base-color!important;
    padding: 0!important;
    padding-bottom: 0;
    color: @white;
    width: 100%;
    left: 0;
    position: absolute;
}

.amasty-base{
    min-height:106px;
}

.contact-us-right-col {
    padding-top:50px;
}

h1.h1-default {
    font-size: x-large;
    font-weight: bold;
    line-height: normal;
    font-style: normal;
    margin-top: 0px;
}

.filter-current{
    > .items{
        > .item{
            > .remove:after {
                content: "\f00d";
                font-family: FontAwesome;
                color: red;
            }
        }
    }
}

.searchautocomplete__autocomplete {
    left: 0!important;
}

.searchautocomplete__autocomplete {
    .show-all-results a {
        color: @black!important;
    }
}

.searchautocomplete__autocomplete {
    ul {
        color: @a-color!important;
        font-weight: bold;
    }
}

.searchautocomplete__item-magento_catalog_product {
    a.title {
        color: @a-color!important;
        font-weight: 600!important;
        text-align: left;
    }
}

.searchautocomplete__highlight {
    font-weight:bolder !important;
}

.searchautocomplete__item-magento_catalog_product {
    .description {
        text-align: left;
        font-weight:normal;
    }
}

.searchautocomplete__autocomplete {
    ul {
        li {
            border-bottom: solid .5px #FAEBD7;
            text-align: left;
        }
    }
}

.searchautocomplete__autocomplete {
    ul {
        li {
            a {
                color: @a-color;
            }
        }
    }
}

.searchautocomplete__autocomplete {
    ul {
        li {
            span {
                color: @a-color;
            }
        }
    }
}

.column.main {
    .block {
        .title {
            strong {
                font-size:15px !important;
            }
        }
    }
}

select {
    color: initial !important;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: none !important;
    border-bottom:none !important;
}

.tax-item {
    display: table-row;
}

.callback-title {
    font-weight: bolder;
    line-height: 50px;
    color: @base-color;
}

.callback-button {
    background-color: @light-orange !important;
}

.current-site {
    color: @base-color;
    font-size: 16px;
    font-weight: bold;
}

.current-site:before {
    content: none !important;
}

.current-site-none {
    display: none;
}

.page-header {
    padding-bottom: 9px;
    margin: 0 0 20px !important;
    border-bottom: 1px solid #eee;
}

.related {
    > .block-content {
        > .block-actions {
            display: none;
        }
    }
}

.label {
    font-size: 100% !important;
    font-weight: 700 !important;
    color: @black !important;
    text-align: left !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    border-radius: 0 !important;
}

.advanced {
    display: none;
}

.mr-gold {
    color: orange;
}

.mr-small {
    top: -20px;
    margin-left: 140px;
    position: relative;
    padding: 0;
    font-size: small;
}

.group-page-title {
    color: @base-color;
    font-size: 16px;
    font-weight: bold;
    display: block;
}

.pager li > a, 
.pager li > span {
    border: none !important;
    border-radius: 0 !important;
}

.item {
    list-style: none;
}

.checkout-landing-product-image-container {
    width: 75px;
    float: left;
    padding-right: 10px;
}

.checkout-landing-price {
    color: @base-color !important;
    font-weight: bold !important;
    font-size: 100% !important;
}

.checkout-landing-table-item {
    vertical-align: middle !important;
    text-align: right;
}

.custom-google {
    display: none;
}

.filter-search-button {
    background-image: none;
    background: @light-orange;
    border: 0;
    color: @white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 0;
    width: 127px;
}

.filter-reset-button {
    background-image: none;
    background: @white;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 0;
    color: @base-color;
}

h2.h2-default {
    font-size: x-large;
    font-weight: bold;
    line-height: normal;
    font-style: normal;
    margin-top: 0px;
}

.product-ask-info {
    text-align: center;
    padding: 10px 0 10px 0;
    font-weight: bold;
    font-size: 92%;
    background-color: #EEE;
}

.callback-button, .checkout {
    width: 100%;
}

.cc-custom-widget {
    background: #ff0;
    padding: 30px;
    border-radius: 5px;
    width: 100%;
    align: 100%;
}

.in-stock-24{
    color: @dark; 
    font-weight: 600;
}

.in-stock-workingdays{
    color: @dark; 
    font-weight: 400;
}

.expanded {
    display: block !important;
}

td.col.action-delete {
    vertical-align: middle;
}

td.col.qty {
    width: 150px;
}

#remember-me-box {
    > .checkbox {
        float: left;
    }

    > .label {
        padding: 0 0 0 10px;
    }
}

.amfinder-toggle > li{
    width: 100%!important;
}

.select2 {
    width: 100%!important;
}

.product.media {
    margin: 0;
    margin-bottom: 0!important;
}

span.price-container {
    display: flex;
    flex-flow: column;
}

span.add-to-cart-container {
    display: flex;
    width: 100%;
    align-items: end;
}

.products-grid .product-item-actions {
    margin: 15px 0 !important;
    float: left;
    width: 100%;
}

.price-cart-main-container-list {
    width: 100%;
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.nav {
    margin-top: 40px;
}

.pull-right {
    float: right;
}

a.action.primary.continue {
    height: auto;
}

.level1 > .ui-corner-all:not(:last-child):after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 42px;
    color: inherit;
    content: '\e622';
    font-family: 'icons-blank-theme';
    float: right;
    position: absolute;
    right: 0;
    margin-top: -5px;
}

.turnaround:after {
    transform: rotate(180deg);
}

li.item.product.product-item.slick-slide {
    padding: 10px!important;
    border-right: 1px solid @menu-gray;
}

.noresult-info-container {
    padding: 0 10px 0 10px;
    border: 2px solid @common-green;
    border-radius: 10px;
    margin-right: 20px;
}

h3.noresult-heading, span.noresult-green-text {
    color: @common-green;
}

span.noresult-green-text {
    color: @common-green;
    font-weight: 600;
}

ul.noresult-tips, ul.noresult-contact-info {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 8px;
}

ul.noresult-tips > li, ul.noresult-contact-info > li {
    line-height: 12px;
    font-weight: 600;
}

ul.noresult-tips {
    margin-bottom: 20px;
}
 
ul.noresult-contact-info {
    margin-top: 20px;
}

.ves-inner > .row > .row-inner > .col-lg-12{
    width: 100% !important;
}

.mp-lg-6{
    width: 100%!important;
}

.contDiv {
    height: 150px;
    overflow: hidden;
}

.collapse {
    display: none!important;
}

#registration > div > form > input {
    width: auto;
    height: auto;
}

a.action.primary.small {
    height: auto;
}

.fieldset.address >.field {
    margin: 0!important;
}

td.a-center {
    vertical-align: middle;
}

.newsletter {
    display: none;
}

#top-cart-btn-checkout {
    background: @common-green !important;
    border: none !important;
}

#top-cart-btn-checkout:hover {
    background: @dark-green !important;
    border: none !important;
}

#top-cart-btn-checkout:disabled {
    background: @dark-green !important;
    border: none !important;
    width: 100%!important;
}

.action.primary,
.action.primary:visited {
    background: @common-green !important;
    border: 0!important;
    color: @white;
    width: 100%;
    display: inline-block;
    line-height: 30px;
}

.action.primary:focus,
.action.primary:hover,
.action.primary:active {
    background: @dark-green !important;
    border: 0!important;
    color: @white;
    width: 100%;
    display: inline-block;
    line-height: 30px;
}

.action.submit,
.action.submit:visited
{
    background: @light-orange !important;
    border: none !important;
}

.action.submit:hover,
.action.submit:focus,
.action.submit:active
{
    background-color:@light-orange !important;
    border: none !important;
}

li.mr-menu-item, 
li.left-nav-item{
    margin: 0;
}

.action.primary[disabled] > span{
    display: none;
}

.chosen-container-single .chosen-search input[type=text]{
    color: black;
}

.modals-overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999!important;
}

.control > .options-list > .field {
    display: flex;
}

.minicart-wrapper .action.showcart .counter.qty {
    background: @light-orange !important;
    width: 25px;
    height: 25px!important;
    color: white!important;
    line-height: 25px!important;
    border-radius: 20px!important;
    margin-top: -10px !important;
    display: inline-block;
    text-align: center;
    position: relative;
}

span.price-label {
    display: none;
}

tr.grand-total {
    font-weight: bold;
}

.mark{
    background: white!important;
    float: left;
    padding: 8px!important;
}

span.discount.coupon {
    display: none;
}

.catalog-search-noresult {
    .amfinder-common-wrapper{
        display: none;
    }
}

a#offer-submit,
a#product-offer-button {
    background: #ededed;
    border-radius: 6px;
    text-align: center;

    &:hover{
        background: #cbcbcb;
        transition: .3s;
    }
}

.popup-title{
    font-size: x-large;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
    text-align: center;
    color: @base-color;
    margin-bottom: 15px;
}

.un-reg-cus .btn-primary:hover{
    text-decoration: none;
}

.un-reg-cus .btn-primary{
    color: @white;
    font-weight: 700;
    font-size: 15px;
}

.un-reg-cus .field{
    padding: 5px 0;
}

.modal-popup._inner-scroll .modal-inner-wrap {
    width: 50%;
    padding: 0px 15px;
}

.un-reg-cus input[type="text"], 
.un-reg-cus input[type="email"]{
    height: 35px;
}

.modal-popup .modal-footer {
    padding-bottom: 2rem;
    padding-top: 0rem;
}

.mr-page-title {
    font-size: 16px;
    width: 100%;
    font-weight: 600;
    padding-bottom: 10px;
}

.ma-header-wrapper {
    display: none;
}

.price-label {
    display: none !important;
}

.price-container 
{
    .price-excluding-tax
    {
        .price 
        {
            font-size: 19px !important;
            font-weight: 600 !important
        }
    }
}


.block-wishlist {
    display: none !important;
}

.modal-content {
    padding-bottom: 10px;
}

aside.modal-popup.confirm._show {
    .modal-inner-wrap {
        margin-top: 50% !important;
    }
}

.un-reg-cus{
    .customer-name {
        .field {
            margin: 10px 0;
        }

        .btn-primary {
            width: 100%;
            margin: 0;
            display: block;
            height: 40px;
            font-size: 14px;
            background-color: @common-green;
            cursor: pointer;
            font-weight: 700;
            padding: 0;
            box-sizing: border-box;
            vertical-align: middle;
            border: 0!important;
            color: @white;
            box-shadow: inset 0 -2px 0 0 #090;
            transition: .3s;
            line-height: 40px;

            &:hover {
                background: @dark-green;
            }

            &:active {
                background: @dark-green;
            }

            &:visited {
                background: @dark-green;
            }

            &:focus {
                background: @dark-green;
                color: @white;
            }
        }
    }
}

.modal-popup.modal-slide {
    left: 0!important;
    z-index: 1000 !important;
}
