.page-layout-navpage,
.page-layout-agri-contact-us-page {

    .left-nav {
        list-style-type: none;
        padding: 0;
        width: 100%;
    }

    .contact-us-columns {
        display:block;
    }

    .contact-us-right-col {
        width:100%;
    }

    .mr-page-title-navpage > h1 {
        font-size: 16px !important;
        font-weight: 600;
        width: 100%;
        color: black;
        display: block;
    }

    .nav-page-content > p {
        font-size: 12px;
    }

    .nav-page-content > p > em > strong {
        font-size: 14px;
    }

    .cms-page-bottom-title{
        font-size: 16px;
        font-weight: bold;
        color: @base-color;
        margin: 0;
    }

    .cms-page-bottom-content{
        font-size: 12px;
        font-weight: normal;
        color: @dark-gray;
    }

    .cms-page-bottom-phone-normal{
        font-size: 12px;
        color: black;
        margin: 0;
    }

    .cms-page-bottom-img{
        width: 100px;
        height: 102px;
    }

    .cms-page-bottom-td-img{
        width: 100px;
        height: 102px;
        padding: 0;
    }

    .cusomter-service-bottom {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .mr-page-title-navpage {
        border-bottom: 1px solid #eee;
        margin-bottom: 10px;
    }

    .cms-privacy-policy .page-main {
        padding-top: 0!important;
    }

    .left-nav-item a {
        display: block;
        color: @a-color;
        line-height: 40px;
        text-decoration: none;
        border-bottom: #e2e2e2 1px solid;
        font-size: 16px;
    }
}