.page-footer {
    box-sizing: border-box;
    display: block;
    padding-bottom: 55px;
    float: left;
    width: 100%;
    color: white;
    margin-top: 0;
    background: white;

    .content{
        color: white;
        box-sizing: border-box;
        border-top: none;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-top: 1px !important;
        padding-left: 0;
        padding-right: 0;

        .newsletter {
            display: none;
        }

        .footer {
            color: white;
            box-sizing: border-box;
            border-top: none;
            margin-top: 0px;
            padding-bottom: 0px;
            padding-top: 1px !important;
            padding-left: 0;
            padding-right: 0;

            #footer-table {
                display: none;
            }

            .custom-footer{
                .menu-footer{
                    color: white;
                    box-sizing: border-box;
                    width: 100%;
                    background: @base-color;
                    height: 100%;
                    display: inline-flex;
                }
            }
        }
    }
}

ul#menu-klantenservice {
    margin: 10px;
    width: 100%;
    display: grid;
}

ul#menu-klantenservice li:not(:last-child) {
    border-bottom: 1px solid white;
}

ul#menu-klantenservice a {
    color: white;
    padding: 8px;
    width: 100%;
    display: block;
}

li.footer-item > a:after {
    content: "\f054";
    font-family: fontawesome;
    float: right;
}

.footer-item{
    margin: 0;
}

ul#menu-klantenservice {
    margin: 0;
    padding: 10px;
}

.footer.content {
    border-top: none;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 1px !important;
}

img.footer-logo {
    margin-left: auto;
    margin-right: auto;
    width: 132px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.terms {
    color: @base-color;
    text-align: center;
}