.page-header {
    -webkit-box-shadow: 0 10px 10px #c2c2c2;
    -moz-box-shadow: 0 10px 10px #c2c2c2;
    box-shadow: 0 5px 10px #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    margin-bottom: 20px;
    background: #eee;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 99999;
    top: 0;
}

.panel {
    height: 100px;
    margin: 0;
    background: none;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.logo {
    padding: 5px 0 3px 0;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    display: block;
}

.contact-phone {
    display: block;
    height: 40px;
    float: right;
    margin-top: -45px;
    right: 80px;
    cursor: pointer;
    position: relative;

    &:after{
        font-family: fontAwesome;
        content: '\f095';
        font-size: x-large;
        color: white;
    }
}

.minicart-wrapper{
    margin-top: -45px !important;
    display: block;
    float: right!important;
    margin: 10px;
    cursor: pointer;
    position: relative;
}

.block-search {
    width: 100%;
    height: 40px;
    background: #eee;
    margin-top: 0!important;
    padding-left: 5px;
    padding-right: 5px;

    .block-content {
        height: 40px;
        width: 100%;

        form#search_mini_form {
            padding-top: 5px;
        }
    }

    .control {
        border: none!important;
        display: flex;
        float: left;
        width: 100%;
    }

    input {
        margin: 0!important;
        height: 30px;
        border: none!important;
        position: relative!important;
        left: 0;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .action.search{
        float: right !important;
        position: relative !important;
        display: inline-block !important;
        background: @base-color;
        opacity: 1;
        height: 30px;
        width: 40px;
        border: @base-color solid 1px;
        border-radius: 0 3px 3px 0;
    }

    .action.search:before {
        -webkit-font-smoothing: antialiased;
        font-size: 30px!important;
        line-height: 20px!important;
        color: white;
        content: '\e615';
        font-family: 'icons-blank-theme';
        margin: 0;
        vertical-align: top;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center;
        margin-left: -10px;
        margin-top: -3px;
    }
}

.nav-toggle {
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    position: relative;
}

.nav-toggle:before {
    -webkit-font-smoothing: antialiased;
    font-size: 28px;
    line-height: inherit;
    color: @white !important;
}

.navigation {
    .parent {
        .level-top:after {
            line-height:25px !important;
            content: '\f105'!important;
            font-family: fontAwesome;
            font-size: 14px;
            color: @base-color;
        }
    }
}

.showcart {
    pointer-events: none !important;
}

.top-menu-link-mobile {
    font-weight:bold;
    font-size:16px;
}

.topmenu-container {
    display:none;
}

.checkout-index-index {
    span.contact-phone {
        display: block;
        height: 40px;
        float: right;
        margin-top: -85px;
        right: 80px;
        cursor: pointer;
        position: relative;
    }

    .minicart-wrapper {
        display: block;
        float: right;
        margin: 10px;
        cursor: pointer;
        position: relative;
        margin-top: -85px !important;
    }
}