.customer-account-login,
.customer-account-forgotpassword,
.customer-account-create {

    div#remember-me-box {
        display: none;
    }

    #block-customer-login-heading {
        font-size: 16px;
        font-weight: 600;
    }

    .login > .field > .control > .input-text {
        border: 1px @light-gray solid;
    }

    .login-toolbar{
        display: block!important;
    }

    .secondary.login-forgot-password {
        text-align: right;
        margin-bottom: 5px;
    }

    .secondary.login-forgot-password > a {
        font-weight: normal;
        font-size: 12px;
    }

    .action.primary, .action.primary:visited {
        height: 30px;
        border-radius: 3px;
        font-weight: normal;
        font-size: 14px;
        line-height: 30px;
        padding: 0;
    }

    .login > .field > label > span {
        font-size: 12px;
        font-weight: normal;
    }

    .login > .field {
        margin: 0 0 5px;
    }

    strong#block-new-customer-heading {
        font-size: 16px;
        font-weight: 600;
    }

    .new-customer-desc {
        font-size: 12px;
        margin-bottom: 5px !important;

        > p {
            margin: 5px 0 10px;
        }
    }

    u.new-customer-ul {
        text-decoration: none;
        font-size: 12px;
        margin-bottom: -15px !important;
        display: block;
    }

    li.new-customer-li {
        text-decoration: none;
        padding-left: 10px;
    }

    .login-container {
        margin-left: 15px;
        margin-right: 15px;
        padding-top: 10px;
        margin-bottom: 40px;
    }

    .actions-toolbar.login-toolbar {
        margin-top: -7px;
    }

    span.login-required-item {
        margin-top: 5px!important;
        display: block;
        font-size: 12px;
        line-height: 12px;
    }

    span.login-required-item:before {
        color: red;
        font-size: 12px;
        content: '*';
    }

    .login-container .fieldset:after{
        display: none;
    }

    .block.block-customer-login {
        margin-bottom: 15px;
    }

    .block-title{
        padding-bottom: 5px!important;
        margin-bottom: 5px!important;
    }

    /** REGISTER PAGE */

    .form-create-account {
        padding-left: 15px;
        padding-right: 15px;
    }

    .form-create-account > .fieldset .field > .control > .input-text,
    .form-create-account > .fieldset .field > .control > .select {
        border: 1px @light-gray solid;
    }

    .form-create-account > .fieldset > .field > label > span {
        font-size: 12px;
        font-weight: normal;
    }

    .form-create-account > .fieldset > .field {
        margin: 0 0 5px;
    }

    .new-account > .legend > span,
    .create > .legend > span{
        font-size: 16px;
        font-weight: 600;
    }

    .register-links {
        padding-top: 20px;
        padding-bottom: 15px;
    }

    span.register-required-item {
        float: left;
        margin: 0 !important;
        font-size: 12px;
    }

    span.register-required-item:before {
        margin-top: -20px;
        color: red;
        font-size: 12px;
        content: '*';
    }

    .secondary.register-forgot-password {
        float: right;
        font-size: 12px;
        margin: 0!important;
    }

    .customer-account-forgotpassword,
    .customer-account-create{   
        .register-forgot-toolbar{
            div.primary {
                float: right;
                width: 80%;
                display: block;
                position: relative;
            }

            div.secondary {
                float: left;
                width: 18%;
                display: block;
                position: relative;

                .register-back {
                    display: block;
                    float: left;
                    text-align: left;
                    font-size: 12px;
                    height: 30px;
                    color: white;
                    background: @base-color;
                    border-radius: 3px;

                    &:before{
                        content: '\f060';
                        color: white;
                        font-family: fontAwesome;
                        font-size: large;
                        text-align: center;
                        width: 100%;
                        display: block;
                        line-height: 30px;
                    }
                }
            }
        }
    }

    .customer-account-forgotpassword{

        .control.captcha-image {
            margin-top: 10px;
            display: block;

            .captcha-img {
                margin-bottom: 10px;
                display: block;
                float: left;
            }

            .captcha-reload{
                width: 25%;
                float: right;

                span{
                    font-size: 12px;
                }
            }
        }
    }

    .password-strength-meter{
        font-size: 12px;
    }

    .left-nav-item a:after {
        content: "\f054";
        font-family: fontawesome;
        float: right;
    }

    .left-nav-item.bold a {
        font-weight: bold;
    }

    .left-nav-item-bold a:after {
        content: "\f054";
        font-family: fontawesome;
        float: right;
    }
}

.customer-address-form {

    #maincontent {
        padding-top: 0!important;
    }
    
    .checkbox {
        float: left;
    }

    .field {
        margin: 10px 0 !important;

        .label {
            width: 92% !important;
            padding: 0 0 0 5px;
            top: 0;
            position: relative;
        }
    }

    .form-address-edit {
        .fieldset {
            .legend {
                margin: 10px 0 0 0 !important;
                padding: 0;
                box-sizing: border-box;
                float: left;
                line-height: 1.2;
                font-size: 2rem;
            }
        }
    }
}