.catalog-product-view {

    .swatch-attribute-options {
        display: flex;
    }

    .swatch-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        text-align: center;
        > span {
            display: block;
            font-size: 12px;
            max-width: 120px;
        }

        > span.swatch-price {
            color: @a-color;
        }
    }

    .swatch-option {
        border: 1px solid #dadada;
        cursor: pointer;
        float: left;
        height: 65px !important;
        width: 33.333333% !important;
        margin: 0 5px;
        max-width: 100%;
        min-width: 30px;
        overflow: hidden;
        padding: 1px 2px;
        position: relative;
        text-align: center;
        text-overflow: ellipsis;
    }

    .swatch-attribute-label {
        color: @a-color;
        font-size: 16px;
    }
    .swatch-option.text {
        background: #f0f0f0;
        color: #686868;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        padding: 4px 8px;
        min-width: 22px;
        margin-right: 7px;
    }
    .swatch-option.text.selected {
        background-color: #fff !important;
    }
    .swatch-option.selected {
        border: 2px solid @a-color;
        outline: none;
        color: #333;
    }
    .swatch-option:not(.disabled):hover {
        border: 1px solid #fff;
        color: #333;
    }
    .swatch-option.image:not(.disabled):hover,
        .swatch-option.color:not(.disabled):hover {
        border: 2px solid #052C5C;
        outline: none;
    }
    .swatch-option.disabled {
        cursor: not-allowed;
    }
    .swatch-option.disabled:after {
        bottom: 0;
        background: rgba(0, 0, 0, .5);
        border: 1px solid #444444;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    .swatch-option-disabled {
        border: 0;
        cursor: default;
        outline: none !important;
    }

    .video-product iframe {
        width: 440px;
        height: 260px;
    }

    .product.media {
        z-index: 10;
    }

    .page-header {
        margin-bottom: 0;
        border-bottom: 0;
    }


    .home-image {
        max-height: 100vh;
        object-fit: cover;
        width: 100%;
        filter: brightness(50%);
    }

    .product-info-main {
        margin-top: 10px;
    }

    .page-wrapper {
        background-color:white;
        min-height: calc(~"100vh - 434px");
    }

    .image-links{
        content:''!important;
        display: initial!important;
    }

    .product-options-wrapper{
        display: none;
    }

    .product-options-wrapper {
        height: ~"calc(-140px + 100%)"; 
        overflow-y: scroll;
        overflow-x: hidden;
    }


    .choice > .label {
        width: 90% !important;
        /* position: relative; */
        display: inline-block !important;
    }


    .product-options-wrapper {
        position: relative;
        padding-bottom: 20px !important;
        .tmp-msg {
            font-size:14px;
            -webkit-animation-name: pulsate; /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
            -webkit-animation-iteration-count: 3;
            animation-name: pulsate;
            animation-duration: 4s;
            animation-iteration-count: 3;
            position: fixed;
            bottom: 115px;
        }

        /* Safari 4.0 - 8.0 */
        @-webkit-keyframes pulsate {
            0% {font-size: 14px;}
            50% {font-size: 16px;}
            100% {font-size: 14px;}
        }

        /* Standard syntax */
        @keyframes pulsate {
            0% {font-size: 14px;}
            50% {font-size: 16px;}
            100% {font-size: 14px;}
        }

        .options-list {
            // height: calc(80% - 90px);
            padding: 8px;
            width: 90%;



            .admin__field-label > span:first-child {
                width: 80%;
                display: block;
                float: left;
                word-wrap: break-word;
                white-space: normal !important;
            }

            .field{

                border-bottom: 1px solid #d3d3d3;

                span.price-notice {
                    width: 20%;
                    display: block;
                    float: right;
                    max-width: 80px;
                    word-wrap: break-word;
                }
                .catalog-normal-price span {
                    white-space: nowrap !important;
                }
            }
        }
    }

    .discount-price-tag-product {
        position: relative;
        top: -35px;
        right: -35px;
        z-index: 2;

        &:after{
            content: 'aanbiedings!';
            text-transform: uppercase;
            position: absolute;
            background: @light-orange;
            color: white;
            width: 300px;
            text-align: center;
            padding: 0.5em 0;
            box-sizing: border-box;
            transform: rotate(45deg) translate(30%, -25%);
            transform-origin: 50% 50%;
            right: 0;
        }



        .product-info-price {

            .product-price-box {
                float: right;
                margin-top: -15px;

                .price-final_price {
                    display: flex;
                    flex-direction: column-reverse;
                }
            }

            .product-info-stock-sku{
                .mr-sku{
                    span{
                        font-size: @mobile-normal-font-size;
                        font-weight: normal;
                    }
                }
            }

            .shipping-status-product-page{
                .in-stock-pro-page{
                    color: @dark-green;
                    font-weight: bold;
                    font-size: @mobile-normal-font-size;

                    span{
                        font-size: @mobile-normal-font-size;
                        color: @light-gray;
                        font-weight: normal;
                        display: block;
                    }
                }

                .in-stock-pro-page:before{
                    font-family: fontAwesome;
                    font-size: @mobile-normal-font-size;
                    content: '\f058';
                    color: @dark-green;
                    padding-right: 5px;
                }

                .out-stock-pro-page{
                    color: red;
                    font-weight: bold;
                    font-size: @mobile-normal-font-size;

                    span{
                        font-size: @mobile-normal-font-size;
                        color: @light-gray;
                        font-weight: normal;
                    }
                }

                .out-stock-pro-page:before{
                    font-family: fontAwesome;
                    font-size: @mobile-normal-font-size;
                    content: '\f058';
                    color: red;
                    padding-right: 5px;
                }

                p{
                    font-size: @mobile-normal-font-size;
                }
            }
        }

        .product-info-main.info-box {
            margin-top: 0;
        }

        .link_bar{
            display: none;
        }

        h2.mr-desc-title,
        .mr-desc-title {
            padding: 0;
            margin: 0;
            font-size: @mobile-large-font-size;
            color: @dark-green;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .mr-product-desc-right{
            p{
                font-size: 14px;
            }
        }

        .breadcrumbs-pro-page {
            order: -1;
        }

        .product-info-price{
            .product-price-box{
                .price-and-ratings{
                    .price-box{
                        .catalog-special-price-main{
                            .catalog-special-price-cont{
                                display: grid;

                                .catalog-special-price{
                                    padding: 0;
                                    .amount{
                                        float: right;
                                        font-style: 20px;
                                    }
                                }

                                .catalog-old-price{
                                    padding: 0;
                                    .amount{
                                        float: right;
                                        font-size: 16px;
                                        text-decoration: line-through;
                                    }
                                }
                            }

                            .catalog-price-incl-tax{
                                display: none;
                            }
                        }
                    }
                }
            }
        }



        .additional-attributes-wrapper{
            table{
                tbody{
                    tr{
                        padding: 3px;
                        font-size: 14px;
                    }

                    tr:nth-child(even){
                        background: #F2F0F0;
                    }
                }
            }
        }


        .contact-info-pro-page {
            width: 100%;
            display: block;

            span {
                display: block;
                width: 45%;
                float: left;
                font-size: 11px;
                text-align: center;
                color: @light-gray;
            }
        }

        .contact-info-pro-page {
            width: 100%;
            display: block;
            margin-top: 5px;
            border-bottom: 1px solid lightgray;
            height: 40px;
        }

        .product.info.detailed{
            margin-bottom: 20px;
        }


        .review-legend{
            width: 100%;

            .review-field-ratings{
                .label{
                    font-style: italic;
                    font-weight: bold!important;
                    font-size: @mobile-normal-font-size!important;
                    margin-bottom: 10px;
                }
            }

            .field{
                margin-bottom: 5px;

                .label{
                    span{
                        font-size: @mobile-normal-font-size;
                        font-weight: normal;
                    }
                }

                .control{
                    .input-text{
                        border: 1px solid lightgray;
                    }
                }
            }
        }

        .review-list-pro-page{
            .block-title{
                span{
                    font-size: @mobile-large-font-size;
                    font-weight: bold;
                    color: @dark-green;
                }
            }
        }

        .title-date-review-pro-page{
            height: 15px;

            .review-title-pro-page{
                float: left;
                font-size: 12px;
                font-weight: 600;
            }

            .review-details-value-pro-page{
                float: right;
                font-size: 10px;
                font-style: italic;
                color: @light-gray;
            }
        }

        .review-ratings-pro-page{
            display: block;
            max-width: 100%;
            float: left;
            width: 100%;
        }

        .review-content {
            font-size: @mobile-small-font-size;
            font-weight: 600;
            color: @light-gray;
            padding: 0;
            margin: 0;
        }

        .review-item {
            padding: 0 0 20px 0;
            border-bottom: none;
        }

        .review-toolbar{
            display: none;
        }

        h3.review-title {
            display: none;
        }

        .review-field-ratings .nested {
            height: 15px;
            display: table;
            margin-top: -8px;
            margin-left: 5px;
        }

        .control-review {
            display: flex;

            span.ratings-label {
                font-size: 11px;
            }
        }

        .review-control-vote:before{
            color: @light-gray;
            font-family: fontAwesome;
            font-size: 15px;
            letter-spacing: 3px;
            font-style: normal;
            font-weight: normal;
            speak: none;
            vertical-align: top;
            -webkit-font-smoothing: antialiased;
            content: '\f005' '\f005' '\f005' '\f005' '\f005';
            display: block;
            position: absolute;
            z-index: 1;
        }

        .review-control-vote label:before {
            color: #FFEB00;
            font-family: fontAwesome;
            font-size: 15px;
            letter-spacing: 3px;
            font-style: normal;
            font-weight: normal;
            speak: none;
            vertical-align: top;
            -webkit-font-smoothing: antialiased;
            content: '\f005' '\f005' '\f005' '\f005' '\f005';
            display: block;
            position: absolute;
            opacity: 0;
        }

        .review-control-vote .rating-1:before {
            content: '\f005';
        }

        .review-control-vote .rating-2:before {
            content: '\f005' '\f005';
        }

        .review-control-vote .rating-3:before {
            content: '\f005' '\f005' '\f005';
        }

        .review-control-vote .rating-4:before {
            content: '\f005' '\f005' '\f005' '\f005';
        }

        .review-control-vote .rating-5:before {
            content: '\f005' '\f005' '\f005' '\f005' '\f005';
        }

        fieldset.field.required.review-field-ratings {
            margin-bottom: 5px;
        }

        .product-options-wrapper {

            .fieldset{
                // height: calc(80% - 90px);

                .swatch-opt{
                    margin: 0;

                    div{
                        span{
                            font-size: 11px;

                        }

                        div{
                            margin: 0;

                            select{
                                border: 1px solid lightgray;
                                margin-bottom: 5px;
                            }
                        }
                    }
                }

                .field{
                    span {
                        width: 70%;
                        display: block;
                        float: left;
                    }
                    span.price-notice {
                        width: 30%;
                    }
                    .label{
                        span{
                            font-size: 11px;
                        }
                    }

                    .control{
                        select{
                            border: 1px solid lightgray;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }

        .MagicToolboxSelectorsContainer{
            div{
                grid-template-columns: auto auto auto auto auto auto;
                min-width: 10%;
            }
        }

        div.MagicToolboxContainer.selectorsBottom .MagicToolboxSelectorsContainer a{
            vertical-align: middle;
            margin: 0 2px;
            display: inline-block!important;
            max-width: 17%;
        }

    }

    .product-info-stock-sku{
        width: 100%;
    }

    .product-info-price .product-info-stock-sku .mr-sku span {
        font-size: 14px;
        font-weight: normal;
    }

    .product-info-price .product-price-box {
        float: right;
        margin-top: -15px;
    }


    .price-and-ratings {
        width: 100%;
        display: -webkit-inline-box;
        display: inline-flex;
    }

    .in-stock-pro-page{
        color: @dark-green;
        font-weight: bold;
        font-size: @mobile-normal-font-size;

        span{
            font-size: @mobile-normal-font-size;
            color: @light-gray;
            font-weight: normal;
            display: block;
        }
    }

    .in-stock-pro-page:before{
        font-family: fontAwesome;
        font-size: @mobile-normal-font-size;
        content: '\f058';
        color: @dark-green;
        padding-right: 5px;
    }

    .out-stock-pro-page{
        color: red;
        font-weight: bold;
        font-size: @mobile-normal-font-size;

        span{
            font-size: @mobile-normal-font-size;
            color: @light-gray;
            font-weight: normal;
        }
    }

    .out-stock-pro-page:before{
        font-family: fontAwesome;
        font-size: @mobile-normal-font-size;
        content: '\f058';
        color: red;
        padding-right: 5px;
    }

    p{
        font-size: @mobile-normal-font-size;
    }

    ul.ul-product-points {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        margin-top: 10px;

        li.product-points {
            font-size: @mobile-normal-font-size;
            color: @light-gray;
            margin: 0;
            width: 100%;
            float: left;

            b{
                color: @dark-green;
                font-weight: bold;
            }
        }

        .product-points:before {
            color: @dark-green;
            content: "\f00c";
            font-family: fontawesome;
            display: block;
            float: left;
            padding-right: 5px;
            font-size: @mobile-normal-font-size;
        }
    }

    .short-floatable {
        height: 72px !important;
    }

    .mr-right-info-box {
        margin-bottom: 10px;
        margin-top: 10px !important;
        display: grid;
        border-bottom: 1px solid lightgray;
        width: 100%;
    }

    .mr-right-info-box-desktop,
    .link_bar {
        display: none !important;
    }

    .product-add-form {
        width: 100% !important;
        float: none !important;
        clear: both !important;
    }

    .float-opnen:before {
        display: block;
        background: @white;
        width:100%;
        height:100%;
        content: " ";
        left:0;
        top:0;
        position:fixed;
    }

    .popup-mpdal {
        display:none;
    }

    .floatable-add-to-cart {
        background: @white;
        bottom: 0;
        position: fixed;
        height: 100%;
        z-index: 20;
        padding: 5px 15px;
        border-top: #cecece solid 2px;
        max-height: 120px;
        left: 0;
        .contact-info-pro-page{
            border: none;
        }

        &:not(:empty){
            display: grid;
            animation: fadein 2s;
            -moz-animation: fadein 2s; /* Firefox */
            -webkit-animation: fadein 2s; /* Safari and Chrome */
            -o-animation: fadein 2s; /* Opera */
        }

        &:hover body {
            pointer-events: none;
        }

        form#product_addtocart_form {
            display: block;
            overflow-y: scroll !important;
            position: relative;
            z-index:9;
        }

        .contact-info-pro-page {
            border: none; 
        }
    }

    .mr-box-tocart-pro-page .fieldset-pro-page {
        display: block !important;
        max-height: 100px !important;
        bottom: 10px;
        position: absolute;
        width: 100%;
    }

    span.qty-label-pro-page {
        float: left;
        line-height: 45px;
        vertical-align: middle;
        padding-right: 5px;
        font-size: 16px;
    }


    .mr-box-tocart-pro-page .fieldset-pro-page .actions-pro-page .mr-tocart {
        height: 45px;
    }

    .mr-box-tocart-pro-page .fieldset-pro-page .actions-pro-page .mr-tocart span {
        font-size: 16px !important;
    }

    .mr-box-tocart-pro-page .fieldset-pro-page .actions-pro-page .mr-tocart span:before {
        font-family: fontAwesome;
        content: '\f07a';
        color: @white;
        padding-right: 5px;
    }

    .review-fieldset-star{
        box-sizing: border-box;
        min-width: 0;
        padding: 0;
        margin: 0;
        border: none !important;
        -webkit-padding-start: 0 !important;
        -webkit-margin-start: 0 !important;
        -webkit-margin-end: 0 !important;
        -webkit-padding-end: 0 !important;
    }

    .review-legend {
        width: 100%;
    }

    h3.review-title {
        display: none;
    }

    .review-legend .field {
        margin-bottom: 5px;
    }

    .review-legend .field .control .input-text {
        border: 1px solid #d3d3d3;
    }

    #review-form>.actions-toolbar {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .control-review {
        display: flex;
    }

    .control-review span.ratings-label {
        font-size: 11px;
        padding-top: 8px;
    }

    .review-field-ratings .review-field-rating .control {
        padding-top: 2px;
        padding-bottom: 10px;
        vertical-align: top;
    }

    .review-control-vote:before {
        color: #c7c7c7;
        font-family: fontAwesome;
        font-size: 15px;
        letter-spacing: 3px;
        font-style: normal;
        font-weight: 400;
        speak: none;
        vertical-align: top;
        -webkit-font-smoothing: antialiased;
        content: '\f005' '\f005' '\f005' '\f005' '\f005';
        display: block;
        position: absolute;
        z-index: 1;
    }

    .review-control-vote input[type=radio] {
        border: 0;
        clip: rect(0,0,0,0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }



    .product-page-content {
        display: grid;
    }

    .review-summary-product-page {
        .product-reviews-summary{

        }
    }

    li.item.product.product-item {
        // margin-left: -20px;
        margin-right: -20px;
        padding-bottom: 20px;
        display: grid;
    }

    li.item.product.product-item:not(:last-child){
        border-bottom: 1px solid lightgray;
    }

    .products-wrapper.grid.products-grid {
        padding-bottom: 40px;
    }

    span.checkout-item-minus,
    a.minus.checkout-item-minus,
    span.minus-pro-page,
    .minus-cart {
        display: block!important;
        width: 40px!important;
        height: 45px!important;
        float: left!important;
        color: @black!important;
        border: 1px solid @light-gray;
        border-radius: 5px 0 0 5px;
        border-right: none;
        line-height: 38px;
        font-size: x-large;
        cursor: pointer;
        text-align: center;
    }

    span.checkout-item-plus,
    a.plus.checkout-item-plus,
    span.plus-pro-page,
    .plus-cart {
        display: block!important;
        width: 40px!important;
        height: 45px!important;
        float: right;
        color: @black!important;
        border: 1px solid @light-gray;
        border-radius: 0 5px 5px 0;
        border-left: none;
        line-height: 45px;
        font-size: x-large;
        margin-left: 0!important;
        cursor: pointer;
        text-align: center;
    }

    .review-summary-product-page{
        .product-reviews-summary{
            .rating-summary{
                .rating-result:before {
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    z-index: 1;
                    -webkit-font-smoothing: antialiased;
                    color: @light-gray;
                    font-family: fontAwesome;
                    font-size: 20px;
                    height: 20px;
                    line-height: 20px;
                    content: '\f005' '\f005' '\f005' '\f005' '\f005';
                    display: block;
                    font-style: normal;
                    font-weight: normal;
                    speak: none;
                    letter-spacing: 0;
                }

                span:before{
                    color: #FFEB00!important;
                    position: relative;
                    z-index: 2;
                    -webkit-font-smoothing: antialiased;
                    font-family: fontAwesome;
                    font-size: 20px;
                    height: 20px;
                    line-height: 20px;
                    content: '\f005' '\f005' '\f005' '\f005' '\f005';
                    display: block;
                    font-style: normal;
                    font-weight: normal;
                    speak: none;
                    letter-spacing: 0;
                }
            }

            .reviews-actions{
                font-size: 12px;
            }
        }
    }

    .review-ratings-pro-page{
        .rating-summary{
            .rating-result{

                span:before{
                    color: #FFEB00!important;
                    position: relative;
                    z-index: 2;
                    -webkit-font-smoothing: antialiased;
                    font-family: fontAwesome;
                    font-size: 20px;
                    height: 20px;
                    line-height: 20px;
                    content: '\f005' '\f005' '\f005' '\f005' '\f005';
                    display: block;
                    font-style: normal;
                    font-weight: normal;
                    speak: none;
                    letter-spacing: 0;
                }
            }

            .rating-result:before {
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 1;
                -webkit-font-smoothing: antialiased;
                color: @light-gray;
                font-family: fontAwesome;
                font-size: 20px;
                height: 20px;
                letter-spacing: 0;
                line-height: 20px;
                content: '\f005' '\f005' '\f005' '\f005' '\f005';
                display: block;
                font-style: normal;
                font-weight: normal;
                speak: none;
            }
        }
    }



    /** CONFIGURABLE.. */
    .catalog-product-view #product_addtocart_form {
        height: 80px !important;
        overflow-y: scroll !important;
    }

    .product-options-wrapper h4 {
        display: none;
    }

    .fieldset .field {
        display: none ;
    }

    .configure-product-finish {
        display:none;
    }

    .configure-product, .configure-product-finish {
        width: 100%;
        padding: 0;
        font-size: @mobile-large-font-size;
        margin-bottom:8px;
        background: @button-normal-color;
        font-weight: 600;
        font-family: Helvetica, sans-serif;
        color: white;
        // padding: 8px 0;
        text-align: center;
        line-height:40px;
    }

    .configure-product::after {
        font-family: fontAwesome;
        content: '\f044';
        text-align: center;
        font-size: 1.2em;
        // color: @dark-green;
        margin-left: 5px;
        position: absolute;
        top: 0px;
    }
    /** END CONFIGURABLE.. */

    .mr-box-tocart-pro-page{
        .fieldset-pro-page{

            .qty-wrapper-pro-page{
                float: left;

                .item_qty {
                    width: 35px;
                    height: 45px;
                    padding: 0;
                    margin: 0;
                    border: 1px solid @light-gray;
                    text-align: center;
                }
            }

            span.qty-label-pro-page {
                float: left;
                line-height: 45px;
                vertical-align: middle;
                padding-right: 5px;
                font-size: 16px;
            }

            .actions-pro-page{
                float: right;
                width: ~"calc(-124px + 100%)";

                .mr-tocart{
                    height: 45px;

                    span{
                        font-size: 15px!important;
                        font-weight: normal;
                    }

                    span:before{
                        font-family: fontAwesome;
                        content: '\f07a';
                        color: white;
                        padding-right: 5px;
                    }
                }
            }
        }
    }

    iframe.feature_video {
        width: 100%;
        height: auto;
    }

    .review-section {
        border-top: solid 1px lightgray;
        padding-top: 10px;
        margin-top: 10px;
    }

    .mr-info-nav-desktop{
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #fff;

        .mr-menu-item-first {
            height: 52px;
        }

        .mr-menu-item a {
            display: block;
            color: #666;
            padding: 0;
            text-decoration: none;
            border-top: 1px solid #d3d3d3;
            font-size: 16px;
            line-height: 50px;
        }

        .mr-small {
            top: -20px;
            margin-left: 140px;
            position: relative;
            padding: 0;
            font-size: small;
        }

        .mr-menu-item:first-child a {
            border: none;
        }

        .mr-menu-item {
            a:before {
                content: "\f054";
                color: #15719f;
                padding-right: 15px;
                font-family: fontawesome;
            }
        }
    }

    .product.info.detailed{
        display:none;
    }

    .un-reg-cus{
        margin-top: 60px;


        .popup-close-header {
            display: inline;

            span.popup-close-button {
                float: left;
            }
            
            h1 {
                margin: 0 !important
            }
        }

        h1.popup-title {
            font-size: 20px;
        }

        .popup-close-button{

            float: left;

            &:before {
                color: black;
                content: '\f00d';
                font-size: 20px;
                z-index: 9;
                font-family: fontAwesome;
                position: relative;
            }

        }
    }

}
