.topmenu-container {
    width:100%;
    background:#cccccc;
    height:50px;
}

.topmenu-ul {
    margin:0;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
}

.top-menu {
    width: 100%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}

li.top-menu-item {
    float: left;
    min-width: 150px;
    list-style-type: none;
    margin:0;
}

a.top-menu-link {
    color: @dark-gray;
    float: left;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    font-weight: bold;
    display: block;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    padding: 0 10px 0 10px;
}

a.top-menu-link:hover {
    color: @orange;
}

a.top-menu-link:active {
    color: @orange;
}

a.top-menu-link.active {
    background: #f5f5f5;
}

.top-menu-link-mobile {
    display:none;
}

.menu-container {
    width: 100%;
}
.menu-mobile {
    display: block;
}
.menu-dropdown-icon {
    &:before {
        display: block;
    }
}
.menu {
    > ul {
        display: none;
        > li {
            width: 100%;
            float: none;
            display: block;
            a {
                padding: 1.5em;
                width: 100%;
                display: block;
            }
            > ul {
                position: relative;
                &.normal-sub {
                    width: 100%;
                }
                > li {
                    float: none;
                    width: 100%;
                    margin-top: 20px;
                    &:first-child {
                        margin: 0;
                    }
                    > ul {
                        position: relative;
                        > li {
                            float: none;
                        }
                    }
                }
            }
        }
    }
    .show-on-mobile {
        display: block;
    }
}
.topstatic,.bottomstatic {
    display:none;
}
.leftstatic {
    display:none;
}
.rightstatic {
    display:none;
}

.nav-section-title-cont{
    display: block;

    .title-item-left {
        display: block;
        width: 20%;
        height: 60px;
        float: left;
        line-height: 60px;

        .title-item-link{
            display: block;
        }

        .mobile-menu-login {
            &:before {
                color: white;
                content: '\f007';
                font-size: 40px;
                z-index: 9;
                font-family: fontAwesome;
                position: relative;
            }
        }
    }

    .title-item-center {
        display: block;
        width: 60%;
        float: left;
        line-height: 60px;
        font-size: 16px;
        font-weight: bold;
    }

    .title-item-right {
        display: block;
        width: 20%;
        height: 60px;
        float: right;
        line-height: 60px;

        .mobile-menu-close-button {
            &:before {
                color: white;
                content: '\f00d';
                font-size: 40px;
                z-index: 9;
                font-family: fontAwesome;
                position: relative;
            }
        }
    }
}