<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<?php

/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;
?>
<p class="toolbar-amount" id="toolbar-amount">
     <?php if ($block->getLastPageNum() > 1): ?>
          <?php
          /* @escapeNotVerified */ echo __('Items %1-%2 of %3', '<span class="toolbar-number">' . $block->getFirstNum() . '</span>', '<span class="toolbar-number">' . $block->getLastNum() . '</span>', '<span class="toolbar-number">' . $block->getTotalNum() . '</span>')
          ?>
     <?php elseif ($block->getTotalNum() == 1): ?>
          <?php /* @escapeNotVerified */ echo __('%1 Item', '<span class="toolbar-number">' . $block->getTotalNum() . '</span>')
          ?>
     <?php else: ?>
          <?php /* @escapeNotVerified */ echo __('%1 Items', '<span class="toolbar-number">' . $block->getTotalNum() . '</span>')
          ?>
     <?php endif; ?>
</p>
