<?php

/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;
?>

<div class="field limiter" id="limiter-container">
    <div class="control">
        <select id="limiter" data-role="limiter" class="limiter-options">
            <?php foreach ($block->getAvailableLimit() as $_key => $_limit): ?>
                <option value="<?php /* @escapeNotVerified */ echo $_key ?>"<?php if ($block->isLimitCurrent($_key)): ?>
                            selected="selected"<?php endif ?>><?php /* @escapeNotVerified */ echo $_limit . __(' products per page') ?></option>
            <?php endforeach; ?>
        </select>
    </div>
</div>