<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<?php
/**
 * Customer additional info for register and login forms
 *
 */
?>
<?php if ($this->helper('Magento\Checkout\Helper\Data')->isContextCheckout()): ?>
    <input name="context" type="hidden" value="checkout" />
<?php endif; ?>

<div class="field confirmation required">
    <label class="label"><span>Land</span></label>
    <div class="control">
        <select class="select" name="country_id" id="T6IKOLL" aria-required="true" aria-invalid="false"><option value=""> </option><option data-title="België" value="BE">België</option><option data-title="Nederland" value="NL">Nederland</option><option data-title="──────────" value="delimiter" disabled="true">──────────</option><option data-title="Afghanistan" value="AF">Afghanistan</option><option data-title="Ålandeilanden" value="AX">Ålandeilanden</option><option data-title="Albanië" value="AL">Albanië</option><option data-title="Algerije" value="DZ">Algerije</option><option data-title="Amerikaanse Maagdeneilanden" value="VI">Amerikaanse Maagdeneilanden</option><option data-title="Amerikaans Samoa" value="AS">Amerikaans Samoa</option><option data-title="Andorra" value="AD">Andorra</option><option data-title="Angola" value="AO">Angola</option><option data-title="Anguilla" value="AI">Anguilla</option><option data-title="Antarctica" value="AQ">Antarctica</option><option data-title="Antigua en Barbuda" value="AG">Antigua en Barbuda</option><option data-title="Argentinië" value="AR">Argentinië</option><option data-title="Armenië" value="AM">Armenië</option><option data-title="Aruba" value="AW">Aruba</option><option data-title="Australië" value="AU">Australië</option><option data-title="Azerbeidzjan" value="AZ">Azerbeidzjan</option><option data-title="Bahama’s" value="BS">Bahama’s</option><option data-title="Bahrein" value="BH">Bahrein</option><option data-title="Bangladesh" value="BD">Bangladesh</option><option data-title="Barbados" value="BB">Barbados</option><option data-title="Belize" value="BZ">Belize</option><option data-title="Benin" value="BJ">Benin</option><option data-title="Bermuda" value="BM">Bermuda</option><option data-title="Bhutan" value="BT">Bhutan</option><option data-title="Bolivia" value="BO">Bolivia</option><option data-title="Bosnië en Herzegovina" value="BA">Bosnië en Herzegovina</option><option data-title="Botswana" value="BW">Botswana</option><option data-title="Bouveteiland" value="BV">Bouveteiland</option><option data-title="Brazilië" value="BR">Brazilië</option><option data-title="Britse Gebieden in de Indische Oceaan" value="IO">Britse Gebieden in de Indische Oceaan</option><option data-title="Britse Maagdeneilanden" value="VG">Britse Maagdeneilanden</option><option data-title="Brunei" value="BN">Brunei</option><option data-title="Bulgarije" value="BG">Bulgarije</option><option data-title="Burkina Faso" value="BF">Burkina Faso</option><option data-title="Burundi" value="BI">Burundi</option><option data-title="Cambodja" value="KH">Cambodja</option><option data-title="Canada" value="CA">Canada</option><option data-title="Caymaneilanden" value="KY">Caymaneilanden</option><option data-title="Centraal-Afrikaanse Republiek" value="CF">Centraal-Afrikaanse Republiek</option><option data-title="Chili" value="CL">Chili</option><option data-title="China" value="CN">China</option><option data-title="Christmaseiland" value="CX">Christmaseiland</option><option data-title="Cocoseilanden" value="CC">Cocoseilanden</option><option data-title="Colombia" value="CO">Colombia</option><option data-title="Comoren" value="KM">Comoren</option><option data-title="Congo-Brazzaville" value="CG">Congo-Brazzaville</option><option data-title="Congo-Kinshasa" value="CD">Congo-Kinshasa</option><option data-title="Cookeilanden" value="CK">Cookeilanden</option><option data-title="Costa Rica" value="CR">Costa Rica</option><option data-title="Cuba" value="CU">Cuba</option><option data-title="Cyprus" value="CY">Cyprus</option><option data-title="Denemarken" value="DK">Denemarken</option><option data-title="Djibouti" value="DJ">Djibouti</option><option data-title="Dominica" value="DM">Dominica</option><option data-title="Dominicaanse Republiek" value="DO">Dominicaanse Republiek</option><option data-title="Duitsland" value="DE">Duitsland</option><option data-title="Ecuador" value="EC">Ecuador</option><option data-title="Egypte" value="EG">Egypte</option><option data-title="El Salvador" value="SV">El Salvador</option><option data-title="Equatoriaal-Guinea" value="GQ">Equatoriaal-Guinea</option><option data-title="Eritrea" value="ER">Eritrea</option><option data-title="Estland" value="EE">Estland</option><option data-title="Ethiopië" value="ET">Ethiopië</option><option data-title="Faeröer" value="FO">Faeröer</option><option data-title="Falklandeilanden" value="FK">Falklandeilanden</option><option data-title="Fiji" value="FJ">Fiji</option><option data-title="Filipijnen" value="PH">Filipijnen</option><option data-title="Finland" value="FI">Finland</option><option data-title="Frankrijk" value="FR">Frankrijk</option><option data-title="Franse Gebieden in de zuidelijke Indische Oceaan" value="TF">Franse Gebieden in de zuidelijke Indische Oceaan</option><option data-title="Frans-Guyana" value="GF">Frans-Guyana</option><option data-title="Frans-Polynesië" value="PF">Frans-Polynesië</option><option data-title="Gabon" value="GA">Gabon</option><option data-title="Gambia" value="GM">Gambia</option><option data-title="Georgië" value="GE">Georgië</option><option data-title="Ghana" value="GH">Ghana</option><option data-title="Gibraltar" value="GI">Gibraltar</option><option data-title="Grenada" value="GD">Grenada</option><option data-title="Griekenland" value="GR">Griekenland</option><option data-title="Groenland" value="GL">Groenland</option><option data-title="Guadeloupe" value="GP">Guadeloupe</option><option data-title="Guam" value="GU">Guam</option><option data-title="Guatemala" value="GT">Guatemala</option><option data-title="Guernsey" value="GG">Guernsey</option><option data-title="Guinee" value="GN">Guinee</option><option data-title="Guinee-Bissau" value="GW">Guinee-Bissau</option><option data-title="Guyana" value="GY">Guyana</option><option data-title="Haïti" value="HT">Haïti</option><option data-title="Heard- en McDonaldeilanden" value="HM">Heard- en McDonaldeilanden</option><option data-title="Honduras" value="HN">Honduras</option><option data-title="Hongarije" value="HU">Hongarije</option><option data-title="Hongkong SAR van China" value="HK">Hongkong SAR van China</option><option data-title="Ierland" value="IE">Ierland</option><option data-title="IJsland" value="IS">IJsland</option><option data-title="India" value="IN">India</option><option data-title="Indonesië" value="ID">Indonesië</option><option data-title="Irak" value="IQ">Irak</option><option data-title="Iran" value="IR">Iran</option><option data-title="Isle of Man" value="IM">Isle of Man</option><option data-title="Israël" value="IL">Israël</option><option data-title="Italië" value="IT">Italië</option><option data-title="Ivoorkust" value="CI">Ivoorkust</option><option data-title="Jamaica" value="JM">Jamaica</option><option data-title="Japan" value="JP">Japan</option><option data-title="Jemen" value="YE">Jemen</option><option data-title="Jersey" value="JE">Jersey</option><option data-title="Jordanië" value="JO">Jordanië</option><option data-title="Kaapverdië" value="CV">Kaapverdië</option><option data-title="Kameroen" value="CM">Kameroen</option><option data-title="Kazachstan" value="KZ">Kazachstan</option><option data-title="Kenia" value="KE">Kenia</option><option data-title="Kirgizië" value="KG">Kirgizië</option><option data-title="Kiribati" value="KI">Kiribati</option><option data-title="Kleine afgelegen eilanden van de Verenigde Staten" value="UM">Kleine afgelegen eilanden van de Verenigde Staten</option><option data-title="Koeweit" value="KW">Koeweit</option><option data-title="Kroatië" value="HR">Kroatië</option><option data-title="Laos" value="LA">Laos</option><option data-title="Lesotho" value="LS">Lesotho</option><option data-title="Letland" value="LV">Letland</option><option data-title="Libanon" value="LB">Libanon</option><option data-title="Liberia" value="LR">Liberia</option><option data-title="Libië" value="LY">Libië</option><option data-title="Liechtenstein" value="LI">Liechtenstein</option><option data-title="Litouwen" value="LT">Litouwen</option><option data-title="Luxemburg" value="LU">Luxemburg</option><option data-title="Macao SAR van China" value="MO">Macao SAR van China</option><option data-title="Macedonië" value="MK">Macedonië</option><option data-title="Madagaskar" value="MG">Madagaskar</option><option data-title="Malawi" value="MW">Malawi</option><option data-title="Maldiven" value="MV">Maldiven</option><option data-title="Maleisië" value="MY">Maleisië</option><option data-title="Mali" value="ML">Mali</option><option data-title="Malta" value="MT">Malta</option><option data-title="Marokko" value="MA">Marokko</option><option data-title="Marshalleilanden" value="MH">Marshalleilanden</option><option data-title="Martinique" value="MQ">Martinique</option><option data-title="Mauritanië" value="MR">Mauritanië</option><option data-title="Mauritius" value="MU">Mauritius</option><option data-title="Mayotte" value="YT">Mayotte</option><option data-title="Mexico" value="MX">Mexico</option><option data-title="Micronesië" value="FM">Micronesië</option><option data-title="Moldavië" value="MD">Moldavië</option><option data-title="Monaco" value="MC">Monaco</option><option data-title="Mongolië" value="MN">Mongolië</option><option data-title="Montenegro" value="ME">Montenegro</option><option data-title="Montserrat" value="MS">Montserrat</option><option data-title="Mozambique" value="MZ">Mozambique</option><option data-title="Myanmar" value="MM">Myanmar</option><option data-title="Namibië" value="NA">Namibië</option><option data-title="Nauru" value="NR">Nauru</option><option data-title="Nederlandse Antillen" value="AN">Nederlandse Antillen</option><option data-title="Nepal" value="NP">Nepal</option><option data-title="Nicaragua" value="NI">Nicaragua</option><option data-title="Nieuw-Caledonië" value="NC">Nieuw-Caledonië</option><option data-title="Nieuw-Zeeland" value="NZ">Nieuw-Zeeland</option><option data-title="Niger" value="NE">Niger</option><option data-title="Nigeria" value="NG">Nigeria</option><option data-title="Niue" value="NU">Niue</option><option data-title="Noordelijke Marianeneilanden" value="MP">Noordelijke Marianeneilanden</option><option data-title="Noord-Korea" value="KP">Noord-Korea</option><option data-title="Noorwegen" value="NO">Noorwegen</option><option data-title="Norfolkeiland" value="NF">Norfolkeiland</option><option data-title="Oeganda" value="UG">Oeganda</option><option data-title="Oekraïne" value="UA">Oekraïne</option><option data-title="Oezbekistan" value="UZ">Oezbekistan</option><option data-title="Oman" value="OM">Oman</option><option data-title="Oostenrijk" value="AT">Oostenrijk</option><option data-title="Oost-Timor" value="TL">Oost-Timor</option><option data-title="Pakistan" value="PK">Pakistan</option><option data-title="Palau" value="PW">Palau</option><option data-title="Palestijnse gebieden" value="PS">Palestijnse gebieden</option><option data-title="Panama" value="PA">Panama</option><option data-title="Papoea-Nieuw-Guinea" value="PG">Papoea-Nieuw-Guinea</option><option data-title="Paraguay" value="PY">Paraguay</option><option data-title="Peru" value="PE">Peru</option><option data-title="Pitcairneilanden" value="PN">Pitcairneilanden</option><option data-title="Polen" value="PL">Polen</option><option data-title="Portugal" value="PT">Portugal</option><option data-title="Qatar" value="QA">Qatar</option><option data-title="Réunion" value="RE">Réunion</option><option data-title="Roemenië" value="RO">Roemenië</option><option data-title="Rusland" value="RU">Rusland</option><option data-title="Rwanda" value="RW">Rwanda</option><option data-title="Saint Barthélemy" value="BL">Saint Barthélemy</option><option data-title="Saint Kitts en Nevis" value="KN">Saint Kitts en Nevis</option><option data-title="Saint Lucia" value="LC">Saint Lucia</option><option data-title="Saint-Martin" value="MF">Saint-Martin</option><option data-title="Saint Pierre en Miquelon" value="PM">Saint Pierre en Miquelon</option><option data-title="Saint Vincent en de Grenadines" value="VC">Saint Vincent en de Grenadines</option><option data-title="Salomonseilanden" value="SB">Salomonseilanden</option><option data-title="Samoa" value="WS">Samoa</option><option data-title="San Marino" value="SM">San Marino</option><option data-title="Saoedi-Arabië" value="SA">Saoedi-Arabië</option><option data-title="Sao Tomé en Principe" value="ST">Sao Tomé en Principe</option><option data-title="Senegal" value="SN">Senegal</option><option data-title="Servië" value="RS">Servië</option><option data-title="Seychellen" value="SC">Seychellen</option><option data-title="Sierra Leone" value="SL">Sierra Leone</option><option data-title="Singapore" value="SG">Singapore</option><option data-title="Sint-Helena" value="SH">Sint-Helena</option><option data-title="Slovenië" value="SI">Slovenië</option><option data-title="Slowakije" value="SK">Slowakije</option><option data-title="Soedan" value="SD">Soedan</option><option data-title="Somalië" value="SO">Somalië</option><option data-title="Spanje" value="ES">Spanje</option><option data-title="Sri Lanka" value="LK">Sri Lanka</option><option data-title="Suriname" value="SR">Suriname</option><option data-title="Svalbard en Jan Mayen" value="SJ">Svalbard en Jan Mayen</option><option data-title="Swaziland" value="SZ">Swaziland</option><option data-title="Syrië" value="SY">Syrië</option><option data-title="Tadzjikistan" value="TJ">Tadzjikistan</option><option data-title="Taiwan" value="TW">Taiwan</option><option data-title="Tanzania" value="TZ">Tanzania</option><option data-title="Thailand" value="TH">Thailand</option><option data-title="Togo" value="TG">Togo</option><option data-title="Tokelau" value="TK">Tokelau</option><option data-title="Tonga" value="TO">Tonga</option><option data-title="Trinidad en Tobago" value="TT">Trinidad en Tobago</option><option data-title="Tsjaad" value="TD">Tsjaad</option><option data-title="Tsjechië" value="CZ">Tsjechië</option><option data-title="Tunesië" value="TN">Tunesië</option><option data-title="Turkije" value="TR">Turkije</option><option data-title="Turkmenistan" value="TM">Turkmenistan</option><option data-title="Turks- en Caicoseilanden" value="TC">Turks- en Caicoseilanden</option><option data-title="Tuvalu" value="TV">Tuvalu</option><option data-title="Uruguay" value="UY">Uruguay</option><option data-title="Vanuatu" value="VU">Vanuatu</option><option data-title="Vaticaanstad" value="VA">Vaticaanstad</option><option data-title="Venezuela" value="VE">Venezuela</option><option data-title="Verenigde Arabische Emiraten" value="AE">Verenigde Arabische Emiraten</option><option data-title="Verenigde Staten" value="US">Verenigde Staten</option><option data-title="Verenigd Koninkrijk" value="GB">Verenigd Koninkrijk</option><option data-title="Vietnam" value="VN">Vietnam</option><option data-title="Wallis en Futuna" value="WF">Wallis en Futuna</option><option data-title="Westelijke Sahara" value="EH">Westelijke Sahara</option><option data-title="Wit-Rusland" value="BY">Wit-Rusland</option><option data-title="Zambia" value="ZM">Zambia</option><option data-title="Zimbabwe" value="ZW">Zimbabwe</option><option data-title="Zuid-Afrika" value="ZA">Zuid-Afrika</option><option data-title="Zuid-Georgia en Zuidelijke Sandwicheilanden" value="GS">Zuid-Georgia en Zuidelijke Sandwicheilanden</option><option data-title="Zuid-Korea" value="KR">Zuid-Korea</option><option data-title="Zweden" value="SE">Zweden</option><option data-title="Zwitserland" value="CH">Zwitserland</option></select>
    </div>
</div>