<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login\Info $block */
?>
<?php if ($block->getRegistration()->isAllowed()): ?>
<div class="block block-new-customer">
    <div class="block-title">
        <strong id="block-new-customer-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('New Customer')) ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-new-customer-heading">
        <p class="new-customer-desc"><?= $block->escapeHtml(__('Het aanmaken van een account heeft vele voordelen:')) ?></p>
        
        <u class="new-customer-ul">
            <li class="new-customer-li">Sneller afrekenen</li>
            <li class="new-customer-li">Meer dan 1 adres beheren</li>
            <li class="new-customer-li">Bestellingen traceren</li>
            <li class="new-customer-li">En meer</li>
        </u>
        
        <div class="actions-toolbar">
            <div class="primary">
                <a href="<?= $block->escapeUrl($block->getCreateAccountUrl()) ?>" class="action create primary"><span><?= $block->escapeHtml(__('Create an Account')) ?></span></a>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>
