<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<tr class="totals">
     <th colspan="<?php /* @escapeNotVerified */ echo $block->getColspan(); ?>" style="<?php /* @escapeNotVerified */ echo $block->getTotal()->getStyle() ?>" class="grand-sub-totals" scope="row">
          <?php if ($block->getRenderingArea() == $block->getTotal()->getArea()): ?><strong><?php endif; ?>
               <?php /* @escapeNotVerified */ echo $block->escapeHtml($block->getTotal()->getTitle()); ?>
               <?php if ($block->getRenderingArea() == $block->getTotal()->getArea()): ?></strong><?php endif; ?>
     </th>
     <td style="<?php /* @escapeNotVerified */ echo $block->getTotal()->getStyle() ?>" class="amount" data-th="<?php echo $block->escapeHtml($block->getTotal()->getTitle()); ?>">
          <?php if ($block->getRenderingArea() == $block->getTotal()->getArea()): ?><strong><?php endif; ?>
               <span><?php /* @escapeNotVerified */ echo $this->helper('Magento\Checkout\Helper\Data')->formatPrice($block->getTotal()->getValue()) ?></span>
               <?php if ($block->getRenderingArea() == $block->getTotal()->getArea()): ?></strong><?php endif; ?>
     </td>
</tr>