<?php
/** @var \Magento\Catalog\Pricing\Render\FinalPriceBox $block */
$productId = $block->getSaleableItem()->getId();

/** ex: \Magento\Catalog\Pricing\Price\RegularPrice */
/** @var \Magento\Framework\Pricing\Price\PriceInterface $priceModel */
$priceModel = $block->getPriceType('regular_price');

/** ex: \Magento\Catalog\Pricing\Price\FinalPrice */
/** @var \Magento\Framework\Pricing\Price\PriceInterface $finalPriceModel */
$finalPriceModel = $block->getPriceType('final_price');
$idSuffix = $block->getIdSuffix() ? $block->getIdSuffix() : '';
$schema = ($block->getZone() == 'item_view') ? true : false;

$product = $block->getSaleableItem();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of Object Manager
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data'); // Instance of Pricing Helper
?>

<?php if ($block->hasSpecialPrice()): ?>
    <div class="catalog-special-price-main">
        <div class="catalog-special-price-cont">
            <span class="catalog-old-price">
                <span class="amount"><?php echo $priceHelper->currency($priceModel->getAmount()->getValue(), true, false); ?></span>
            </span>
            <span class="catalog-special-price">
                <span class="amount"><?php echo $priceHelper->currency($product->getSpecialPrice(), true, false); ?></span>
            </span>
        </div>
        <span class="catalog-price-incl-tax">
            <span class="amount">( <?php echo $priceHelper->currency($product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue(), true, false); ?> Incl.BTW )</span>
        </span>
    </div>
<?php else: ?>
    <?php
    /* @escapeNotVerified */ echo $block->renderAmount($finalPriceModel->getAmount(), [
        'price_id' => $block->getPriceId('product-price-' . $idSuffix),
        'price_type' => 'finalPrice',
        'include_container' => true,
        'schema' => $schema
    ]);
    ?>
<?php endif; ?>

<?php if ($block->showMinimalPrice()): ?>
    <?php if ($block->getUseLinkForAsLowAs()): ?>
        <a href="<?= /* @escapeNotVerified */ $block->getSaleableItem()->getProductUrl() ?>" class="minimal-price-link">
            <?= /* @escapeNotVerified */ $block->renderAmountMinimal() ?>
        </a>
    <?php else: ?>
        <span class="minimal-price-link">
            <?= /* @escapeNotVerified */ $block->renderAmountMinimal() ?>
        </span>
    <?php endif ?>
<?php endif; ?>